<app-registro-actividades></app-registro-actividades>


<div class="container mt-2 mb-5" style="width: 50%;">
    
    <div class="row">
        <div class="col d-flex justify-content-center ">
            <div class="btn btn-primary shadow rounded  text-white" style="width: 70%; border: 0;" routerLink="/guardia-pasiva">GUARDIA PASIVA</div>
        </div>
        <div class="col d-flex justify-content-center">
            <div class="btn btn-primary  shadow   rounded  text-white" style="width: 70%; border: 0;"  routerLink="/guardia-activa">
                GUARDIA ACTIVA</div>
        </div>
    </div>
</div>