<div class=" d-flex justify-content-center align-items-center ">
    <form>
        <div class="form-group">
            <label for="serviceType">Tipo de Servicio</label>
            <select name="service" [(ngModel)]="selectedService" class="form-control">
                <option value="consultorio">Consultorio</option>
                <option value="paseSala">Pase de Sala</option>
                <option value="guardia">Guardia</option>
            </select>
            <div [ngSwitch]="selectedService">
                <div *ngSwitchCase="'consultorio'">
                    <p>valor seleccionado: {{selectedService}}</p>
                </div>
                <div *ngSwitchCase="'paseSala'">
                    <p>valor seleccionado: {{selectedService}}</p>
                </div>
                <div *ngSwitchCase="'guardia'">
                    <label for="GuardType">Tipo de Guardia</label>
                    <select name="guard" [(ngModel)]="selectedGuard" class="form-control"
                        (change)="updateButtonState()">
                        <option value="extra">Guardia Extra</option>
                        <option value="contra">Contra Factura</option>
                        <option value="cargo">Cargo</option>
                        <option value="reagrupacion">Reagrupacion</option>
                    </select>
                    <div [ngSwitch]="selectedGuard">
                        <div *ngSwitchCase="'extra'">
                            <p>valor seleccionado: {{selectedGuard}}</p>
                        </div>
                        <div *ngSwitchCase="'contra'">
                            <p>valor seleccionado: {{selectedGuard}}</p>
                        </div>
                        <div *ngSwitchCase="'cargo'">
                            <p>valor seleccionado: {{selectedGuard}}</p>
                        </div>
                        <div *ngSwitchCase="'reagrupacion'">
                            <p>valor seleccionado: {{selectedGuard}}</p>
                        </div>
                    </div>
                </div>
                <button name="btnSearch" mat-button (click)="openPopup('SearchProfessionalComponent')"
                    class="btn btn-success" [disabled]="disableButton">Buscar Profesional</button>
            </div>
        </div>
        <div>
            <h2>Detalles del Profesional</h2>
            <p>ID: {{ selectedId }}</p>
            <p>CUIL: {{ selectedCuil }}</p>
            <p>Nombre: {{ selectedNombre }}</p>
            <p>Apellido: {{ selectedApellido }}</p>
            <p>Profesión: {{ selectedProfesion }}</p>
        </div>
        <div class="col-8 dateCheck">
            <label for="dtpCheckIn" id="labelDateCheck">Ingreso </label>
            <app-calendar [isReadOnly]="true"></app-calendar>
            <label for="dtpCheckIn" id="labelDateCheck"> Hora </label>
            <app-time-picker></app-time-picker>
        </div>
        <div class="col-8 dateCheck">
            <label for="dtpCheckIn">Egreso </label>
            <app-calendar [isReadOnly]="false"></app-calendar>
            <label for="dtpCheckIn"> Hora </label>
            <app-time-picker></app-time-picker>
        </div>

        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>