<app-spinner></app-spinner>
<div id="container-title-hosp" *ngIf="selectedEfector">
  <div class="text-title-hosp">
    <mat-icon>person_pin</mat-icon> &nbsp;&nbsp;{{selectedEfector.nombre}}
  </div>
</div>

<div class="container">
  <div class="row"></div>
  
  <div class="row">
    <div class="col-12 m d-flex justify-content-center">
      <div class="titulos_extra"><span class="titulos-second">LOGIN DE PROFESIONAL</span></div>
    </div>
  </div>

  <div id="formContent" class="row mt-5">
    <div class="col-4"></div>
    <div class="col-4">
      <form (ngSubmit)="onLogin()" novalidate>
        <mat-form-field appearance="outline">
          <mat-icon matPrefix>person</mat-icon>
          <mat-label>Usuario</mat-label>
          <input matInput [(ngModel)]="nombreUsuario" name="nombreUsuario" required>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-icon matPrefix>vpn_key</mat-icon>
          <mat-label>Contraseña</mat-label>
          <input matInput type="{{ hide ? 'password' : 'text' }}" [(ngModel)]="password" name="password" required>
          <mat-icon matSuffix (click)="hide = !hide">
            {{ hide ? 'visibility_off' : 'visibility' }}
          </mat-icon>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">Ingresar</button>
      </form>
    </div>
    <div class="col-4"></div>
  </div>
</div>