<h2 mat-dialog-title>Cambiar contraseña</h2>

<mat-dialog-content [formGroup]="form">

  <!-- Password actual -->
  <mat-form-field appearance="outline" class="w-100 mt-3">
    <mat-label>Contraseña actual</mat-label>
    <input
      matInput
      [type]="hideActual ? 'password' : 'text'"
      formControlName="passwordActual"
    />
    <button mat-icon-button matSuffix (click)="hideActual = !hideActual">
      <mat-icon>{{ hideActual ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
    <mat-error *ngIf="form.get('passwordActual')?.hasError('required')">
      Obligatorio
    </mat-error>

    <mat-error *ngIf="form.get('passwordActual')?.hasError('incorrecta')">
      La contraseña actual es incorrecta
    </mat-error>

    <mat-hint *ngIf="form.get('passwordActual')?.pending">
      Verificando contraseña…
    </mat-hint>
  </mat-form-field>

  <!-- Nueva password -->
  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Nueva contraseña</mat-label>
    <input
      matInput
      [type]="hideNueva ? 'password' : 'text'"
      formControlName="nuevaPassword"
    />
    <button mat-icon-button matSuffix (click)="hideNueva = !hideNueva">
      <mat-icon>{{ hideNueva ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
    <mat-error *ngIf="form.get('nuevaPassword')?.hasError('required')">
      Obligatorio
    </mat-error>
    <mat-error *ngIf="form.get('nuevaPassword')?.hasError('minlength')">
      Mínimo 8 caracteres
    </mat-error>
  </mat-form-field>

  <!-- Confirmar -->
  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Confirmar contraseña</mat-label>
    <input
      matInput
      [type]="hideConfirmar ? 'password' : 'text'"
      formControlName="confirmarPassword"
    />
    <button mat-icon-button matSuffix (click)="hideConfirmar = !hideConfirmar">
      <mat-icon>{{ hideConfirmar ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
    <mat-error *ngIf="form.get('confirmarPassword')?.hasError('required')">
      Obligatorio
    </mat-error>

    <mat-error *ngIf="form.get('confirmarPassword')?.hasError('passwordsNoCoinciden')">
      Las contraseñas no coinciden
    </mat-error>
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancelar()">Cancelar</button>
  <button
    mat-raised-button
    color="primary"
    (click)="guardar()"
    [disabled]="form.invalid || form.pending"
  >
    Guardar
  </button>
</mat-dialog-actions>
