<div class="tabla-center">
  <div class="row" style="margin-bottom: 10px">
    <div class="col">
      <button mat-fab extended color="primary" routerLink="/guardias-view">
        <mat-icon>arrow_back_ios</mat-icon>
        Volver
      </button>
    </div>

    <div class="row mt-5" *ngIf="enableAprobada">
      <div class="col-10 offset-1 justify-content-center">
        <div class="alert alert-success" role="alert">
          La DDJJ ha sido <strong>APROBADA</strong>.
        </div>
      </div>
    </div>

    <div class="row mt-5" *ngIf="enableRechazada">
    <div class="col-10 offset-1 justify-content-center" >
      <div class="alert alert-danger" role="alert">
        Es necesario realizar las correcciones detalladas en la fila <strong>OBSERVACIONES y volver a realizar el pase a
          DPH</strong>.
      </div>
    </div>
  </div>

    <div class="col-auto mx-4" *ngIf="enableTotales && !enableAprobada && !enableRechazada">
      <button color="warn" mat-mini-fab matTooltip="Rechazar" class="mx-3" (click)="openDialog()">
        <mat-icon>clear</mat-icon>
      </button>
      <button class="bg-success text-light" mat-mini-fab matTooltip="Autorizar"
        onclick="document.getElementById('firma').classList.toggle('mostrar');">
        <mat-icon>done</mat-icon>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="titulos">DDJJ <span class="titulos-second">EXTRAS</span><span class="titulos-second"
        *ngIf="enableAprobada"> (APROBADA)</span>
      <span class="titulos-second" *ngIf="enableRechazada"> (RECHAZADA)</span>
    </div>

    <div class="row mt-3">
      <div class="col-sm scroll">
        <table class="table table-sm table-borderless">
          <thead class="col-center {{estado}}">
            <tr>

              <th *ngIf="!enableAprobada; else elseBlock" class=" {{estado}}">DECLARACION JURADA GUARDIAS ACTIVAS
                EXTRAS</th>
              <ng-template #elseBlock>
                <th class="titulo-tabla {{estado}}">DECLARACION JURADA
                  GUARDIAS ACTIVAS EXTRAS (APROBADA)</th>
              </ng-template>

            </tr>
            <tr>
              <th>Julio 2023</th>
            </tr>
            <tr>
              <th>MINISTERIO DE SALUD</th>
            </tr>
            <tr>
              <th>{{ profesionales[0].hospital }}</th>
            </tr>
            <tr>
              <th>REGION: {{ profesionales[0].region }}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="16">
                <table class="table table-hover table-bordered table-sm caption-top">
                  <thead class="thead-gris">
                    <tr>
                      <th rowspan="3">N° ORDEN</th>
                      <th rowspan="3">SERVICIO</th>
                      <th rowspan="3">APELLIDO Y NOMBRE</th>
                      <th rowspan="3">CUIL</th>
                      <th rowspan="3">VINCULO LABORAL - UDO</th>
                      <th rowspan="3">CATEGORIA</th>
                      <th rowspan="3">NOVEDADES</th>
                      <th colspan="31">GUARDIAS ACTIVAS</th>
                      <th colspan="3" style="background-color: rgb(78, 233, 168);" *ngIf="enableTotales">GUARDIAS EXTRA
                      </th>
                      <th colspan="3" style="background-color: rgb(192, 233, 78);" *ngIf="enableTotales">BONO UTI 1580
                      </th>
                    </tr>
                    <tr>
                      <td style="background-color: #9e9ea1">Sa</td>
                      <td style="background-color: #9e9ea1">Do</td>
                      <td>Lu</td>
                      <td>Ma</td>
                      <td>Mi</td>
                      <td>Ju</td>
                      <td>Vi</td>
                      <td style="background-color: #9e9ea1">Sa</td>
                      <td style="background-color: #9e9ea1">Do</td>
                      <td>Lu</td>
                      <td>Ma</td>
                      <td>Mi</td>
                      <td>Ju</td>
                      <td>Vi</td>
                      <td style="background-color: #9e9ea1">Sa</td>
                      <td style="background-color: #9e9ea1">Do</td>
                      <td>Lu</td>
                      <td>Ma</td>
                      <td>Mi</td>
                      <td>Ju</td>
                      <td>Vi</td>
                      <td style="background-color: #9e9ea1">Sa</td>
                      <td style="background-color: #9e9ea1">Do</td>
                      <td>Lu</td>
                      <td>Ma</td>
                      <td>Mi</td>
                      <td>Ju</td>
                      <td>Vi</td>
                      <td style="background-color: #9e9ea1">Sa</td>
                      <td style="background-color: #9e9ea1">Do</td>
                      <td>Lu</td>
                      <td colspan="2" style="background-color: rgb(78, 233, 168);" *ngIf="enableTotales">Total en horas
                      </td>
                      <td rowspan="2" class="negrita" *ngIf="enableTotales">Total Hs.</td>
                      <td colspan="2" style="background-color: rgb(192, 233, 78);" *ngIf="enableTotales">Total en horas
                      </td>
                      <td rowspan="2" class="negrita" *ngIf="enableTotales">Total Hs.</td>
                    </tr>
                    <tr>
                      <td style="background-color: #9e9ea1">1</td>
                      <td style="background-color: #9e9ea1">2</td>
                      <td>3</td>
                      <td>4</td>
                      <td>5</td>
                      <td>6</td>
                      <td>7</td>
                      <td style="background-color: #9e9ea1">8</td>
                      <td style="background-color: #df7545">9</td>
                      <td>10</td>
                      <td>11</td>
                      <td>12</td>
                      <td>13</td>
                      <td>14</td>
                      <td style="background-color: #9e9ea1">15</td>
                      <td style="background-color: #9e9ea1">16</td>
                      <td>17</td>
                      <td>18</td>
                      <td>19</td>
                      <td>20</td>
                      <td>21</td>
                      <td style="background-color: #9e9ea1">22</td>
                      <td style="background-color: #9e9ea1">23</td>
                      <td>24</td>
                      <td>25</td>
                      <td>26</td>
                      <td>27</td>
                      <td>28</td>
                      <td style="background-color: #9e9ea1">29</td>
                      <td style="background-color: #9e9ea1">30</td>
                      <td>31</td>
                      <td style="background-color: rgb(78, 233, 168);" *ngIf="enableTotales">L-V</td>
                      <td style="background-color: rgb(78, 233, 168);" *ngIf="enableTotales">S-D-F</td>
                      <td style="background-color: rgb(192, 233, 78);" *ngIf="enableTotales">L-V</td>
                      <td style="background-color: rgb(192, 233, 78);" *ngIf="enableTotales">S-D-F</td>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngFor="let profesionalActual of profesionales; let i = index">
                      <tr>
                        <td>{{i+1}}</td>
                        <td>{{profesionalActual.servicio}}</td>
                        <td>{{profesionalActual.apellido}}, {{profesionalActual.nombre}}</td>
                        <td>{{profesionalActual.cuil}}</td>
                        <td>{{profesionalActual.sitRevista}}</td>
                        <td>{{profesionalActual.cat}} ({{profesionalActual.adicional}})</td>
                        <td>{{profesionalActual.especialidad}}</td>
                        <td class="{{profesionalActual.tipoGuardia}}" style="background-color: #9e9ea1;">
                          {{ profesionalActual.extraSabado || profesionalActual.cargoSabado}}
                        </td>
                        <td class="{{profesionalActual.tipoGuardia}}" style="background-color: #9e9ea1;">
                          {{ profesionalActual.extraDomingo || profesionalActual.cargoDomingo}}
                        </td>
                        <td class="{{profesionalActual.tipoGuardia}}">
                          {{ profesionalActual.extraLunes || profesionalActual.cargoLunes }}
                        </td>
                        <td class="{{profesionalActual.tipoGuardia}}">
                          {{ profesionalActual.extraMartes || profesionalActual.cargoMartes }}
                        </td>
                        <td class="{{profesionalActual.tipoGuardia}}">
                          {{ profesionalActual.extraMiercoles || profesionalActual.cargoMiercoles }}
                        </td>
                        <td class="{{profesionalActual.tipoGuardia}}">
                          {{ profesionalActual.extraJueves || profesionalActual.cargoJueves }}
                        </td>
                        <td class="{{profesionalActual.tipoGuardia}}">
                          {{ profesionalActual.extraViernes || profesionalActual.cargoViernes }}
                        </td>
                        <td class="{{profesionalActual.tipoGuardia}}" style="background-color: #9e9ea1;">
                          {{ profesionalActual.extraSabado || profesionalActual.cargoSabado}}
                        </td>
                        <td class="{{profesionalActual.tipoGuardia}}" style="background-color: #df7545;">
                          {{ profesionalActual.extraDomingo || profesionalActual.cargoDomingo}}
                        </td>
                        <td class="{{profesionalActual.tipoGuardia}}">
                          {{ profesionalActual.extraLunes || profesionalActual.cargoLunes }}
                        </td>
                        <td class="{{profesionalActual.tipoGuardia}}">
                          {{ profesionalActual.extraMartes || profesionalActual.cargoMartes }}
                        </td>
                        <td class="{{profesionalActual.tipoGuardia}}">
                          {{ profesionalActual.extraMiercoles || profesionalActual.cargoMiercoles }}
                        </td>
                        <td class="{{profesionalActual.tipoGuardia}}">
                          {{ profesionalActual.extraJueves || profesionalActual.cargoJueves }}
                        </td>
                        <td class="{{profesionalActual.tipoGuardia}}">
                          {{ profesionalActual.extraViernes || profesionalActual.cargoViernes }}
                        </td>
                        <td class="{{profesionalActual.tipoGuardia}}" style="background-color: #9e9ea1;">
                          {{ profesionalActual.extraSabado || profesionalActual.cargoSabado}}
                        </td>
                        <td class="{{profesionalActual.tipoGuardia}}" style="background-color: #9e9ea1;">
                          {{ profesionalActual.extraDomingo || profesionalActual.cargoDomingo}}
                        </td>
                        <td class="{{profesionalActual.tipoGuardia}}">
                          {{ profesionalActual.extraLunes || profesionalActual.cargoLunes }}
                        </td>
                        <td class="{{profesionalActual.tipoGuardia}}">
                          {{ profesionalActual.extraMartes || profesionalActual.cargoMartes }}
                        </td>
                        <td class="{{profesionalActual.tipoGuardia}}">
                          {{ profesionalActual.extraMiercoles || profesionalActual.cargoMiercoles }}
                        </td>
                        <td class="{{profesionalActual.tipoGuardia}}">
                          {{ profesionalActual.extraJueves || profesionalActual.cargoJueves }}
                        </td>
                        <td class="{{profesionalActual.tipoGuardia}}">
                          {{ profesionalActual.extraViernes || profesionalActual.cargoViernes }}
                        </td>
                        <td class="{{profesionalActual.tipoGuardia}}" style="background-color: #9e9ea1;">
                          {{ profesionalActual.extraSabado || profesionalActual.cargoSabado}}
                        </td>
                        <td class="{{profesionalActual.tipoGuardia}}" style="background-color: #9e9ea1;">
                          {{ profesionalActual.extraDomingo || profesionalActual.cargoDomingo}}
                        </td>
                        <td class="{{profesionalActual.tipoGuardia}}">
                          {{ profesionalActual.extraLunes || profesionalActual.cargoLunes }}
                        </td>
                        <td class="{{profesionalActual.tipoGuardia}}">
                          {{ profesionalActual.extraMartes || profesionalActual.cargoMartes }}
                        </td>
                        <td class="{{profesionalActual.tipoGuardia}}">
                          {{ profesionalActual.extraMiercoles || profesionalActual.cargoMiercoles }}
                        </td>
                        <td class="{{profesionalActual.tipoGuardia}}">
                          {{ profesionalActual.extraJueves || profesionalActual.cargoJueves }}
                        </td>
                        <td class="{{profesionalActual.tipoGuardia}}">
                          {{ profesionalActual.extraViernes || profesionalActual.cargoViernes }}
                        </td>
                        <td class="{{profesionalActual.tipoGuardia}}" style="background-color: #9e9ea1;">
                          {{ profesionalActual.extraSabado || profesionalActual.cargoSabado}}
                        </td>
                        <td class="{{profesionalActual.tipoGuardia}}" style="background-color: #9e9ea1;">
                          {{ profesionalActual.extraDomingo || profesionalActual.cargoDomingo}}
                        </td>
                        <td class="{{profesionalActual.tipoGuardia}}">
                          {{ profesionalActual.extraLunes || profesionalActual.cargoLunes }}
                        </td>
                        <td *ngIf="enableTotales">{{profesionalActual.horasSemanal}}</td>
                        <td *ngIf="enableTotales">{{profesionalActual.horasFindeSemana}}</td>
                        <td class="negrita" *ngIf="enableTotales">{{profesionalActual.horasTotal}}</td>
                        <td *ngIf="enableTotales">{{profesionalActual.horasSemanal}}</td>
                        <td *ngIf="enableTotales">{{profesionalActual.horasFindeSemana}}</td>
                        <td class="negrita" *ngIf="enableTotales">{{profesionalActual.horasTotal}}</td>
                      </tr>
                    </ng-container>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td>OBSERV.:</td>
                      <td colspan="43" class="negrita" style="color: green;" *ngIf="enableAprobada"><em>APROBADA.-</em>
                      </td>
                      <td  colspan="43" class="negrita" style="color: red;" *ngIf="enableRechazada"><em>Es necesario completar el número de guardias correctamente.</em></td>
                    </tr>
                  </tfoot>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row offset-1 mostrar" id="firma">
    <div class="col negrita">
      <p>CORRESPONDE EL PAGO DE GUARDIAS DEL CARGO EFECTIVAMENTE CUMPLIDAS (PROFESIONALES 24 HS. Y J-2) Y BONO DE
        GUARDIAS COVID- SEGÚN RESOLUCIÓN N° 516-S/2023 - PARA AQUELLOS AGENTES QUE SE ENCUENTREN GOZANDO DE L.A.O.,
        LIC. POR MATERNIDAD; - </p>
      <button mat-fab extended class="bg-success text-light" (click)="btnAprobado()" *ngIf="!enableAprobada"
        matTooltip="Pase al Hospital">
        <mat-icon>assignment_turned_in</mat-icon>
        APROBADO
      </button>
    </div>
    <div class="col"><img src="assets/img/firma_arias.png" style="width: 400px;" /></div>
  </div>

  <div class="row">
    <div class="col offset-1">
      <span class="ref-circulo circulo--finde-tabla"></span>&nbsp;<span class="ref ref-calendar-dia--finde-tabla">Fin de
        semana</span>
      <span class="ref-circulo circulo--feriado"></span>&nbsp;<span
        class="ref ref-calendar-dia--feriado">Asueto/Feriado</span>
    </div>
    <div class="col-auto">
      <button mat-fab extended color="basic" [matMenuTriggerFor]="menu2" ml-5>
        <mat-icon>get_app</mat-icon>
        Descargar
      </button>
      <mat-menu #menu2="matMenu">
        <button mat-menu-item>PDF</button>
        <button mat-menu-item>XLS</button>
      </mat-menu>
      <button mat-fab extended color="warn" (click)="btnPaseDPH()" *ngIf="!enableTotales">
        <mat-icon>assignment_turned_in</mat-icon>
        Pase a DPH
      </button>
      <button id="btn-rechazo" class="mostrar" mat-fab extended color="warn" (click)="btnRechazado()"
        matTooltip="Devolver al Hospital" *ngIf="!enableRechazada">
        <mat-icon>assignment_return</mat-icon>
        RECHAZAR
      </button>
    </div>
    <div class="col-1">
      <div class="col-1">
      </div>
    </div>
  </div>
