<div mat-dialog-title class="backgroud">
    <h1 class="font">Novedades de Profesionales</h1>
</div>

<form [formGroup]="novedadesForm">
    <!-- <div mat-dialog-content class="content"> -->
    <mat-dialog-content class="content">

        <mat-form-field appearance="outline">
            <mat-label>Hospital</mat-label>
            <mat-select formControlName="hospital">
                <mat-option [value]="hosp" *ngFor="let hosp of hospitales" [value]="hosp">
                    {{hosp}}</mat-option>
            </mat-select>
        </mat-form-field>
        <div class="error">
            <span *ngIf="
            novedadesForm.get('hospital')?.hasError('required') &&
            novedadesForm.get('hospital')?.touched">
                <h5>El hospital es un campo requerido</h5>
            </span>
        </div>

        <mat-form-field appearance="outline">
            <mat-label>Profesional</mat-label>
            <mat-select formControlName="profesional">
                <mat-option *ngFor="let prof of profesional" [value]="prof"> {{prof}}</mat-option>
            </mat-select>
        </mat-form-field>
        <div class="error">
            <span *ngIf="
            novedadesForm.get('profesional')?.hasError('required') &&
            novedadesForm.get('profesional')?.touched">
                <h5>El profesional es un campo requerido</h5>
            </span>
        </div>


        <mat-form-field appearance="outline">
            <mat-label>Novedad</mat-label>
            <mat-select formControlName="novedad">
                <mat-option *ngFor="let noved of novedad" [value]="noved"> {{noved}}</mat-option>
            </mat-select>
        </mat-form-field>
        <div class="error">
            <span *ngIf="
            novedadesForm.get('novedad')?.hasError('required') &&
            novedadesForm.get('novedad')?.touched">
                <h5> La novedad es un campo requerido</h5>
            </span>
        </div>


        <div class="row">
            <div class="col">
                <mat-form-field appearance="outline">
                    <mat-label>Fecha inicio</mat-label>
                    <input matInput [matDatepicker]="picker1" formControlName="fecInicio"[readonly]="true">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="error">
                <span *ngIf="
                novedadesForm.get('fecInicio')?.hasError('required') &&
                novedadesForm.get('fecInicio')?.touched">
                    <h5> La fecha de inicio es un campo requerido</h5>
                </span>
            </div>

            <div class="col">
                <mat-form-field appearance="outline">
                    <mat-label>Fecha fin</mat-label>
                    <input matInput [matDatepicker]="picker2" formControlName="fecFin" [readonly]="true">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="error">
                <span *ngIf="
                novedadesForm.get('fecFin')?.hasError('required') &&
                novedadesForm.get('fecFin')?.touched">
                    <h5> La fecha fin es un campo requerido</h5>
                </span>
            </div>

        </div>
        <!-- </div> -->
    </mat-dialog-content>


    <div mat-dialog-actions class="action">
        <button mat-raised-button class="btnupdate" type="button" [mat-dialog-close]="false">Cancelar</button>
        <button mat-raised-button class="btnupdate" color="primary" [disabled]="novedadesForm.invalid" type="submit" [mat-dialog-close]="false">Guardar</button>
    </div>

</form>

<!--esto es lo viejo
<app-registro-actividades></app-registro-actividades>
<div class="d-flex justify-content-center mt-5 mb-5 fuente">
    <div class="p-5 rounded-5 shadow text-secondary " style="width: 40rem">
        <h1 class="d-flex justify-content-center fs-1 mb-5 fuente">REGISTRAR NOVEDADES</h1>
        <form action="">

            <div class="input-group mt-3 ">
                <div class="input-group-text justify-content-center" style="width: 130px;background-color:#00c4cc;
            color: #fff;">
                    <label>Hospital</label>
                </div>
                <mat-form-field>
                    <mat-select formControlName="hospital">
                        <mat-option *ngFor="let option of options" [value]="option.descripcion">
                            {{ option.descripcion }} ({{option.region}})
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="input-group mt-3">
                <div class="input-group-text justify-content-center" style="width: 100px;background-color:#00c4cc;
                color: #fff;">
                    <label for="">Profesional</label>
                </div>
                <input class="form-control" type="text">
            </div>
            <div class="input-group mt-3">
                <div class="input-group-text justify-content-center" style="width: 100px;background-color:#00c4cc;
                color: #fff;">
                    <label for="">Novedad</label>
                </div>
                <select class="form-select text-secondary" aria-label="Default select example" name="service"
                    [(ngModel)]="selectedService">
                    <option value="Compensatorio">Compensatorio</option>
                    <option value="L.A.O">L.A.O</option>
                    <option value="Maternidad">Maternidad</option>
                    <option value="Parte de Enfermo">Parte de Enfermo</option>
                    <option value="Familiar Enfermo">Familiar Enfermo</option>
                </select>
            </div>
            <div class="border-bottom mt-5"></div>
            <div class="d-flex justify-content-center fs-4  mt-3 ">Periodo</div>
            <div class="container mt-3 " style="font-size: 1rem;">
                <div class="row dateCheck d-flex align-items-center">
                    <div class="col">
                        <label for="dtpCheckIn" id="labelDateCheck">Inicio </label>
                    </div>
                    <div class="col">
                        <app-calendar [isReadOnly]="true"></app-calendar>
                    </div>
                    <div class="col">
                        <label for="dtpCheckIn" id="labelDateCheck"> Fin </label>
                    </div>
                    <div class="col">
                        <app-calendar [isReadOnly]="false"></app-calendar>
                    </div>
                </div>

            </div>
            <button type="submit" class="btn mt-2 shadow p-2 mb-2 rounded w-100 text-secondary">Guardar</button>
        </form>
    </div>
</div>
-->