
<div class="row">
    <div class="col-1">
    </div>
    <div class="col-6 justify-content-end">
      <div class="titulos">.:: Novedades</div>
    </div>
    <div class="col-1 align-items-right">
    <button mat-fab color="primary" (click)="openPopupNovedad()" matTooltip="Agregar Novedad">
      <mat-icon>library_add</mat-icon>
    </button>
  </div>
    <div class="col-3">
        <mat-form-field>
  <mat-label>Filtro</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Buscar por palabra clave" #input>
</mat-form-field>
    </div>
</div>
<div class="container">
  <div class="center-content">
    <span class="ref-circulo ref-circulo-act"></span>&nbsp;<span class="ref ref-guardia-act">Guardia Activa</span>
    <span class="ref-circulo ref-circulo-pas"></span>&nbsp;<span class="ref ref-guardia-pas">Guardia Pasiva</span>
</div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="guardia">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element"><span class="{{element.guardia}}"></span></td>
      </ng-container>
     
        <ng-container matColumnDef="cat">
          <th mat-header-cell *matHeaderCellDef> Sección </th>
          <td mat-cell *matCellDef="let element"> {{element.cat}} </td>
        </ng-container>

        <ng-container matColumnDef="act">
          <th mat-header-cell *matHeaderCellDef> Actualización </th>
          <td mat-cell *matCellDef="let element"> {{element.act}} </td>
        </ng-container>
      
        <ng-container matColumnDef="detalle">
          <th mat-header-cell *matHeaderCellDef> Detalle </th>
          <td mat-cell *matCellDef="let element"> {{element.detalle}} </td>
        </ng-container>
      
        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef> Edición </th>
            <td mat-cell *matCellDef="let element" style="width: 8%;"> <mat-icon matTooltip="Editar">edit</mat-icon> <mat-icon matTooltip="Eliminar">delete</mat-icon> </td>
          </ng-container>
  

        <ng-container matColumnDef="ver">
          <th mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let element"> <a href="{{element.ver}}" target="_parent"><button mat-raised-button color="primary"><mat-icon>find_in_page</mat-icon> VER </button></a></td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
</div>
