<h2 mat-dialog-title>{{esEdicion ? 'Modificar' : 'Agregar'}} Profesión
  <h5 class="requiredField">*Campos Obligatorios</h5>
</h2>

<form [formGroup]="form!" (ngSubmit)="saveRegion()">
  <mat-dialog-content>
    <div class="row" style="margin-top: 20px">
      <div class="col">
        <mat-form-field appearance="fill">
          <mat-label>Nombre</mat-label>
            <input matInput formControlName="nombre">
          <mat-error *ngIf="form?.get('nombre')?.invalid && form?.get('nombre')?.touched">
            El campo es obligatorio y debe tener solo letras (entre 2 y 20 caracteres).
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div mat-dialog-actions class="action mt-4">
      <button mat-raised-button color="primary" type="submit" [disabled]="!esIgual || form?.invalid">
        {{esEdicion ? 'Modificar' : 'Agregar'}}
      </button>
      <button mat-raised-button color="secondary" type="button" (click)="cancelar()">
        Cancelar
      </button>
    </div>
  </mat-dialog-content>
</form>