<h1 mat-dialog-title>Detalle Guardia solicitada: 
  <h5>{{cronograma.autorizado}} | {{cronograma.asistencial.apellido}}, {{cronograma.asistencial.nombre}}</h5>
</h1>
<mat-dialog-content>
  <table class="table">
      <tbody>
        <tr>
          <th scope="row">Efector</th>
          <td>{{nombreEfector || 'Cargando...'}}</td>
        </tr>
        <tr>
          <th scope="row">Tipo guardia</th>
          <td>{{cronograma.tipoGuardia}}</td>
        </tr>
        <tr>
          <th scope="row">Ingreso</th>
          <td>{{cronograma.fechaIngreso  | date: 'dd/MM/yyyy':'':'es-AR' }}, {{cronograma.horaIngreso }} hs</td>
        </tr>
        <tr>
          <th scope="row">Egreso</th>
          <td>{{cronograma.fechaEgreso  | date: 'dd/MM/yyyy':'':'es-AR' }}, {{cronograma.horaEgreso }} hs</td>
        </tr>
        <tr>
          <th scope="row">Autorización</th>
          <td>
            {{ cronograma.autorizado }}<br />
            <span *ngIf="nombreAutoridad">
            por: {{ nombreAutoridad }}<br />
            motivo: {{ cronograma.motivoAutorizacion }}</span>
          </td>
        </tr>
        <!--<tr *ngIf="cronograma.autorizado === 'PENDIENTE'">
          <th scope="row">Motivo del pendiente</th>
          <td>{{cronograma.motivoPendiente}}</td>
        </tr>-->
      </tbody>
    </table>
    <div>
      <!--<p>Antes de confirmar o rechazar el cronograma puedes revisar la distribución horaria.</p>-->
    </div>
  <div mat-dialog-actions class="action mt-4">
      <button mat-raised-button color="primary" type="button" mat-button (click)="cerrar()">Cerrar</button>
      <!--<button mat-raised-button color="warn" type="button" mat-button (click)="verDistribucion()">Revisar distribución horaria</button>-->
  </div>
</mat-dialog-content>