<app-spinner></app-spinner>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-7">
      <div class="titulos_extra">USUARIOS SIGU</div>
    </div>
    <div class="col-12 col-md-1 m d-flex justify-content-end">
      <button mat-fab class="button-success" (click)="openFormChanges()" matTooltip="Crear nuevo Usuario">
        <mat-icon>library_add</mat-icon>
      </button>
      <button mat-fab class="button-primary" matTooltip="Volver atrás" style="margin-left: 5px;" routerLink="/personal">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
    </div>
    <div class="col-12 col-md-4 mt-3 mt-md-0">
      <mat-form-field>
        <mat-label>Filtro</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Buscar por apellido y/o nombre" #input>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" matSort #empTbSort="matSort" class="mat-elevation-z6"> 

        <ng-container matColumnDef="person">
          <th mat-header-cell *matHeaderCellDef mat-sort-header  class="negrita"> Persona </th> 
          <td mat-cell *matCellDef="let usuario" style="white-space: nowrap;"> {{usuario.person?.apellido}}, {{usuario.person?.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="nombreUsuario">
            <th mat-header-cell *matHeaderCellDef mat-sort-header  class="negrita"> Usuario </th> 
            <td mat-cell *matCellDef="let usuario" style="white-space: nowrap;"> {{usuario.nombreUsuario}}</td>
          </ng-container>

          <ng-container matColumnDef="roles">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="negrita"> Rol </th>
            <td mat-cell *matCellDef="let usuario" style="white-space: nowrap;"> {{usuario.rolesString}}</td>
          </ng-container>
          
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef  class="negrita"></th>
          <td mat-cell *matCellDef="let usuario" class="cell-actions">
            <button mat-icon-button matTooltip="Ver detalle" (click)="openDetail(usuario)">
              <mat-icon class="btnDetail" style="transform: rotate(90deg)">zoom_in</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Editar" (click)="openFormChanges(usuario)">
              <mat-icon class="btnEdit">edit</mat-icon>
            </button>
            <!--<button mat-icon-button matTooltip="Dar de baja" (click)="deleteUsuario(usuario)">
              <mat-icon class="btnRemove">delete</mat-icon>
            </button>-->
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  <div class="row mt-3">
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
  </div>
</div>
</div>
