<h2 mat-dialog-title>{{data ? 'Modificar' : 'Agregar'}} Caps
    <h5 class="['required']Field">*Campos Obligatorios</h5>
  </h2>
    <form [formGroup]="capsForm" (ngSubmit)="saveCaps()">
      <mat-dialog-content>
                <mat-form-field appearance="fill" style="margin-top: 20px">
                  <mat-label>Nombre</mat-label>
                    <input matInput formControlName="nombre" (input)="onNombreInput($event)">
                    <mat-error *ngIf="capsForm?.get('nombre')?.hasError('required')">Este campo es obligatorio.</mat-error>
                    <mat-error *ngIf="capsForm?.get('nombre')?.hasError('pattern')">El campo puede tener solo letras (entre 2 y 50 caracteres).</mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill">
                  <mat-label>Domicilio</mat-label>
                    <input matInput formControlName="domicilio">
                    <mat-error *ngIf="capsForm?.get('domicilio')?.hasError('required')">Este campo es obligatorio.</mat-error>
                    <mat-error *ngIf="capsForm?.get('domicilio')?.hasError('pattern')">El campo puede contener letras y números (entre 3 y 80 caracteres).</mat-error>                   
                </mat-form-field>

                <mat-form-field appearance="fill">
                  <mat-label>Localidad</mat-label>
                  <mat-select formControlName="localidad" [compareWith]="compareLocalidad">
                    <mat-option *ngFor="let localidad of localidades" [value]="localidad" >{{ localidad.nombre }}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="capsForm?.get('localidad')?.hasError('required')">Este campo es obligatorio.</mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill">
                  <mat-label>Región</mat-label>
                  <mat-select formControlName="region" [compareWith]="compareRegion">
                    <mat-option *ngFor="let region of regiones" [value]="region" >{{ region.nombre }}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="capsForm?.get('region')?.hasError('required')">Este campo es obligatorio.</mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill">
                  <mat-label>Teléfono</mat-label>
                    <input matInput formControlName="telefono">
                    <mat-error *ngIf="capsForm?.get('telefono')?.hasError('pattern')">El campo debe contener números, hasta 15 digitos.</mat-error>                    
                </mat-form-field>

                <mat-form-field appearance="fill">
                  <mat-label>Observación</mat-label>
                    <input matInput formControlName="observacion">
                    <mat-error *ngIf="capsForm?.get('observacion')?.hasError('pattern')">El campo puede contener letras y números (entre 3 y 80 caracteres).</mat-error>                                       
                </mat-form-field>
<!--
            <div class="row">
                <div class="col">
                  <mat-form-field appearance="fill">
                    <mat-label>Área Programática</mat-label>
                    <mat-select formControlName="areaProgramatica">
                      <mat-option [value]=1>1</mat-option>
                      <mat-option [value]=2>2</mat-option>
                      <mat-option [value]=2>3</mat-option>
                      <mat-option [value]=2>4</mat-option>
                    </mat-select>
                    <mat-error *ngIf="capsForm?.get('nivelComplejidad')?.invalid && capsForm?.get('nivelComplejidad')?.touched">
                        El campo es obligatorio.
                    </mat-error>    
                  </mat-form-field>
                </div>
              </div>  
-->
            <mat-form-field appearance="fill">
                <mat-label>Hospital cabecera</mat-label>
                <mat-select formControlName="cabecera" [compareWith]="compareHospital">
                <mat-option *ngFor="let hospital of hospitales" [value]="hospital">
                    {{ hospital.nombre }}
                </mat-option>
                </mat-select>
                <mat-error *ngIf="capsForm?.get('idCabecera')?.hasError('required')">Este campo es obligatorio.</mat-error>
            </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Tipo Caps</mat-label>
                    <mat-select formControlName="tipoCaps">
                      <mat-option value="CAPS">CAPS</mat-option>
                      <mat-option value="CIC">CIC</mat-option>
                      <mat-option value="POSTA">POSTA</mat-option>
                      <mat-option value="PUESTO">PUESTO</mat-option>
                    </mat-select>
                    <mat-error *ngIf="capsForm?.get('tipoCaps')?.hasError('required')">Este campo es obligatorio.</mat-error>
                </mat-form-field>

            <div mat-dialog-actions class="action mt-4">
              <button mat-raised-button color="primary" type="submit" [disabled]="!capsForm.valid || !isModified()">
                {{data ? 'Modificar' : 'Agregar'}}
              </button>
              <button mat-raised-button color="secondary" type="button" (click)="cancel()">
                Cancelar
              </button>
            </div>
  </mat-dialog-content>
</form>
