mat-list-item {
    min-height: 80px;
    white-space: normal;
    word-wrap: break-word;
  }

  .delete-icon {
    font-size: 17px;
    cursor: pointer;
    vertical-align: middle;
    margin-left: 8px;
    transition: color 0.3s ease;
  }
  
  .delete-icon:hover {
    color: #9c1d13;
  }