<h1 mat-dialog-title>Listado profesionales
    <h5 *ngIf="data.holidayName">
      <p>Feriado: {{ data.holidayName }}</p>
    </h5>
  </h1>
  <mat-dialog-content>
    <mat-list *ngIf="data.events.length; else noData">
      <ng-container *ngFor="let event of data.events">
        <mat-list-item><span [style.color]="event.color.primary">{{ event.title }}</span> - Del <span class="negrita"> {{ event.start | date:'short' }} hs</span> al <span class="negrita"> {{ event.end | date:'short' }} hs</span></mat-list-item>
        <mat-divider></mat-divider>
      </ng-container>
    </mat-list>
  </mat-dialog-content>
  <ng-template #noData><p>No hay profesionales cargados para la fecha seleccionada.</p></ng-template>
  <mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="cerrar()">Cerrar</button>
  </mat-dialog-actions>
  
