<h1 mat-dialog-title>{{ data.title }}
    <h5 *ngIf="data.holidayName">
      <p>Feriado: {{ data.holidayName }}</p>
    </h5>
  </h1>
  <mat-dialog-content>
    <div *ngIf="data.events.length; else noData">
      <ng-container *ngFor="let event of data.events">
        <div>
          <span class="evento-contenedor"><span [style.color]="event.color.primary">{{ event.title }}<mat-icon class="delete-icon" (click)="deleteEvent(event)" matTooltip="Eliminar guardia tentativa">delete</mat-icon></span>
          <span class="texto-resaltado" style="cursor: default;"  [matTooltip]="getTooltipText(event)" [ngClass]="{
            'auth-pendiente': event.auth === 'PENDIENTE',
            'auth-confirmado': event.auth === 'CONFIRMADO',
            'auth-rechazado': event.auth === 'RECHAZADO',
            'auth-anulado': event.auth === 'ANULADO'
          }">{{event.auth}}</span></span><br/> 
          Del <span class="negrita"> {{ event.start | date:'short' }} hs</span> al <span class="negrita"> {{ event.end | date:'short' }} hs</span><br/>
          <span>Servicio: {{ event.servicio }}</span><br/>
          <span *ngIf="event.obs"> {{ event.obs }} </span>
        </div>
        <mat-divider></mat-divider>
        <br/>
      </ng-container>
    </div>
  </mat-dialog-content>
  <ng-template #noData><p>No hay profesionales cargados para la fecha seleccionada.</p></ng-template>
  <mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="cerrar()">Cerrar</button>
  </mat-dialog-actions>
  
