<app-spinner></app-spinner>
<div class="container">
  <div class="row">
    <div class="col-6 col-md-7">
      <div class="titulos">LEGAJO: <span class="titulos-second">{{nombreCompleto}}</span></div>
    </div>
    <div class="col-6 col-md-1 m d-flex justify-content-end">
      <button mat-fab color="primary" (click)="createLegajo()" matTooltip="Agregar Legajo">
        <mat-icon>library_add</mat-icon>
      </button>
    </div>
    <div class="col-12 col-md-4 mt-3 mt-md-0">
      <mat-form-field>
        <mat-label>Filtro</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Buscar por palabra clave" #input>
      </mat-form-field>
    </div>
  </div>


  <div class="row">
    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" matSort #empTbSort="matSort" class="mat-elevation-z6"> 
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header  class="negrita"> Id </th> 
          <td mat-cell *matCellDef="let legajo"> {{legajo.id}} </td>
        </ng-container>

        <ng-container matColumnDef="actual">
          <th mat-header-cell *matHeaderCellDef mat-sort-header  class="negrita"> Actual </th> 
          <td mat-cell *matCellDef="let legajo"> {{legajo.actual ? 'Si' : 'No'}} </td>
        </ng-container>

        <ng-container matColumnDef="fechaInicio">
          <th mat-header-cell *matHeaderCellDef mat-sort-header  class="negrita"> Fecha Inicio </th> 
          <td mat-cell *matCellDef="let legajo"> {{ legajo.fechaInicio | date: 'dd/MM/yyyy':'':'es-AR' }} </td>
        </ng-container>

        <ng-container matColumnDef="fechaFinal">
          <th mat-header-cell *matHeaderCellDef mat-sort-header  class="negrita"> Fecha Final </th> 
          <td mat-cell *matCellDef="let legajo"> {{ legajo.fechaFinal | date: 'dd/MM/yyyy':'':'es-AR' }} </td>
        </ng-container>

        <ng-container matColumnDef="profesion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header  class="negrita"> Profesion </th> 
          <td mat-cell *matCellDef="let legajo"> {{legajo.profesion.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="udo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header  class="negrita"> U.D.O. </th> 
          <td mat-cell *matCellDef="let legajo"> {{legajo.udo.nombre}} </td>
        </ng-container>

        <!-- <ng-container matColumnDef="cargo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header  class="negrita"> Cargo </th> 
          <td mat-cell *matCellDef="let legajo"> {{legajo.cargo.nombre}} </td>
        </ng-container>
      -->
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef  class="negrita"> Acciones </th>
          <td mat-cell *matCellDef="let legajo" class="cell-actions">
            <button mat-icon-button matTooltip="Ver" (click)="openDetail(legajo)">
              <mat-icon class="btnDetail" style="transform: rotate(90deg)">zoom_in</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Editar" (click)="updateLegajo(legajo)">
              <mat-icon class="btnEdit">edit</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Eliminar" (click)="deleteLegajo(legajo)">
              <mat-icon class="btnRemove">delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

    <div class="row mt-3">
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>