<table mat-table class="mat-elevation-z8" [dataSource]="dataSource">

  <!-- Número de orden -->
  <ng-container matColumnDef="numeroOrden">
    <th mat-header-cell *matHeaderCellDef>N° ORDEN</th>
    <td mat-cell *matCellDef="let element">{{element.numeroOrden}}</td>
  </ng-container>

  <!-- Profesional -->
  <ng-container matColumnDef="profesional">
    <th mat-header-cell *matHeaderCellDef>PROFESIONAL</th>
    <td mat-cell *matCellDef="let element">{{element.profesional}}</td>
  </ng-container>

  <!-- Comprobante -->
  <ng-container matColumnDef="comprobante">
    <th mat-header-cell *matHeaderCellDef>COMPROBANTE</th>
    <td mat-cell *matCellDef="let element">{{element.comprobante}}</td>
  </ng-container>

  <!-- Día de guardia -->
  <ng-container matColumnDef="diaGuardia">
    <th mat-header-cell *matHeaderCellDef>DÍA DE GUARDIA</th>
    <td mat-cell *matCellDef="let element">{{element.diaGuardia}}</td>
  </ng-container>

  <!-- Cantidad de horas de guardia -->
  <ng-container matColumnDef="cantidadHorasGuardia">
    <th mat-header-cell *matHeaderCellDef>CANTIDAD DE HS. GUARDIA</th>
    <td mat-cell *matCellDef="let element">{{element.cantidadHorasGuardia}}</td>
  </ng-container>

  <!-- Monto por guardia -->
  <ng-container matColumnDef="montoGuardia">
    <th mat-header-cell *matHeaderCellDef>MONTO POR GUARDIA</th>
    <td mat-cell *matCellDef="let element">{{element.montoGuardia}}</td>
  </ng-container>

  <!-- Cantidad de horas de bono -->
  <ng-container matColumnDef="cantidadHorasBono">
    <th mat-header-cell *matHeaderCellDef>CANTIDAD DE HS. BONO</th>
    <td mat-cell *matCellDef="let element">{{element.cantidadHorasBono}}</td>
  </ng-container>

  <!-- Monto de bono -->
  <ng-container matColumnDef="montoBono">
    <th mat-header-cell *matHeaderCellDef>MONTO BONO</th>
    <td mat-cell *matCellDef="let element">{{element.montoBono}}</td>
  </ng-container>

  <!-- Total de horas a liquidar -->
  <ng-container matColumnDef="totalHorasLiquidar">
    <th mat-header-cell *matHeaderCellDef style="background-color: rgb(78, 233, 168);">TOTAL HS. A LIQUIDAR</th>
    <td mat-cell *matCellDef="let element" style="background-color: rgb(78, 233, 168);">{{element.totalHorasLiquidar}}</td>
  </ng-container>

  <!-- Total -->
  <ng-container matColumnDef="total">
    <th mat-header-cell *matHeaderCellDef>TOTAL</th>
    <td mat-cell *matCellDef="let element">{{element.total}}</td>
  </ng-container>

  <!-- Columnas definidas -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
