<h1>{{esEdicion ? 'Editar' : 'Crear'}} profesión</h1>

<!-- Formulario para editar o crear una profesión -->
<form [formGroup]="form!" (ngSubmit)="guardarProfesion()">
  <mat-form-field>
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="nombre">
    <mat-error *ngIf="form?.get('nombre')?.invalid && form?.get('nombre')?.touched">
      El nombre es obligatorio y debe tener máximo 50 caracteres
    </mat-error>
  </mat-form-field>
    <mat-label>Asistencial</mat-label>
    <mat-radio-group formControlName="asistencial">
        <mat-radio-button [value]="true" color="primary">Si</mat-radio-button>
        <mat-radio-button [value]="false" color="primary">No</mat-radio-button>
      </mat-radio-group>
    <mat-error *ngIf="form?.get('asistencial')?.invalid && form?.get('asistencial')?.touched">
      El campo asistencial es obligatorio
    </mat-error>
  <button mat-raised-button color="primary" type="submit" [disabled]="form?.invalid">
    {{esEdicion ? 'Guardar' : 'Crear'}}
  </button>
  <button mat-raised-button color="secondary" type="button" (click)="cancelar()">
    Cancelar
  </button>
</form>
