<app-spinner></app-spinner>
<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="titulos_extra">Registro de Guardias</div>
    </div>
    <div class="col-6 m mt-3 d-flex justify-content-end">
      <button mat-fab class="button-primary" matTooltip="Volver atrás" routerLink="/home-page">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
    </div>
  </div>
  <div class="row">
  <div class="col-12 m mb-3 d-flex justify-content-md-start">Efector: <span class="negrita ps-1">{{efectorNombre}}</span></div>
  </div>

  <div class="row mt-3">
    <div class="col-md-6 text-center">
      <a class="animated-button entrada" routerLink="/registro-actividades-ingreso" role="button">
        <span class="label">Ingreso</span>
        <div class="icon">
          <mat-icon>login</mat-icon>
        </div>
      </a>
    </div>
    <div class="col-md-6 text-center">
      <a class="animated-button salida" routerLink="/registro-actividades-egreso" role="button">
        <span class="label">Egreso</span>
        <div class="icon">
          <mat-icon>logout</mat-icon>
        </div>
      </a>
    </div>
    <div class="col-md-6 text-center">
  <a class="animated-button actividad" routerLink="/registro-actividades-profesionales" role="button">
    <span class="label">Registro de Actividad</span>
    <div class="icon">
      <mat-icon>assignment</mat-icon>
    </div>
  </a>
</div>
  </div>

  

  
<div class="row mt-5">
  <div class="col-12">
    <h2 class="text-center mb-3">Ingresos Pendientes</h2>

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" style="width: 100%;">

      <!-- Nombre -->
      <ng-container matColumnDef="asistencial">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Profesional</th>
        <td mat-cell *matCellDef="let element">{{ element.asistencial }}</td>
      </ng-container>

      <!-- Fecha Ingreso -->
      <ng-container matColumnDef="fechaIngreso">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
        <td mat-cell *matCellDef="let element">{{ element.fechaIngreso | date: 'dd/MM/yyyy' }}</td>
      </ng-container>

      <!-- Hora Ingreso -->
      <ng-container matColumnDef="horaIngreso">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Hora</th>
        <td mat-cell *matCellDef="let element">{{ element.horaIngreso }}</td>
      </ng-container>

      <!-- Servicio -->
      <ng-container matColumnDef="servicio">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Servicio</th>
        <td mat-cell *matCellDef="let element">{{ element.servicio }}</td>
      </ng-container>

      <!-- Tipo Guardia -->
      <ng-container matColumnDef="tipoGuardia">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo Guardia</th>
        <td mat-cell *matCellDef="let element">{{ element.tipoGuardia }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
  </div>
</div>

</div>