<app-spinner></app-spinner>
<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="titulos_extra">Registro de Guardias</div>
    </div>
    <div class="col-6 m mt-3 d-flex justify-content-end">
      <button mat-fab class="button-primary" matTooltip="Volver atrás" routerLink="/home-page">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
    </div>
  </div>
  <div class="row">
  <div class="col-12 m mb-5 d-flex justify-content-md-start">Efector: <span class="negrita ps-1">{{efectorNombre}}</span></div>
  </div>

  <div class="row mt-4">
    <div class="col-md-6 mt-5 text-center">
      <a class="animated-button entrada" routerLink="/registro-actividades-ingreso" role="button">
        <span class="label">Ingreso</span>
        <div class="icon">
          <mat-icon>login</mat-icon>
        </div>
      </a>
    </div>
    <div class="col-md-6 mt-5 text-center">
      <a class="animated-button salida" routerLink="/registro-actividades-egreso" role="button">
        <span class="label">Egreso</span>
        <div class="icon">
          <mat-icon>logout</mat-icon>
        </div>
      </a>
    </div>
  </div>
  


</div>