<app-spinner></app-spinner>
<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="titulos_extra">Registro de Guardias</div>
    </div>
    <div class="col-6 m mt-3 d-flex justify-content-end">
      <button mat-fab class="button-primary" matTooltip="Volver atrás" routerLink="/home-page">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-6 text-center">
      <button 
        class="btn buttons btn-lg btn-block" 
        routerLink="/registro-actividades-ingreso">
        <mat-icon>login</mat-icon> Entrada
          <span></span>
          <span></span>
          <span></span>
          <span></span>
      </button>
    </div>
    <div class="col-md-6 text-center">
      <button 
        class="btn buttons btn-lg btn-block" 
        routerLink="/registro-actividades-egreso"
      >
        <mat-icon>logout</mat-icon> Salida
          <span></span>
          <span></span>
          <span></span>
          <span></span>
      </button>
    </div>
  </div>

</div>