<h2 mat-dialog-title>{{data ? 'Modificar' : 'Agregar'}} Autoridad
    <h5 class="['required']Field">*Campos Obligatorios</h5>
</h2>
<mat-dialog-content class="mat-typography">

    <form [formGroup]="autoridadForm" (ngSubmit)="saveAutoridad()">

        <mat-form-field appearance="fill">
            <mat-label>Profesional</mat-label>
            <input matInput [value]="inputValue" (click)="openAsistencialDialog()" readonly required>
            <mat-icon matSuffix (click)="openAsistencialDialog()">person</mat-icon>
            <mat-error *ngIf="autoridadForm.get('idPersona')?.hasError('required')">
                El campo profesional es requerido.
            </mat-error>
        </mat-form-field>
        
        <mat-form-field appearance="fill">
            <mat-label>Cargo</mat-label>
            <input matInput formControlName="nombre">
            <mat-error *ngIf="autoridadForm.get('nombre')?.errors?.['required']">El nombre del cargo es requerido.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Efector</mat-label>
            <mat-select formControlName="idEfector" [compareWith]="compareEfector">
                <mat-option *ngFor="let efector of efectores" [value]="efector">{{ efector.nombre }}</mat-option>
            </mat-select>
            <mat-error *ngIf="autoridadForm.get('idEfector')?.errors?.['required']">El efector es requerida.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Fecha Inicio</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="fechaInicio">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="autoridadForm.get('fechaInicio')?.errors?.['required']">La fecha es requerida.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Fecha Fin</mat-label>
            <input matInput [matDatepicker]="picker2" formControlName="fechaFinal">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Actual</mat-label>
            <mat-select formControlName="esActual">
                <mat-option [value]="true">Si</mat-option>
                <mat-option [value]="false">No</mat-option>
            </mat-select>
            <mat-error *ngIf="autoridadForm.get('esActual')?.errors?.['required']">El campo es requerido.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Regional</mat-label>
            <mat-select formControlName="esRegional">
                <mat-option [value]="true">Si</mat-option>
                <mat-option [value]="false">No</mat-option>
            </mat-select>
            <mat-error *ngIf="autoridadForm.get('esRegional')?.errors?.['required']">El campo es requerido.</mat-error>
        </mat-form-field>

        <div mat-dialog-actions class="action mt-4">
            <button mat-raised-button color="primary" type="submit" [disabled]="!autoridadForm.valid || !isModified()">
                {{data ? 'Modificar' : 'Asignar como autoridad'}}
            </button>
            <button mat-raised-button color="secondary" type="button" (click)="cancel()">
                Cancelar
            </button>
        </div>
    </form>
</mat-dialog-content>