<h1 mat-dialog-title>DETALLE PERSONA: 
  <h5>NO ASISTENCIAL</h5>
</h1>
<mat-dialog-content>
  <table class="table">
      <tbody>
        <tr>
          <th scope="row">Nombre</th>
          <td>{{noasistencial.nombre}}</td>
        </tr>
        <tr>
          <th scope="row">Apellido</th>
          <td>{{noasistencial.apellido}}</td>
        </tr>
        <tr>
          <th scope="row">DNI</th>
          <td>{{noasistencial.dni}}</td>
        </tr>
        <tr>
          <th scope="row">Cuil</th>
          <td>{{ formatCuil(noasistencial.cuil) }}</td>
        </tr>
        <tr>
          <th scope="row">Domicilio</th>
          <td>{{noasistencial.domicilio}}</td>
        </tr>
        <tr>
          <th scope="row">Teléfono</th>
          <td>{{noasistencial.telefono}}</td>
        </tr>
        <tr>
          <th scope="row">E-mail</th>
          <td>{{noasistencial.email}}</td>
        </tr>
        <tr>
          <th scope="row">Fecha nacimiento</th>
          <td>{{noasistencial.fechaNacimiento | date: 'dd/MM/yyyy':'':'es-AR' }}</td>
        </tr>
        <tr>
          <th scope="row">Sexo</th>
          <td>{{noasistencial.sexo}}</td>
        </tr>
        <!-- <tr>
          <th scope="row">Descripción</th>
          <td>{{noasistencial.descripcion}}</td>
        </tr> -->
      </tbody>
    </table>
  <div mat-dialog-actions class="action mt-4">
      <button mat-raised-button color="primary" type="button" mat-button (click)="cerrar()">Cerrar</button>
  </div>
</mat-dialog-content>