<app-spinner></app-spinner>
<div class="container">
  <div class="row">
    <div class="col-6 col-md-7">
      <div class="titulo_prueba">PERSONAL</div>
    </div>
    <div class="col-6 col-md-1 m d-flex justify-content-end">
      <button mat-fab color="primary" (click)="createNoAsistencial()" matTooltip="Agregar Persona No Asistencial">
        <mat-icon>library_add</mat-icon>
      </button>
    </div>
    <div class="col-12 col-md-4 mt-3 mt-md-0">
      <mat-form-field>
        <mat-label>Filtro</mat-label>
        <input matInput placeholder="Buscar por nombre, apellido o cuil" (keydown.enter)="applyFilter(input.value)"
          #input>
        <button mat-icon-button matSuffix (click)="applyFilter(input.value)">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="row">
      <div class="col-6">Estás viendo:
        <button mat-button [matMenuTriggerFor]="menug" style="font-weight: bold;">No Asistenciales
          <mat-icon>expand_more</mat-icon></button>
        <mat-menu #menug="matMenu">
          <button mat-menu-item routerLink="/asistencial">Ver <span class="negrita">Asistenciales</span></button>
        </mat-menu>

      </div>

    </div>

    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" matSort #empTbSort="matSort" class="mat-elevation-z6">

        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="negrita"> Nombre </th>
          <td mat-cell *matCellDef="let noasistencial"> {{noasistencial.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="apellido">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="negrita"> Apellido </th>
          <td mat-cell *matCellDef="let noasistencial"> {{noasistencial.apellido}} </td>
        </ng-container>

        <ng-container matColumnDef="dni">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="negrita"> DNI </th>
          <td mat-cell *matCellDef="let noasistencial"> {{noasistencial.dni}} </td>
        </ng-container>
        <ng-container matColumnDef="cuil">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="negrita"> CUIL </th>
          <td mat-cell *matCellDef="let noasistencial"> {{noasistencial.cuil}} </td>
        </ng-container>
        <ng-container matColumnDef="telefono">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="negrita"> Teléfono</th>
          <td mat-cell *matCellDef="let noasistencial"> {{noasistencial.telefono}} </td>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef class="negrita"></th>
          <td mat-cell *matCellDef="let noasistencial" class="cell-actions">
            <button mat-icon-button matTooltip="Ver {{noasistencial.nombre}}" (click)="openDetail(noasistencial)">
              <mat-icon class="btnDetail" style="transform: rotate(90deg)">zoom_in</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Editar {{noasistencial.nombre}}"
              (click)="editNoAsistencial(noasistencial)">
              <mat-icon class="btnEdit">edit</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Eliminar {{noasistencial.nombre}}"
              (click)="deleteNoAsistencial(noasistencial)">
              <mat-icon class="btnRemove">delete</mat-icon>
            </button>
            <button mat-icon-button matTooltip="{{getTooltip(noasistencial)}}" (click)="getButtonAction(noasistencial)"
              *ngIf="!isLoadingLegajos">
              <mat-icon color="primary">{{getIcon(noasistencial)}}</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>


    <div class="row mt-3">
      <div class="col-lg-3">
        <mat-accordion>
          <mat-expansion-panel #miPanel hideToggle>
            <mat-expansion-panel-header style="pointer-events: none;">
              <mat-panel-title>
                <button mat-icon-button color="primary" aria-label="Agregar columnas" matTooltip="Agregar columnas"
                  (click)="miPanel.toggle(); $event.stopPropagation()" style="pointer-events: auto;">
                  <mat-icon>menu</mat-icon>
                </button>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
              <li>
                <input type="checkbox" [(ngModel)]="dniVisible" (change)="actualizarColumnasVisibles()"> DNI
              </li>
              <li>
                <input type="checkbox" [(ngModel)]="telefonoVisible" (change)="actualizarColumnasVisibles()"> Teléfono
              </li>
            </ul>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div class="col-lg-9">
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </div>
</div>