
.content{
  padding-top: 10px; 
  width: 550px; 
}


mat-form-field{
  width: 100%;
  margin-right: 12px;
}

.action{
  padding: 0px 25px 20px;
  }
  
.btnupdate{
  flex: 1;
}

.backgroud{
  background-color: #243c74;
  color: white;
}

.font{
  font-family: "Ubuntu";
  font-size:170%;
}

p {
  color: #243c74;
  font-weight: bold;
}

mat-form-field mat-icon {
  cursor: pointer;
  margin-left: 8px;
  font-size: 24px;
}

mat-form-field {
  position: relative;
}

mat-form-field input {
  padding-right: 48px;
}