<app-spinner></app-spinner>
<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="titulos">Distribución horaria</div>
    </div>
    <div class="col-6 m mt-3 d-flex justify-content-end">
      <button mat-fab class="button-primary" matTooltip="Volver atrás" routerLink="/personal">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
    </div>
  </div>

  <div class="row">
    <h5 class="['required']Field">*Campos Obligatorios</h5>
  </div>

  <div class="row">

    <mat-form-field appearance="fill">
      <mat-label>Asistencial</mat-label>
      <input matInput [value]="inputValue" (click)="openAsistencialDialog()">
      <mat-icon matSuffix (click)="openAsistencialDialog()">person</mat-icon>
    </mat-form-field>
            
    <mat-dialog-content class="mat-typography">

      <form [formGroup]="distribForm" (ngSubmit)="saveDistribucion()">

      </form>
  </mat-dialog-content>
</div>

<!--
<form [formGroup]="distribForm">
  <div mat-dialog-content class="content">
    <mat-form-field appearance="outline">
      <mat-label>Profesional</mat-label>
      <mat-select formControlName="profesional">
        <mat-option *ngFor="let prof of profesional" [value]="prof">{{ prof }}</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="error">
      <span *ngIf="distribForm.get('profesional')?.hasError('required') && distribForm.get('profesional')?.touched">
        <h5>El profesional es un campo requerido</h5>
      </span>
    </div>

    <p>Guardias
      <button mat-icon-button color="primary" (click)="openDistGuardia()" matTooltip="Agregar nuevo día de guardia"
        [disabled]="!distribForm.get('profesional')?.value">
        <mat-icon>playlist_add</mat-icon>
      </button>
    </p>

    <p>Consultorio
      <button mat-icon-button color="primary" (click)="openDistCons()" matTooltip="Agregar nuevo día de consultorio"
        [disabled]="!distribForm.get('profesional')?.value">
        <mat-icon>playlist_add</mat-icon>
      </button>
    </p>

    <p>Giras médicas
      <button mat-icon-button color="primary" (click)="openDistGira()" matTooltip="Agregar nuevo día de gira médica"
        [disabled]="!distribForm.get('profesional')?.value">
        <mat-icon>playlist_add</mat-icon>
      </button>
    </p>

    <p>Otras actividades
      <button mat-icon-button color="primary" (click)="openDistOtra()" matTooltip="Agregar nuevo día de actividad"
        [disabled]="!distribForm.get('profesional')?.value">
        <mat-icon>playlist_add</mat-icon>
      </button>
    </p>
  </div>
  <div mat-dialog-actions class="action">
    <button mat-raised-button class="btnupdate" type="button" [mat-dialog-close]="false">Cancelar</button>
    <button mat-raised-button class="btnupdate" color="primary" type="submit" [disabled]="!distribForm.valid">Guardar</button>
  </div>
</form>-->
