
.content{
  padding-top: 10px; 
  width: 550px; 
}


mat-form-field{
  width: 100%;
  margin-right: 12px;
}

.action{
  padding: 0px 25px 20px;
  }
  
.btnupdate{
  flex: 1;
}

.backgroud{
  background-color: #243c74;
  color: white;
}

.font{
  font-family: "Ubuntu";
  font-size:170%;
}

p {
  color: #243c74;
  font-weight: bold;
}

mat-form-field mat-icon {
  cursor: pointer;
  margin-left: 8px;
  font-size: 24px;
}

mat-form-field {
  position: relative;
}

mat-form-field input {
  padding-right: 48px;
}

.container-mensajes {
  display: flex;
  gap: 10px;
  margin: 10px;
}

.carga-horaria-display,
.horas-status-display {
  padding: 10px;
  border-radius: 8px;
  width: 30%;
  text-align: center;
}

.carga-horaria-display {
  border: 1px solid #243c74;
  background-color: #243c74;
}

.carga-horaria-display p {
  margin: 0;
  font-size: 12px;
  color: #ffffff;
}

.horas-status-display {
  border: 1px solid transparent;
}

.horas-status-display p {
  margin: 0;
  font-size: 12px;
  color: #ffffff;
}

.success-message {
  background-color: #28a745;
}

.error-message {
  background-color: #dc3545;
}

.pending-message {
  background-color: #ffc107;
}