<h2 mat-dialog-title>MODIFICAR LOCALIDAD
    <h5 class="requiredField">*Campos Obligatorios</h5>
  </h2>
  <form (ngSubmit)="onUpdate()" novalidate #f="ngForm" *ngIf="localidad">
    <mat-dialog-content>
      <div class="row" style="margin-top: 20px">
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>Nombre de la Localidad</mat-label>
            <input matInput placeholder="Ingresar Nombre de la Localidad" autocomplete="off" id="nombre" name="nombre" [(ngModel)]="localidad.nombre" required/>
          </mat-form-field>
        </div>
      </div>

      <div class="row" style="margin-top: 20px">
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>Nombre del departamento</mat-label>
            <mat-select id="idDepartamento" name="idDepartamento" [(ngModel)]="localidad.departamento.nombre" required>
              <mat-option *ngFor="let departamento of departamentos" [value]="departamento.nombre">
                {{ departamento.nombre }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </mat-dialog-content>
    <div mat-dialog-actions class="action mt-4">
      <button mat-raised-button class="btnCancel" type="button" mat-button (click)="cancel()">Cancelar
      </button>
      <button mat-raised-button color="primary" [disabled]="!f.valid">Modificar</button>
    </div>
  </form>


