<nav class="navbar navbar-expand-lg bg-celeste-argentina shadow">
  <div class="logo container mt-2 mb-2">
    <div class="align-items-right">
      <a routerLink="/home-page">
        <img src="assets/img/pnglogo1.png" width="170" height="100" />
      </a>
    </div>

    <div class="collapse navbar-collapse">
      <div class="container" routerLink="/home-page">
        <div class="input-group justify-content-center text-light">
          <div id="titulo"><h3 class="fw-bold title-header">SISTEMA PROVINCIAL DE</h3></div><br/>
          <div id="titulo"><h1 class="fw-bold title-header">GUARDIAS</h1></div>
        </div>
      </div>
      <div class="content-icon-header">
      <button mat-fab [matMenuTriggerFor]="menu_admin"
        type="submit"
        class="icon-material"  *ngIf="showButtons">
        <mat-icon>settings</mat-icon>
      </button>
        <mat-menu #menu_admin="matMenu">
            <div class="col" type="button">
            <button mat-menu-item><mat-icon>assessment</mat-icon><span>Estadisticas</span></button>
            <button mat-menu-item><mat-icon>face</mat-icon><span>Agregar usuario</span></button>
            <button mat-menu-item routerLink="/digesto"><mat-icon>picture_as_pdf</mat-icon><span>Digesto</span></button>
          </div>
        </mat-menu>
      <button mat-fab [matMenuTriggerFor]="menu"
      type="submit"
      class="icon-material"  *ngIf="showButtons">
        <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <div class="perfil-content">
            <div class="perfil-img">
              <img src="assets/img/profile-user.jpg">
            </div>
            <div class="perfil-nom">
              Nicolás Cruz
            </div>
            <div class="perfil-cargo">
              Administrativo
            </div>
          </div>
          <button mat-menu-item><mat-icon>build</mat-icon><span>Opciones</span></button>
          <div class="col" type="button" routerLink="/">
            <button mat-menu-item><mat-icon>exit_to_app</mat-icon><span>Salir</span></button>
          </div>
        </mat-menu>
        </div>
    </div>
  </div>
 </nav>
<div *ngIf="showNavBar">
  <nav class="menuNavbar">
    <app-nav-bar></app-nav-bar>
  </nav>
</div>

