<link
  href="https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@100&display=swap"
  rel="stylesheet"
/>
<nav class="navbar navbar-expand-lg bg-celeste-argentina shadow">
  <div class="logo container mt-2 mb-2">
    <div class="align-items-right">
      <a href="http://salud.jujuy.gob.ar/" target="_blank">
        <img src="assets/img/pnglogo1.png" width="170" height="100" />
      </a>
    </div>
    <div class="collapse navbar-collapse">
      <div class="container">
        <div class="input-group justify-content-center text-light">
          <h1 class="fw-bold">SISTEMA PROVINCIAL DE GUARDIAS</h1>
        </div>
      </div>
      <ul class="navbar-nav ms-3">
        <li class="nav-item" style="width: 100px">
          <button [matMenuTriggerFor]="menu"
            type="submit"
            class="btn btn-outline-success"
            style="background-color: #243c74; font-family: achia"
          >
            <i class="fa-solid fa-user mt-2 mb-1 text-light"></i>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item><span>Opciones</span></button>
            <div class="col" type="button" routerLink="/">
              <button mat-menu-item><span>Salir</span></button>
            </div>
          </mat-menu>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div *ngIf="showNavBar">
  <nav class="navbar navbar-expand-lg bg-celeste-argentina shadow">
    <app-nav-bar></app-nav-bar>
  </nav>
</div>

