<app-spinner></app-spinner>
<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="titulos">Registro de Ingreso</div>
        </div>
        <div class="col-6 m mt-3 d-flex justify-content-end">
            <button mat-fab class="button-primary" matTooltip="Volver atrás" routerLink="/registro-diario">
                <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
        </div>
    </div>

    <div class="row">
        <h5 class="['required']Field">*Campos Obligatorios</h5>
    </div>

    <mat-dialog-content class="mat-typography">
        <form [formGroup]="registroForm" (ngSubmit)="saveRegistro()">

            <div class="form-row">
                <mat-form-field appearance="fill">
                <mat-label>Profesional</mat-label>
                <input matInput formControlName="idAsistencial" readonly>
                <mat-icon matSuffix>person</mat-icon>
                </mat-form-field>
            </div>

            <div class="form-row">
                    <mat-form-field appearance="fill" class="form-field">
                    <mat-label>Ingreso</mat-label>
                    <input matInput formControlName="fechaIngreso" readonly>
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="form-field">
                    <mat-label>Hora de Inicio</mat-label>
                    <input matInput formControlName="eventStartTime" readonly>
                    </mat-form-field>
            </div>

            <div class="form-row">
                <mat-form-field appearance="fill">
                    <mat-label>Tipo de Guardia</mat-label>
                    <mat-select formControlName="idTipoGuardia" [compareWith]="compareTipoGuardia">
                        <mat-option *ngFor="let tipoGuardia of tiposGuardias" [value]="tipoGuardia">{{
                            tipoGuardia.nombreTipoGuardia
                            }}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="registroForm.get('idTipoGuardia')?.errors?.['required']">El tipo de guardia es
                        requerido.</mat-error>
                </mat-form-field>
            </div>

            <!--<div class="form-row">
                    <mat-form-field appearance="fill" class="form-field">
                        <mat-label>Servicio</mat-label>
                        <mat-select formControlName="idServicio" [compareWith]="compareServicio">
                            <mat-option *ngFor="let servicio of servicios" [value]="servicio">{{ servicio.descripcion
                                }}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="registroForm.get('idServicio')?.errors?.['required']">El servicio es
                            requerido.</mat-error>
                    </mat-form-field>
            </div>-->

            <div mat-dialog-actions class="action mt-4">
                <button mat-raised-button color="primary" type="submit"
                    [disabled]="!registroForm.valid || !isModified()" class="me-2">
                    {{initialData ? 'Modificar' : 'Agregar'}} registro
                </button>
                <button mat-raised-button color="secondary" type="button" (click)="cancel()">
                    Cancelar
                </button>
            </div>
        </form>
    </mat-dialog-content>
</div>