
<div class="container">
    <div class="row">
        <div class="col">
            <p><a class="link-opacity-50-hover" href="/guardias-view">Volver</a></p>
            <table class="table table-sm  table-borderless">
                <thead>
                    <tr>
                        <th colspan="7">DECLARACION JURADA GUARDIAS ACTIVAS DEL CARGO Y AGRUPACION fabiana</th>
                    </tr>
                    <tr>
                        <th colspan="7">ABRIL 2023</th>
                    </tr>
                    <tr>
                        <th colspan="7" style="text-align: left;">MINISTERIO DE SALUD</th>
                    </tr>
                    <tr>
                        <th colspan="7" style="text-align: left;">"NUESTRA SEÑORA DEL ROSARIO"</th>
                    </tr>
                    <tr>
                        <th colspan="7" style="text-align: left;">REGION: PUNA</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="7">
                            <table class="table table-hover table-bordered table-sm caption-top">
                                <thead class="table-light">
                                    <tr>
                                        <th>
                                            NRO. DE ORDEN
                                        </th>
                                        <th>SERVICIO</th>
                                        <th>APELLIDO Y NOMBRE</th>
                                        <th>CUIL</th>
                                        <th>VINCULO LABORAL</th>
                                        <th>CATEGORIA</th>
                                        <th>NOVEDADES</th>
                                        <th class="">
                                            <tr>
                                                <td *ngFor="let day of numberOfMonth">{{ day }}</td>
                                            </tr>
                                            <tr>
                                                <td *ngFor="let d of daysOfMonth">{{d | date:"EEEEEE":undefined:'es'|titlecase}}</td>
                                            </tr>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>clinica</td>
                                            <td>HUERTAS CLEMENTE</td>
                                            <td>20-45368456-5</td>
                                            <td>PTA. PTE.</td>
                                            <td>E(J-1)</td>
                                            <td>L.A.O. Del 24 al 31-04-23</td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>clinica</td>
                                            <td>HUERTAS CLEMENTE</td>
                                            <td>20-45368456-5</td>
                                            <td>PTA. PTE.</td>
                                            <td>E(J-1)</td>
                                            <td>L.A.O. Del 24 al 31-04-23</td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>clinica</td>
                                            <td>HUERTAS CLEMENTE</td>
                                            <td>20-45368456-5</td>
                                            <td>PTA. PTE.</td>
                                            <td>E(J-1)</td>
                                            <td>L.A.O. Del 24 al 31-04-23</td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>clinica</td>
                                            <td>HUERTAS CLEMENTE</td>
                                            <td>20-45368456-5</td>
                                            <td>PTA. PTE.</td>
                                            <td>E(J-1)</td>
                                            <td>L.A.O. Del 24 al 31-04-23</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td>OBSERVACIONES:</td>
                                        </tr>
                                    </tfoot>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

