<h2 mat-dialog-title>Agregar Novedades personales 
    <h5 class="requiredField">*Campos Obligatorios</h5>
  </h2>
  
  <form [formGroup]="novedadPersonalForm" (ngSubmit)="saveNovedadPersonal()">
    <mat-dialog-content>
      <div class="form-row">
        <mat-form-field appearance="fill">
          <mat-label>Tipo de licencia</mat-label>
          <mat-select formControlName="idTipoLicencia">
            <mat-option *ngFor="let licencia of licencias" [value]="licencia.id">{{ licencia.nombre }}</mat-option>
          </mat-select>
          <mat-error *ngIf="novedadPersonalForm.get('idTipoLicencia')?.errors?.['required']">
            El campo es requerido.
          </mat-error>
        </mat-form-field>
      </div>
  
      <div class="form-row">
        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Fecha Inicio</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="fechaInicio" (dateChange)="onFechaInicioChange()" [min]="fechaMinInicio">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="novedadPersonalForm.get('fechaInicio')?.errors?.['required']">
            La fecha es requerida.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-field" *ngIf="esCompensatorio">
          <mat-label>Hora Inicio</mat-label>
          <input matInput formControlName="horaInicio" [ngxMatTimepicker]="horaPicker" [format]="24" readonly (click)="horaPicker.open()">
          <ngx-mat-timepicker-toggle matSuffix [for]="horaPicker"></ngx-mat-timepicker-toggle>
          <ngx-mat-timepicker #horaPicker></ngx-mat-timepicker>
          <mat-error *ngIf="novedadPersonalForm?.get('horaInicio')?.invalid && novedadPersonalForm?.get('horaInicio')?.touched">
            El campo es obligatorio (HH:mm).
          </mat-error>
        </mat-form-field>
      </div>  

      <div class="form-row">
        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Fecha Finalización</mat-label>
          <input matInput [matDatepicker]="picker1" formControlName="fechaFinal" [min]="fechaMinFinal" [disabled]="esCompensatorio">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
          <mat-error *ngIf="novedadPersonalForm.get('fechaFinal')?.errors?.['required']">
            La fecha es requerida.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-field" *ngIf="esCompensatorio">
          <mat-label>Hora Finalización</mat-label>
          <input matInput formControlName="horaFinal" [ngxMatTimepicker]="horaPicker1" [format]="24" readonly (click)="horaPicker1.open()">
          <ngx-mat-timepicker-toggle matSuffix [for]="horaPicker1"></ngx-mat-timepicker-toggle>
          <ngx-mat-timepicker #horaPicker1></ngx-mat-timepicker>
          <mat-error *ngIf="novedadPersonalForm?.get('horaFinal')?.invalid && novedadPersonalForm?.get('horaFinal')?.touched">
            El campo es obligatorio (HH:mm).
          </mat-error>
          <mat-error
            *ngIf="novedadPersonalForm.hasError('horaFinalInvalida') && (novedadPersonalForm.get('horaFinal')?.touched || novedadPersonalForm.get('horaInicio')?.touched)">
            La hora de finalización debe ser posterior a la de inicio.
          </mat-error>
        </mat-form-field>
      </div>
  
      <div mat-dialog-actions class="action mt-4">
        <button mat-raised-button color="primary" type="submit" [disabled]="!novedadPersonalForm.valid">
          Agregar
        </button>
        <button mat-raised-button color="secondary" type="button" (click)="cancel()">
          Cancelar
        </button>
      </div>
    </mat-dialog-content>
  </form>