<h1 mat-dialog-title>DETALLE PERSONA: 
  <h5>ASISTENCIAL</h5>
</h1>
<mat-dialog-content>
  <table class="table">
      <tbody>
        <tr>
          <th scope="row">Nombre</th>
          <td>{{asistencial.nombre}}</td>
        </tr>
        <tr>
          <th scope="row">Apellido</th>
          <td>{{asistencial.apellido}}</td>
        </tr>
        <tr>
          <th scope="row">DNI</th>
          <td>{{asistencial.dni}}</td>
        </tr>
        <tr>
          <th scope="row">Cuil</th>
          <td>{{ formatCuil(asistencial.cuil) }}</td>
        </tr>
        <tr>
          <th scope="row">Domicilio</th>
          <td>{{asistencial.domicilio}}</td>
        </tr>
        <tr>
          <th scope="row">Teléfono</th>
          <td>{{asistencial.telefono}}</td>
        </tr>
        <tr>
          <th scope="row">E-mail</th>
          <td>{{asistencial.email}}</td>
        </tr>
        <tr>
          <th scope="row">Fecha nacimiento</th>
          <td>{{asistencial.fechaNacimiento | date: 'dd/MM/yyyy':'':'es-AR' }}</td>
        </tr>
        <tr>
          <th scope="row">Sexo</th>
          <td>{{asistencial.sexo}}</td>
        </tr>
        <tr>
          <th scope="row">Tipos de guardia</th>
            <td>
                <ng-container *ngFor="let efector of asistencial.tiposGuardias; let i = index">
                    {{ efector.nombre }}<span *ngIf="!isLast(i, asistencial.tiposGuardias)">, </span>
                </ng-container>
            </td>
        </tr>
    </tbody>
    </table>
  <div mat-dialog-actions class="action mt-4">
      <button mat-raised-button color="primary" type="button" mat-button (click)="cerrar()">Cerrar</button>
  </div>
</mat-dialog-content>