<h2 mat-dialog-title>{{data ? 'Modificar' : 'Agregar'}} Feriado
    <h5 class="requiredField">*Campos Obligatorios</h5>
  </h2>
  
  <form [formGroup]="feriadoForm!" (ngSubmit)="saveFeriado()">
    <mat-dialog-content>
      <div class="row" style="margin-top: 20px">
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>Motivo</mat-label>
              <input matInput formControlName="motivo">
              <mat-error *ngIf="feriadoForm.get('motivo')?.errors?.['required']">El motivo es requerido.</mat-error>
              <mat-error *ngIf="feriadoForm.get('motivo')?.errors?.['pattern']">El motivo debe tener solo letras (entre 1 y 60 caracteres).</mat-error>
            </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>Fecha</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="fecha">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="feriadoForm.get('fecha')?.errors?.['required']">La fecha es requerida.</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
            <mat-form-field appearance="fill">
                <mat-label>Tipo Feriado</mat-label>
                <mat-select formControlName="tipoFeriado">
                  <mat-option value="NACIONAL">Nacional</mat-option>
                  <mat-option value="PROVINCIAL">Provincial</mat-option>
                  <mat-option value="PUENTE">Puente</mat-option>
                  <mat-option value="ASUETO">Asueto</mat-option>
                  <mat-option value="RELIGIOSO">Religioso</mat-option>
                  <mat-option value="OTRO">Otro</mat-option>
                </mat-select>
                <mat-error *ngIf="feriadoForm.get('tipoFeriado')?.errors?.['required']">El tipo de feriado es requerido.</mat-error>
              </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>Descripción</mat-label>
              <input matInput formControlName="descripcion">
              <mat-error *ngIf="feriadoForm.get('descripcion')?.errors?.['required']">El motivo es requerido.</mat-error>
              <mat-error *ngIf="feriadoForm.get('descripcion')?.errors?.['pattern']">El motivo debe tener solo letras (entre 1 y 60 caracteres).</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div mat-dialog-actions class="action mt-4">
        <button mat-raised-button color="primary" type="submit" [disabled]="!feriadoForm.valid || !isModified()">
          {{data ? 'Modificar' : 'Agregar'}}
        </button>
        <button mat-raised-button color="secondary" type="button" (click)="cancel()">
          Cancelar
        </button>
      </div>
      </mat-dialog-content>
  </form>
