<div mat-dialog-content>
  <mat-form-field appearance="outline" style="width: 100%; margin: 0;">
    <mat-label>Rol</mat-label>
    <mat-select [(value)]="selectedRole">
      <mat-option *ngFor="let role of getRolesFiltrados()" [value]="role">
        {{ getRoleNombres(role) }}
      </mat-option>    
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions align="center">
  <button mat-raised-button color="secondary" type="button" (click)="cancelar()">Cancelar</button>
  <button mat-raised-button color="primary" type="submit" (click)="onSelectRole(selectedRole)" [disabled]="!selectedRole">Ingresar</button>
</div>