<div class=" d-flex justify-content-center mb-4 shadow">
  <div class=" rounded-5 text-secondary " style="width: 95rem; height: rem;">
    <!--<div class="text-center fs-1 fw-bold fw-bold fuente">ACTIVIDADES</div>-->
    <div class="container mt-2">
      <div class="row mb-3">
        <div class="col d-flex justify-content-center" type="button" routerLink="/registro-diario">
          <img class="img-fluid" src="/assets/img/btn-submenu-guardias/1ddjj-extra.png" width="100" />
        </div>
        <div class="col d-flex justify-content-center" type="button" routerLink="/novedades-form">
          <img class="img-fluid d-flex align-items-center " src="/assets/img/btn-submenu-guardias/2ddjj-cargoyagrup.png"
            alt="MDB Logo" loading="lazy" width="100" />
        </div>
        <div class="col d-flex justify-content-center" type="button" routerLink="/dist-horaria">
          <img class="img-fluid" src="/assets/img/btn-submenu-guardias/3ddjj-cf.png" alt="MDB Logo" loading="lazy"
            width="100" />
        </div>
      </div>
      <div class="row fuente fs-5">
        <div class="col d-flex  justify-content-center">
          <div>EXTRA</div>
        </div>
        <div class="col d-flex justify-content-center">
          <div>CARGO Y AGRUPACION</div>
        </div>
        <div class="col d-flex justify-content-center">
          <div class="text-center">CONTRA FACTURA</div>
        </div>
      </div>
      <div class="row ">
        <div class="col d-flex justify-content-center ">
          <div class="btn btn-info mt-5 shadow mb-5 rounded cargo text-white" style="width: 80%;">CARGO</div>
        </div>
        <div class="col d-flex justify-content-center">
          <div class="btn btn-info mt-5 shadow p-2 mb-5 rounded agrupacion text-white" style="width: 80%;">
            AGRUPACION DE Hs.</div>
        </div>
        <div class="col d-flex justify-content-center">
          <div class="btn btn-info mt-5 shadow p-2 mb-5 rounded extra text-white" style="width: 80%;">EXTRAS
          </div>
        </div>
        <div class="col d-flex justify-content-center">
          <div class="btn btn-info mt-5 shadow p-2 mb-5 rounded contrafactura text-white" style="width: 80%;">CONTRA FACTURA</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class=" d-flex justify-content-center mb-4 shadow" >
  <div class="container rounded-5 " style="width: 85rem; height: rem;">
    <div class="container mt-2" >
      <div class="row justify-content-center ">
        <!--Calendario-->
        <div class="col-6">
          <mat-form-field class="">
            <mat-label>Fecha</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matIconSuffix [for]="picker">
              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <!--Calendario-->
      
        <div class="col-6">
          <mat-select placeholder="Seleccione un Hospital" [(ngModel)]="selectedHospital" name="service"
            class="form-control" (selectionChange)="updateHospital()">
            <mat-option *ngFor="let option of options" [value]="option.descripcion">
              {{ option.descripcion }} ( {{option.region}} )
            </mat-option>
          </mat-select>
        </div>
      </div>
      <div class="row container" *ngIf="professionalGroups.length % 4" >
        <div class="col justify-content-center" *ngFor="let professionalGroup of professionalGroups.slice(professionalGroups.length - (professionalGroups.length % 4))">
          <app-schedule-card [service]="professionalGroup.service"></app-schedule-card>
          <div class="" *ngFor="let professional of professionalGroup.professionals" >
            <h3 [ngClass]="professional.type">
              {{ professional.apellido }}, {{ professional.nombre
              }}{{ professional.hs ? " (" + professional.hs + ")" : "" }}
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>