.extra {
    background-color: #FDD969;
    border: 0;
  }
  
  .cargo {
    background-color: #91A8DA;
    border: 0;
  }
  
  .agrupacion {
    background-color: #F4AF88;
    border: 0;
  }
  
  .contrafactura {
    background-color: #A9D08F;
    border: 0;
  }