<div class="row">
  <div class="col-1">
  </div>
  <div class="col-3 justify-content-end">
  <div class="titulos">.:: GUARDIAS</div>
</div>
<div class="col-5">
  <div class="center-content">
    <span class="ref-circulo circulo--extra"></span>&nbsp;<span class="ref ref-extra">Extra</span>
    <span class="ref-circulo circulo--cargo"></span>&nbsp;<span class="ref ref-cargo">Cargo</span>
    <span class="ref-circulo circulo--agrupacion"></span>&nbsp;<span class="ref ref-agrupacion">Agrupación</span>
    <span class="ref-circulo circulo--contrafactura"></span>&nbsp;<span class="ref ref-contrafactura">Contrafactura</span>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-1">
    </div>
    <div class="col-2">
      <div class="container-boton" routerLink="#" mat-raised-button>
        <img src="assets/img/btn-submenu-guardias/1ddjj-extra.png" alt="DDJJ" class="image">
        <div class="overlay">
          <div class="text">EXTRAS</div>
        </div>
      </div>
      <div class="container-boton" routerLink="/ddjj-cargoyagrup">
        <img src="assets/img/btn-submenu-guardias/2ddjj-ca.png" alt="DDJJ" class="image">
        <div class="overlay">
          <div class="text">CARGO Y AGRUPACION</div>
        </div>
      </div>
      <div class="container-boton" routerLink="#">
        <img src="assets/img/btn-submenu-guardias/3ddjj-cf.png" alt="DDJJ" class="image">
        <div class="overlay">
          <div class="text">CONTRA FACTURA</div>
        </div>
      </div>
  </div>
  <div class="col-8">
    <div class="col d-flex justify-content-center"></div>
        <app-daily-schedule></app-daily-schedule>
      </div>
    </div>
  </div>




