  .ref-extra {
    color: #FDD969;
  }
  
  .circulo--extra {
    background: #FDD969;
  }

  .ref-cargo {
    color: #91A8DA;
  }
  
  .circulo--cargo {
    background: #91A8DA;
  }

  .ref-agrupacion {
    color: #F4AF88;
  }
  
  .circulo--agrupacion {
    background: #F4AF88;
  }

  .ref-contrafactura {
    color: #A9D08F;
  }
  
  .circulo--contrafactura {
    background: #A9D08F;
  }
