.container-box {
  width: 100%;
  float: left;
  align-items: center;
  display: flex;
  justify-content: center;
}
.container-boton-ddjj {
  position: relative;
  width: 20%;
  float: left;
  margin: 3% 8% 3% 8%;
  cursor: pointer;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #37BBED;
  border-radius: 50%;
}

.container-boton-ddjj:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 100%;
  font-family: "Ubuntu";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: normal;
}
.extra {
    background-color: #FDD969;
    border: 0;
  }
  
  .cargo {
    background-color: #91A8DA;
    border: 0;
  }
  
  .agrupacion {
    background-color: #F4AF88;
    border: 0;
  }
  
  .contrafactura {
    background-color: #A9D08F;
    border: 0;
  }