<div class="row tabla-center">
  <div class="row" style="margin-bottom: 15px;">
    <div class="col offset-1">
      <button mat-fab extended color="primary" routerLink="/professional-list/">
        <mat-icon>arrow_back_ios</mat-icon>
        Volver
      </button>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center fs-1 mb-5 title">Datos del Profesional</div>
<div class="container">
  <div class="row">
    <div class="col-10">
    <div class="input-group">
      <div class="input-group-text justify-content-center detail">
        <label for="" class="detail">Apellido</label>
      </div>
      <input class="form-control readonly-input" type="text" [(ngModel)]="person.apellido" readonly>
    </div>

    <div class="input-group">
      <div class="input-group-text justify-content-center detail">
        <label for="" class="detail">Nombre</label>
      </div>
      <input class="form-control readonly-input" type="text" [(ngModel)]="person.nombre" readonly>
    </div>

    <div class="input-group">
      <div class="input-group-text justify-content-center detail">
        <label for="" class="detail">DNI</label>
      </div>
      <input class="form-control readonly-input" type="text" [(ngModel)]="person.dni" readonly>
    </div>

    <div class="input-group">
      <div class="input-group-text justify-content-center detail">
        <label for="" class="detail">CUIL</label>
      </div>
      <input class="form-control readonly-input" type="text" [(ngModel)]="person.cuil" readonly>
    </div>

    <div class="input-group">
      <div class="input-group-text justify-content-center detail">
        <label for="" class="detail">Profesión</label>
      </div>
      <input class="form-control readonly-input" type="text" [(ngModel)]="person.profesion" readonly>
    </div>

    <div class="input-group">
      <div class="input-group-text justify-content-center detail">
        <label for="" class="detail">Especialidad</label>
      </div>
      <input class="form-control readonly-input" type="text" [(ngModel)]="person.especialidad" readonly>
    </div>

    <div class="input-group">
      <div class="input-group-text justify-content-center detail">
        <label for="" class="detail">Sit. Revista</label>
      </div>
      <input class="form-control readonly-input" type="text" [(ngModel)]="person.sitRevista" readonly>
    </div>  </div>
 </div>
</div>