<div class="container">
  <div class="row">
  <div class="col-7">
    <div class="titulos">.:: PROFESIÓN</div>
  </div>
  <div class="col-1 align-items-right">
    <button mat-fab color="primary" (click)="abrirFormulario()" matTooltip="Agregar Profesión">
      <mat-icon>library_add</mat-icon>
    </button>
  </div>
  <div class="col-4">
    <mat-form-field>
      <mat-label>Filtro</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Buscar por palabra clave" #input>
    </mat-form-field>
  </div>
</div>

<div class="row">
<table mat-table [dataSource]="dataSource" matSort #empTbSort="matSort" class="mat-elevation-z8"> 
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th> 
    <td mat-cell *matCellDef="let profesion"> {{profesion.id}} </td>
  </ng-container>

  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th> 
    <td mat-cell *matCellDef="let profesion"> {{profesion.nombre}} </td>
  </ng-container>

  <ng-container matColumnDef="asistencial">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Asistencial </th> 
    <td mat-cell *matCellDef="let profesion"> {{profesion.asistencial ? 'Sí' : 'No'}} </td>
  </ng-container>

  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef> Acciones </th>
    <td mat-cell *matCellDef="let profesion">
      <button mat-icon-button matTooltip="Ver {{profesion.nombre}}" (click)="abrirDetalle(profesion)">
        <mat-icon class="btnDetail" style="transform: rotate(90deg)">zoom_in</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Editar {{profesion.nombre}}" (click)="abrirFormulario(profesion)">
        <mat-icon class="btnEdit">edit</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Eliminar {{profesion.nombre}}" (click)="eliminar(profesion)">
        <mat-icon class="btnRemove">delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
</div>
</div>