<h1 mat-dialog-title>DETALLE
  <h5>REGIÓN</h5>
</h1>
<mat-dialog-content>
  <table class="table">
      <tbody>
        <tr>
          <th scope="row">ID</th>
          <td>{{region.id}}</td>
        </tr>
        <tr>
          <th scope="row">Nombre</th>
          <td>{{region.nombre}}</td>
        </tr>
      </tbody>
    </table>
  <div mat-dialog-actions class="action mt-4">
      <button mat-raised-button color="primary" type="button" mat-button (click)="cerrar()">Cerrar</button>
  </div>
</mat-dialog-content>
