
    <div class="button-container">
      <button type="button" class="btn btn-lg btn-primary" routerLink="/professional-form">Registro Diario</button>
      <button type="button" class="btn btn-lg btn-primary" routerLink="/professional-crud">Profesionales</button>
      <button type="button" class="btn btn-lg btn-primary" routerLink="/daily-schedule">Cronogramas</button>
      <button type="button" class="btn btn-lg btn-primary" routerLink="/daily-schedule">Guardia</button>
      <button type="button" class="btn btn-lg btn-primary" routerLink="/professional-form">Usuario</button>
      <button type="button" class="btn btn-lg btn-primary" routerLink="/professional-form">Historial</button>
    </div>

