<div id="container-title-hosp">
    <div class="text-title-hosp"><mat-icon>business</mat-icon> &nbsp;&nbsp;HOSPITAL PABLO SORIA</div>
</div>
<div class="container">
  <section>
    <div class="container">
      <!-- Page Features-->
      <div class="row mb-4 ">
        <div class="col">
          <div class="boton card align-items-center" type="button" routerLink="/registro-actividades">
            <div class="icon1_boton">
              <img class="img-fluid" src="/assets/img/i_actividades.png" />
            </div>
            <div class="card-body text-center">
              <h2 class="fs-4 fw-bold">ACTIVIDADES</h2>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="boton card align-items-center" type="button" routerLink="/professional-list">
            <div class="icon2_boton">
              <img class="img-fluid" src="/assets/img/i_profesionales.png" />
            </div>
            <div class="card-body text-center">
              <h2 class="fs-4 fw-bold">PROFESIONALES</h2>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="boton card align-items-center" type="button">
            <div class="icon3_boton">
              <img class="img-fluid" src="/assets/img/i_cronogramas.png" />
            </div>
            <div class="card-body text-center">
              <h2 class="fs-4 fw-bold">CRONOGRAMAS</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="boton card align-items-center" type="button" routerLink="/guardias-view">
            <div class="icon4_boton">
              <img class="img-fluid" src="/assets/img/i_guardias.png" />
            </div>
            <div class="card-body text-center">
              <h2 class="fs-4 fw-bold">GUARDIAS</h2>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="boton card align-items-center" type="button">
            <div class="icon5_boton">
              <img class="img-fluid" src="/assets/img/i_disponibilidad.png" />
            </div>
            <div class="card-body text-center">
              <h2 class="fs-4 fw-bold">DISPONIBILIDAD</h2>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="boton card align-items-center" type="button">
            <div class="icon6_boton">
              <img class="img-fluid" src="/assets/img/i_historial.png" />
            </div>
            <div class="card-body text-center">
              <h2 class="fs-4 fw-bold">HISTORIAL</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
