<app-spinner></app-spinner>
<div class="container">
  <div class="row">
    <div class="col-md-10 d-flex mb-5 justify-content-md-start justify-content-center">
      <div class="titulos">Guardias <span class="titulos-second">Activas</span></div>
    </div>
    <div class="col-md-2 d-flex justify-content-md-end justify-content-center align-items-start mt-3 mt-md-0">
    </div>  
    </div>

    <!--<div class="row mt-3 mt-md-0">
      <div class="col-md-8 d-flex justify-content-start mt-sm-3">
        <div class="contenedor-titulo-select-tabla">
          <span class="titulo-select-tabla">Efector: {{efectorNombre}}</span>
          <select class="select-tabla" placeholder="Cargando hospitales" [(ngModel)]="selectedHospital">
            <option *ngFor="let hospital of hospitales" [value]="hospital.id">{{ hospital.nombre }}</option>
          </select> 
        </div> 
      </div> 
      <div class="col-md-4 d-flex justify-content-md-end justify-content-sm-start mt-sm-5 mt-md-3">
        <div class="contenedor-titulo-select-tabla">
          <span class="titulo-select-tabla">Estás viendo: {{ fechaActual }}</span>
        </div>
      </div>
    </div>--> 
      <div class="row mt-3">
    <div class="col-md-6 text-center">
      <a class="animated-button entrada" routerLink="/rmensual-seleccion" role="button">
        <span class="label">R. mensual</span>
        <div class="icon">
          <mat-icon>assignment_returned</mat-icon>
        </div>
      </a>
    </div>
    <div class="col-md-6 text-center">
      <a class="animated-button salida" routerLink="/ddjj-seleccion" role="button">
        <span class="label">DDJJ</span>
        <div class="icon">
          <mat-icon>assignment_turned_in</mat-icon>
        </div>
      </a>
    </div>
  </div>

</div>

