<div class="container">
<div class="row">
  <div class="col">
    <div class="titulos">.:: ACTIVIDADES</div>
  </div>
</div>
<div class="row justify-content-center mt-4 mb-4">
    <div class="col">
        <div class="container-boton-c" (click)="openRegistroDiario()">
          <img src="assets/img/btn-submenu-regAct/boton-reg-diario.png" alt="RD" class="image-c">
          <div class="overlay-c">
            <div class="text">REGISTRO DIARIO</div>
          </div>
        </div>
      <div class="container-boton-c" (click)="openNovedades()">
        <img src="assets/img/btn-submenu-regAct/boton-novedades.png" alt="NOV" class="image-c">
        <div class="overlay-c">
          <div class="text">NOVEDADES PROFESIONALES</div>
        </div>
      </div>
      <div class="container-boton-c" (click)="openDistribucion()">
        <img src="assets/img/btn-submenu-regAct/boton-dist-horaria.png" alt="DH" class="image-c">
        <div class="overlay-c">
          <div class="text">DISTRIBUCIÓN HORARIA</div>
        </div>
      </div>
    </div>
</div>
</div>