<div class=" d-flex justify-content-center mt-3 mb-5"  >
    <div class="p-4 rounded-5 text-secondary shadow rounded " style="width: 95rem; height: 14rem;" >
        <div class="text-center fs-1 fw-bold fw-bold fuente">ACTIVIDADES</div>
        <div class="container mt-4">
            <div class="row mb-3" >
                <div class ="col d-flex justify-content-center"  type="button" (click)="openRegistroDiario()" >
                    <img class="img-fluid" src="/assets/img/btn-submenu-regAct/1reg-diario.png" alt="MDB Logo"
                        loading="lazy" width="100" />
                </div>
                <div class="col d-flex justify-content-center"  type="button" (click)="openNovedades()" >
                    <img class="img-fluid d-flex align-items-center " src="/assets/img/btn-submenu-regAct/2novedades.png" alt="MDB Logo"
                        loading="lazy" width="100" />
                </div>
                <div class="col d-flex justify-content-center"  type="button" (click)="openDistribucion()"  >
                    <img class="img-fluid" src="/assets/img/btn-submenu-regAct/3distib-horaria.png" alt="MDB Logo"
                        loading="lazy" width="100" />
                </div>
              </div>
            </div>
            <div class="row fuente fs-5">
                <div class="col d-flex  justify-content-center" >
                    <div >Registro Diario</div>
                </div>
                <div class="col d-flex justify-content-center" >
                    <div >Novedades</div>
                </div>
                <div class="col d-flex justify-content-center" >
                    <div class="text-center" >Distribucion horaria</div>
                </div>
            </div>
        </div>
    </div>
</div>


