<div class=" d-flex justify-content-center  vh-100 mt-5" >
    <div class="bg-white p-5 rounded-5 text-secondary shadow  rounded " style="width: 55rem; height: 20rem;" >
        <div class="text-center fs-1 fw-bold mt-3 fw-bold fuente">Registro de actividades</div>
        <div class="container mt-5" >
            <div class="row mb-3" >
                <div class="col d-flex justify-content-center"  type="button" routerLink="/registro-diario" >
                    <img class="img-fluid" src="/assets/img/btn-submenu-regAct/1reg-diario.png" alt="MDB Logo"
                        loading="lazy" width="100" />
                </div>
                <div class="col d-flex justify-content-center"  type="button" routerLink=""  >
                    <img class="img-fluid d-flex align-items-center " src="/assets/img/btn-submenu-regAct/2novedades.png" alt="MDB Logo"
                        loading="lazy" width="100" />
                </div>
                <div class="col d-flex justify-content-center"  type="button" routerLink="" >
                    <img class="img-fluid" src="/assets/img/btn-submenu-regAct/3distib-horaria.png" alt="MDB Logo"
                        loading="lazy" width="100" />
                </div>
            </div>
            <div class="row fuente fs-5">
                <div class="col d-flex  justify-content-center" >
                    <div >Registro Diario</div>
                </div>
                <div class="col d-flex justify-content-center" >
                    <div >Novedades</div>
                </div>
                <div class="col d-flex justify-content-center" >
                    <div class="text-center" >Distribucion horaria</div>
                </div>
            </div>
        </div>
    </div>
</div>


