<h2 mat-dialog-title>{{data ? 'Modificar' : 'Agregar'}} Especialidad
  <h5 class="requiredField">*Campos Obligatorios</h5>
</h2>

<form [formGroup]="form" (ngSubmit)="saveEspecialidad()">
  <mat-dialog-content>
    <div class="row" style="margin-top: 20px">
      <div class="col">
        <mat-form-field appearance="fill">
          <mat-label>Nombre</mat-label>
            <input matInput formControlName="nombre">
          <mat-error *ngIf="form?.get('nombre')?.invalid && form?.get('nombre')?.touched">
            El campo es obligatorio y debe tener solo letras (entre 2 y 50 caracteres).
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field appearance="fill">
          <mat-label>Pasiva</mat-label>
          <mat-select formControlName="esPasiva">
            <mat-option [value]="true">Si</mat-option>
            <mat-option [value]="false">No</mat-option>
          </mat-select>
          <mat-error *ngIf="form?.get('esPasiva')?.invalid && form?.get('esPasiva')?.touched">
            El campo es obligatorio.
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field appearance="fill">
          <mat-label>Profesión</mat-label>
          <mat-select formControlName="profesion" [compareWith]="compareProfesion">
            <mat-option *ngFor="let profesion of profesiones" [value]="profesion" >{{ profesion.nombre }}</mat-option>
          </mat-select>
                    <mat-error *ngIf="form?.get('profesion')?.invalid && form?.get('profesion')?.touched">
            El campo es obligatorio.
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div mat-dialog-actions class="action mt-4">
      <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid || !isModified()">
        {{data ? 'Modificar' : 'Agregar'}}
      </button>
      <button mat-raised-button color="secondary" type="button" (click)="cancelar()">
        Cancelar
      </button>
    </div>
  </mat-dialog-content>
</form>