<div class="row">
    <div class="col-1">
    </div>
    <div class="col-8 justify-content-end">
      <div class="titulos">.:: Cronograma <span class="titulos-second">definitivo</span></div>
    </div>
    <div class="col-3 justify-content-end">
      <mat-button-toggle-group name="favoriteColor" aria-label="Favorite Color">
        <mat-button-toggle value="tentativo" routerLink="/cronograma">Tentativo</mat-button-toggle>
        <mat-button-toggle value="definitivo" disabled>Definitivo</mat-button-toggle>
        <mat-button-toggle value="regional" routerLink="/cronograma-reg">Regional</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>
  <div class="titulo-calendario">Julio 2023</div>
  <div class="center-content">
      <span class="ref-circulo circulo--dia"></span>&nbsp;<span class="ref ref-calendar-dia__content">Día hábil</span>
      <span class="ref-circulo circulo--finde"></span>&nbsp;<span class="ref ref-calendar-dia--finde">Fin de semana</span>
      <span class="ref-circulo circulo--feriado"></span>&nbsp;<span class="ref ref-calendar-dia--feriado">Asueto/Feriado</span>
  </div>
  <ol class="calendar">
      <li class="calendar-dia calendar-dia--begin-week calendar-dia--otromes" data-weekday="Lu" data-week ="39">
        <span class="calendar-dia__number">26</span>
        <div class="calendar-dia__content"></div>
      </li>
      <li class="calendar-dia calendar-dia--otromes" data-weekday="Ma" data-week="39">
        <span class="calendar-dia__number">27</span>
        <div class="calendar-dia__content"></div>
      </li>
      <li class="calendar-dia calendar-dia--otromes" data-weekday="Mi" data-week="39">
        <span class="calendar-dia__number">28</span>
        <div class="calendar-dia__content"></div>
      </li>
      <li class="calendar-dia calendar-dia--otromes" data-weekday="Ju" data-week="39">
        <span class="calendar-dia__number">29</span>
        <div class="calendar-dia__content"></div>
      </li>
      <li class="calendar-dia calendar-dia--otromes" data-weekday="Vi" data-week="39">
        <span class="calendar-dia__number">30</span>
        <div class="calendar-dia__content"></div>
      </li>
      <li class="calendar-dia calendar-dia-finde" data-weekday="Sa" data-week="39">
        <span class="calendar-dia__number">01</span>
        <div class="calendar-dia__content"></div>
      </li>
      <li class="calendar-dia calendar-dia-finde" data-weekday="Do" data-week="39">
        <span class="calendar-dia__number">02</span>
        <div class="calendar-dia__content">
          <div class="calendar-dia--icon">
            <mat-icon>check_circle</mat-icon>
            <mat-icon>done</mat-icon>
            <mat-icon>clear</mat-icon></div>
          <div class="calendar-dia--text" matTooltip="Clínica, 8 hs">Dr. Felipe Lopez</div>
          <div class="calendar-dia--text" matTooltip="Ginecología, 8 hs">Dra. María Paz Monteros</div>
      </div>
      </li>
      <li class="calendar-dia calendar-dia--begin-week" data-weekday="Lu" data-week="40">
        <span class="calendar-dia__number">03</span>
        <div class="calendar-dia__content"></div>
      </li>
      <li class="calendar-dia" data-weekday="Ma" data-week="40">
        <span class="calendar-dia__number">04</span>
        <div class="calendar-dia__content"></div>
      </li>
      <li class="calendar-dia" data-weekday="Mi" data-week="40">
        <span class="calendar-dia__number">05</span>
        <div class="calendar-dia__content"></div>
      </li>
      <li class="calendar-dia" data-weekday="Ju" data-week="40">
        <span class="calendar-dia__number">06</span>
        <div class="calendar-dia__content">
          <div class="calendar-dia--icon">
            <mat-icon>check_circle</mat-icon>
            <mat-icon>done</mat-icon>
            <mat-icon>clear</mat-icon></div>
          <div class="calendar-dia--text" matTooltip="Clínica">Dra. Lucía Medina</div>
          <div class="calendar-dia--text" matTooltip="Cardiología">Dr. Juan Quintero</div>
          <div class="calendar-dia--text" matTooltip="Ginecología, 14 hs">Dra. Juana Felicitas</div>
        </div>
      </li>
      <li class="calendar-dia calendar-dia--today" data-weekday="Vi" data-week="40">
        <span class="calendar-dia__number">07</span>
        <div class="calendar-dia__content"></div>
      </li>
      <li class="calendar-dia calendar-dia-finde" data-weekday="Sa" data-week="40">
        <span class="calendar-dia__number">08</span>
        <div class="calendar-dia__content"></div>
      </li>
      <li class="calendar-dia calendar-dia-finde" data-weekday="Do" data-week="40">
        <span class="calendar-dia__number">09</span>
        <div class="calendar-dia__content"></div>
      </li>
      <li class="calendar-dia calendar-dia--begin-week" data-weekday="Lu" data-week="41">
        <span class="calendar-dia__number">10</span>
        <div class="calendar-dia__content"></div>
      </li>
      <li class="calendar-dia" data-weekday="Ma" data-week="41">
        <span class="calendar-dia__number">11</span>
        <div class="calendar-dia__content"></div>
      </li>
      <li class="calendar-dia" data-weekday="Mi" data-week="41">
        <span class="calendar-dia__number">12</span>
        <div class="calendar-dia__content"></div>
      </li>
      <li class="calendar-dia" data-weekday="Ju" data-week="41">
        <span class="calendar-dia__number">13</span>
        <div class="calendar-dia__content"></div>
      </li>
      <li class="calendar-dia" data-weekday="Vi" data-week="41">
        <span class="calendar-dia__number">14</span>
        <div class="calendar-dia__content"></div>
      </li>
      <li class="calendar-dia calendar-dia-finde" data-weekday="Sa" data-week="41">
        <span class="calendar-dia__number">15</span>
        <div class="calendar-dia__content"></div>
      </li>
      <li class="calendar-dia calendar-dia-finde" data-weekday="Do" data-week="41">
        <span class="calendar-dia__number">16</span>
        <div class="calendar-dia__content"></div>
      </li>
      <li class="calendar-dia calendar-dia--begin-week" data-weekday="Lu" data-week="42">
        <span class="calendar-dia__number">17</span>
        <div class="calendar-dia__content"></div>
      </li>
      <li class="calendar-dia" data-weekday="Ma" data-week="42">
        <span class="calendar-dia__number">18</span>
        <div class="calendar-dia__content"></div>
      </li>
      <li class="calendar-dia" data-weekday="Mi" data-week="42">
        <span class="calendar-dia__number">19</span>
        <div class="calendar-dia__content"></div>
      </li>
      <li class="calendar-dia calendar-dia-feriado" data-weekday="Ju" data-week="42">
        <span class="calendar-dia__number">20</span>
        <div class="calendar-dia__content"></div>
      </li>
      <li class="calendar-dia" data-weekday="Vi" data-week="42">
        <span class="calendar-dia__number">21</span>
        <div class="calendar-dia__content"></div>
      </li>
      <li class="calendar-dia calendar-dia-finde" data-weekday="Sa" data-week="42">
        <span class="calendar-dia__number">22</span>
        <div class="calendar-dia__content"></div>
      </li>
      <li class="calendar-dia calendar-dia-finde" data-weekday="Do" data-week="42">
        <span class="calendar-dia__number">23</span>
        <div class="calendar-dia__content"></div>
      </li>
      <li class="calendar-dia calendar-dia--begin-week" data-weekday="Lu" data-week="43">
        <span class="calendar-dia__number">24</span>
        <div class="calendar-dia__content"></div>
      </li>
      <li class="calendar-dia" data-weekday="Ma" data-week="43">
        <span class="calendar-dia__number">25</span>
        <div class="calendar-dia__content"></div>
      </li>
      <li class="calendar-dia" data-weekday="Mi" data-week="43">
        <span class="calendar-dia__number">26</span>
        <div class="calendar-dia__content"></div>
      </li>
      <li class="calendar-dia" data-weekday="Ju" data-week="43">
        <span class="calendar-dia__number">27</span>
        <div class="calendar-dia__content"></div>
      </li>
      <li class="calendar-dia" data-weekday="Vi" data-week="43">
        <span class="calendar-dia__number">28</span>
        <div class="calendar-dia__content"></div>
      </li>
      <li class="calendar-dia calendar-dia-finde" data-weekday="Sa" data-week="43">
        <span class="calendar-dia__number">29</span>
        <div class="calendar-dia__content"></div>
      </li>
      <li class="calendar-dia calendar-dia-finde" data-weekday="Do" data-week="43">
        <span class="calendar-dia__number">30</span>
        <div class="calendar-dia__content"></div>
      </li>
      <li class="calendar-dia calendar-dia--begin-week" data-weekday="Lu" data-week="44">
        <span class="calendar-dia__number">31</span>
        <div class="calendar-dia__content"></div>
      </li>
      <li class="calendar-dia calendar-dia--otromes" data-weekday="Ma" data-week="44">
        <span class="calendar-dia__number">01</span>
        <div class="calendar-dia__content"></div>
      </li>
      <li class="calendar-dia calendar-dia--otromes" data-weekday="Mi" data-week="44">
        <span class="calendar-dia__number">02</span>
        <div class="calendar-dia__content"></div>
      </li>
      <li class="calendar-dia calendar-dia--otromes" data-weekday="Ju" data-week="44">
        <span class="calendar-dia__number">03</span>
        <div class="calendar-dia__content"></div>
      </li>
      <li class="calendar-dia calendar-dia--otromes" data-weekday="Vi" data-week="44">
        <span class="calendar-dia__number">04</span>
        <div class="calendar-dia__content"></div>
      </li>
      <li class="calendar-dia calendar-dia--otromes" data-weekday="Sa" data-week="44">
        <span class="calendar-dia__number">05</span>
        <div class="calendar-dia__content"></div>
      </li>
      <li class="calendar-dia calendar-dia--otromes" data-weekday="Do" data-week="44">
        <span class="calendar-dia__number">06</span>
        <div class="calendar-dia__content"></div>
      </li>
    </ol>
