<h1 mat-dialog-title>DETALLE PROFESIONAL:</h1>
<mat-dialog-content>
  <table class="table">
    <tbody>
      <tr class="bg-light">
        <th scope="row">Apellido y nombre</th>
        <td>{{ asistencial.apellido }}, {{ asistencial.nombre }}</td>
      </tr>    

      <tr>
        <th scope="row">CUIL</th>
        <td>{{ formatCuil(asistencial.cuil) }}</td>
      </tr>    

      <tr>
        <th scope="row">Vínculo laboral</th>
        <td>{{ asistencial.legajos[0].revista.tipoRevista.nombre || '-' }}</td>
      </tr>

      <tr>
        <th scope="row">Categoría</th>
        <td>
          {{ asistencial.legajos[0].revista.categoria.nombre || '-' }}
          ({{ asistencial.legajos[0].revista.adicional.nombre || '-' }})
        </td>
      </tr>

    </tbody>
  </table>

  <div mat-dialog-actions class="action mt-4">
    <button mat-raised-button color="primary" type="button" mat-button (click)="cerrar()">Cerrar</button>
  </div>
</mat-dialog-content>
