<div mat-dialog-title class="backgroud">
    <h1 class="font">Consultorio</h1>
</div>

<form [formGroup]="distHoraria">
    <div mat-dialog-content class="content">
    <mat-form-field appearance="outline">
        <mat-label>Tipo de consultorio</mat-label>
        <mat-select formControlName="consultorio">
            <mat-option *ngFor="let co of cons" [value]="co"> {{co}}</mat-option>
        </mat-select>
    </mat-form-field>
    <div class="error">
        <span *ngIf="
            distHoraria.get('consultorio')?.hasError('required') &&
            distHoraria.get('consultorio')?.touched
          ">
          <h5>El hospital es un campo requerido</h5>
        </span>
      </div>

    <mat-form-field appearance="outline">
        <mat-label>Día de consultorio</mat-label>
        <mat-select formControlName="dia">
            <mat-option *ngFor="let dia of dia" [value]="dia"> {{dia}}</mat-option>
        </mat-select>
    </mat-form-field>
    <div class="error">
        <span *ngIf="
            distHoraria.get('dia')?.hasError('required') &&
            distHoraria.get('dia')?.touched
          ">
          <h5>El hospital es un campo requerido</h5>
        </span>
      </div>

    <mat-form-field appearance="outline">
        <mat-label>Lugar</mat-label>
        <mat-select formControlName="lugar">
            <mat-option [value]="hosp" *ngFor="let hosp of hospitales" [value]="hosp">
                {{hosp}}</mat-option>
        </mat-select>
    </mat-form-field>
    <div class="error">
        <span *ngIf="
            distHoraria.get('lugar')?.hasError('required') &&
            distHoraria.get('lugar')?.touched
          ">
          <h5>El hospital es un campo requerido</h5>
        </span>
      </div>

    <mat-form-field appearance="outline">
        <mat-label>Turno</mat-label>
        <mat-select formControlName="turno">
            <mat-option *ngFor="let turn of turno" [value]="turn"> {{turn}}</mat-option>
        </mat-select>
    </mat-form-field>
    <div class="error">
        <span *ngIf="
            distHoraria.get('turno')?.hasError('required') &&
            distHoraria.get('turno')?.touched
          ">
          <h5>El hospital es un campo requerido</h5>
        </span>
    </div>

    <mat-form-field appearance="outline">
        <mat-label>Cantidad Hs.</mat-label>
        <input matInput placeholder="Numero" formControlName="horas">
    </mat-form-field>
    <div class="error">
        <span *ngIf="
        distHoraria.get('horas')?.hasError('required') &&
        distHoraria.get('horas')?.touched
          ">
          <h5>El nombre es un campo requerido</h5>
        </span>
        <span *ngIf="
        distHoraria.get('horas')?.hasError('pattern') &&
        distHoraria.get('horas')?.touched
        ">
          <h5>Las horas deben contener solo números</h5>
        </span>
      </div>
    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button class="btnupdate" type="button"
            [mat-dialog-close]="false">Cancelar</button>
        <button mat-raised-button class="btnupdate" color="primary" [disabled]="distHoraria.invalid" type="submit">Agregar consultorio</button>
    </div>
</form>
