<h2 mat-dialog-title>
    AGREGAR PROVINCIA
    <h5 class="requiredField">*Campos Obligatorios</h5>
  </h2>
  <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
    <mat-dialog-content>
      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>Código postal</mat-label>
            <input matInput placeholder="Ingresar gentilicio" autocomplete="off" id="codigo_postal" name="codigo_postal" [(ngModel)]="codigoPostal" required/>
          </mat-form-field>
        </div>
      </div>

      <div class="row" style="margin-top: 20px">
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="Ingresar nombre del departamento" autocomplete="off" id="nombre" name="nombre" [(ngModel)]="nombre" required/>
          </mat-form-field>
        </div>
      </div>

      <div class="row" style="margin-top: 20px">
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>Provincia</mat-label>
            <input matInput placeholder="Ingresar nombre del País" autocomplete="off" id="id_provincia" name="id_provincia" [(ngModel)]="idProvincia" required/>
          </mat-form-field>
        </div>
      </div>
    </mat-dialog-content>
    <div mat-dialog-actions class="action mt-4">
      <button mat-raised-button class="btnCancel" type="button" mat-button (click)="cancel()">Cancelar
      </button>
      <button mat-raised-button color="primary" [disabled]="!f.valid">Agregar</button>
    </div>
  </form>
