<div class="container">
    <div class="container">
      <div class="row mb-4 ">
        <div class="col-lg">
          <div class="btnMenu card border-0 align-items-center" type="button" routerLink="/personal">
            <div class="icon1_btnMenu">
              <div class="card-body text-center">
                <h2 class="fs-4 fw-bold"><span>Personal</span></h2>
              </div>
              </div>
          </div>
        </div>
        <div class="col-lg">
          <div class="btnMenu card border-0 align-items-center" style="pointer-events: none;" type="button" routerLink="/personal-legajo">
            <div class="icon_select_btnMenu">
              <div class="card-body text-center">
                <h2 class="fs-4 fw-bold"><span>Legajos</span></h2>
              </div>
              </div>
          </div>
        </div>
        <div class="col-lg">
          <div class="btnMenu card border-0 align-items-center" type="button" routerLink="/personal-autoridad">
            <div class="icon3_btnMenu">
              <div class="card-body text-center">
                <h2 class="fs-4 fw-bold"><span>Autoridades</span></h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row menu-fond">
    </div>
    <app-legajo></app-legajo>

