<div class="tabla-center">
  <div class="row" style="margin-bottom: 10px;">
      <div class="col">
        <button mat-fab extended color="primary" routerLink="/guardias-view">
          <mat-icon>arrow_back_ios</mat-icon>
          Volver
        </button>
      </div>
  </div>
  <div class="row mt-5">
      <div class="col-10 offset-1 justify-content-center">
        <div class="alert alert-danger" role="alert">
        Es necesario realizar las correcciones detalladas en la fila <strong>OBSERVACIONES y volver a realizar el pase a DPH</strong>.
        </div>
      </div>
    </div>

  <div class="row">
      <div class="titulos"> DDJJ <span class="titulos-second">EXTRAS (RECHAZADA)</span>
    </div>

  <div class="row mt-3">
    <div class="col-sm scroll">
        <table class="table table-sm table-borderless">
              <thead  class="col-center" style="background-color: rgb(248, 176, 176);">
                  <tr>
                      <th class="titulo-tabla" style="background-color: red !important; color: white;">DECLARACION JURADA GUARDIAS ACTIVAS EXTRAS (RECHAZADA)</th>
                  </tr>
                  <tr>
                      <th >Julio 2023</th>
                  </tr>
                  <tr>
                      <th>MINISTERIO DE SALUD</th>
                  </tr>
                  <tr>
                      <th>"DN. PABLO SORIA"</th>
                  </tr>
                  <tr>
                      <th>REGION: CENTRO</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td colspan="16">
                          <table class="table table-hover table-bordered table-sm caption-top">
                              <thead class="thead-gris">
                                <tr>
                                  <th rowspan="3">N° ORDEN</th>
                                  <th rowspan="3">SERVICIO</th>
                                  <th rowspan="3">APELLIDO Y NOMBRE</th>
                                  <th rowspan="3">CUIL</th>
                                  <th rowspan="3">VINCULO LABORAL - UDO</th>
                                  <th rowspan="3">CATEGORIA</th>
                                  <th rowspan="3">NOVEDADES</th>
                                  <th colspan="31">GUARDIAS ACTIVAS</th>
                                </tr>
                                <tr>
                                  <td style="background-color: #9e9ea1;">Sa</td>
                                  <td style="background-color: #9e9ea1;">Do</td>
                                  <td>Lu</td>
                                  <td>Ma</td>
                                  <td>Mi</td>
                                  <td>Ju</td>
                                  <td>Vi</td>
                                  <td style="background-color: #9e9ea1;">Sa</td>
                                  <td style="background-color: #9e9ea1;">Do</td>
                                  <td>Lu</td>
                                  <td>Ma</td>
                                  <td>Mi</td>
                                  <td>Ju</td>
                                  <td>Vi</td>
                                  <td style="background-color: #9e9ea1;">Sa</td>
                                  <td style="background-color: #9e9ea1;">Do</td>
                                  <td>Lu</td>
                                  <td>Ma</td>
                                  <td>Mi</td>
                                  <td>Ju</td>
                                  <td>Vi</td>
                                  <td style="background-color: #9e9ea1;">Sa</td>
                                  <td style="background-color: #9e9ea1;">Do</td>
                                  <td>Lu</td>
                                  <td>Ma</td>
                                  <td>Mi</td>
                                  <td>Ju</td>
                                  <td>Vi</td>
                                  <td style="background-color: #9e9ea1;">Sa</td>
                                  <td style="background-color: #9e9ea1;">Do</td>
                                  <td>Lu</td>
                                </tr>
                                <tr>
                                  <td style="background-color: #9e9ea1;">1</td>
                                  <td style="background-color: #9e9ea1;">2</td>
                                  <td>3</td>
                                  <td>4</td>
                                  <td>5</td>
                                  <td>6</td>
                                  <td>7</td>
                                  <td style="background-color: #9e9ea1;">8</td>
                                  <td style="background-color: #df7545;">9</td>
                                  <td>10</td>
                                  <td>11</td>
                                  <td>12</td>
                                  <td>13</td>
                                  <td>14</td>
                                  <td style="background-color: #9e9ea1;">15</td>
                                  <td style="background-color: #9e9ea1;">16</td>
                                  <td>17</td>
                                  <td>18</td>
                                  <td>19</td>
                                  <td>20</td>
                                  <td>21</td>
                                  <td style="background-color: #9e9ea1;">22</td>
                                  <td style="background-color: #9e9ea1;">23</td>
                                  <td>24</td>
                                  <td>25</td>
                                  <td>26</td>
                                  <td>27</td>
                                  <td>28</td>
                                  <td style="background-color: #9e9ea1;">29</td>
                                  <td style="background-color: #9e9ea1;">30</td>
                                  <td>31</td>
                                </tr>
                                                  </thead>
                              <tbody>
                                <tr>
                                  <td>1</td>
                                  <td>Terapia</td>
                                  <td>APAZA, JUAN FERNANDO</td>
                                  <td>20-27324976-2</td>
                                  <td>Planta Permanente</td>
                                  <td>A(J-2)</td>
                                  <td>-</td>
                                  <td style="background-color: #9e9ea1;"></td>
                                  <td style="background-color: #9e9ea1;"></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td>24</td>
                                  <td></td>
                                  <td style="background-color: #9e9ea1;"></td>
                                  <td style="background-color: #df7545;"></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td>24</td>
                                  <td></td>
                                  <td style="background-color: #9e9ea1;"></td>
                                  <td style="background-color: #9e9ea1;"></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td>24</td>
                                  <td></td>
                                  <td style="background-color: #9e9ea1;"></td>
                                  <td style="background-color: #9e9ea1;"></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td>24</td>
                                  <td></td>
                                  <td style="background-color: #9e9ea1;"></td>
                                  <td style="background-color: #9e9ea1;"></td>
                                  <td></td>                                  </tr>
                                <tr>
                                  <td>2</td>
                                  <td>Ginecología</td>
                                  <td>BUSTOS, RITA MARIA</td>
                                  <td>27-24324954-1</td>
                                  <td>Planta Permanente</td>
                                  <td>24 HS.</td>
                                  <td>-</td>
                                  <td style="background-color: #9e9ea1;"></td>
                                  <td style="background-color: #9e9ea1;"></td>
                                  <td>24</td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td style="background-color: #9e9ea1;"></td>
                                  <td style="background-color: #df7545;"></td>
                                  <td>24</td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td style="background-color: #9e9ea1;"></td>
                                  <td style="background-color: #9e9ea1;"></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td style="background-color: #9e9ea1;"></td>
                                  <td style="background-color: #9e9ea1;"></td>
                                  <td>24</td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td style="background-color: #9e9ea1;"></td>
                                  <td style="background-color: #9e9ea1;"></td>
                                  <td>24</td>
                                </tr>
                                <tr>
                                  <td>3</td>
                                  <td>Clínica</td>
                                  <td>SAINZ, ADRIANA  ELENA</td>
                                  <td>27-18405994-6</td>
                                  <td>Planta Permanente</td>
                                  <td>B(J-2)</td>
                                  <td>-</td>
                                  <td style="background-color: #9e9ea1;">24</td>
                                  <td style="background-color: #9e9ea1;"></td>
                                  <td></td>
                                  <td>4</td>
                                  <td>4</td>
                                  <td>4</td>
                                  <td>4</td>
                                  <td style="background-color: #9e9ea1;">24</td>
                                  <td style="background-color: #df7545;"></td>
                                  <td></td>
                                  <td>4</td>
                                  <td>4</td>
                                  <td>4</td>
                                  <td>4</td>
                                  <td style="background-color: #9e9ea1;">24</td>
                                  <td style="background-color: #9e9ea1;"></td>
                                  <td></td>
                                  <td>4</td>
                                  <td>4</td>
                                  <td>4</td>
                                  <td>4</td>
                                  <td style="background-color: #9e9ea1;">24</td>
                                  <td style="background-color: #9e9ea1;"></td>
                                  <td></td>
                                  <td>4</td>
                                  <td>4</td>
                                  <td>4</td>
                                  <td>4</td>
                                  <td style="background-color: #9e9ea1;">24</td>
                                  <td style="background-color: #9e9ea1;"></td>
                                  <td></td>
                                  </tr>
                              </tbody>
                              <tfoot>
                                  <tr>
                                    <td>OBSERV.:</td>
                                    <td  colspan="43" class="negrita" style="color: red;"><em>Es necesario completar el número de guardias correctamente.</em></td>
                                    </tr>
                              </tfoot>
                          </table>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>
<div class="row">
<div class="col offset-1">
  <span class="ref-circulo circulo--finde-tabla"></span>&nbsp;<span class="ref ref-calendar-dia--finde-tabla">Fin de semana</span>
  <span class="ref-circulo circulo--feriado"></span>&nbsp;<span class="ref ref-calendar-dia--feriado">Asueto/Feriado</span>
</div>
<div class="col-auto">
<button mat-fab extended color="basic" [matMenuTriggerFor]="menu2" ml-5>
  <mat-icon>get_app</mat-icon>
  Descargar
</button>
<mat-menu #menu2="matMenu">
  <button mat-menu-item>PDF</button>
  <button mat-menu-item>XLS</button>
</mat-menu>
<button mat-fab extended color="warn" routerLink="/ddjj-extra-tot">
  <mat-icon>assignment_turned_in</mat-icon>
  Pase a DPH
  </button>
</div>
<div class="col-1">
</div>
</div>

</div>
