<h1 mat-dialog-title>DETALLE
    <h5>Departamento</h5>
</h1>
<mat-dialog-content>
    <table class="table" *ngIf="departamento">
        <tbody>
          <tr>
            <th scope="row">ID</th>
            <td>{{departamento.id}}</td>
          </tr>
          <tr>
            <th scope="row">Código Postal</th>
            <td>{{departamento.codigo_postal}}</td>
          </tr>
          <tr>
            <th scope="row">Nombre Provincia</th>
            <td>{{departamento.nombre}}</td>
          </tr>
          <tr>
            <th scope="row">Nombre País</th>
            <td>{{departamento.id_provincia}}</td>
          </tr>
        </tbody>
      </table>

    <div mat-dialog-actions class="action mt-4">
        <button mat-raised-button class="btnCancel" type="button" mat-button (click)="cancel()">Cancelar</button>
    </div>
  </mat-dialog-content>