<div class="tabla-center">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col">
          <button mat-fab extended color="primary" routerLink="/guardias-view">
            <mat-icon>arrow_back_ios</mat-icon>
            Volver
          </button>
        </div>
        <div class="col">
          <button mat-fab extended color="primary" routerLink="/ddjj-tentativo">
            <mat-icon>assignment</mat-icon>
            DDJJ Tentativo
          </button>        
        </div>
        <div class="col-auto mx-4">
          <button color="warn" mat-mini-fab matTooltip="Rechazar" class="mx-3" (click)="openDialog()">
            <mat-icon>clear</mat-icon>
          </button>
          <button class="bg-success text-light" mat-mini-fab matTooltip="Autorizar" onclick="document.getElementById('firma').classList.toggle('mostrar');">
            <mat-icon>done</mat-icon>
          </button>
        </div>
  
    </div>
    <div class="row">
        <div class="titulos"> DDJJ <span class="titulos-second">CONTRA FACTURA (Consolidado)</span>
      </div>
  
    <div class="row mt-3">
      <div class="col-sm scroll">
          <table class="table table-sm  table-borderless">
                <thead class="col-center thead-celeste">
                    <tr>
                        <th class="titulo-tabla">DECLARACION JURADA GUARDIAS ACTIVAS CONTRA FACTURA</th>
                    </tr>
                    <tr>
                        <th>Julio 2023</th>
                    </tr>
                    <tr>
                        <th>MINISTERIO DE SALUD</th>
                    </tr>
                    <tr>
                        <th>"DN. PABLO SORIA"</th>
                    </tr>
                    <tr>
                        <th>REGION: CENTRO</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="16">
                            <table class="table table-hover table-bordered table-sm caption-top">
                                <thead class="thead-gris">
                                  <tr>
                                    <th rowspan="2">N° ORDEN</th>
                                    <th colspan="3">PROFESIONAL</th>
                                    <th colspan="3">COMPROBANTE</th>
                                    <th colspan="2">DÍA DE GUARDIA</th>
                                    <th colspan="2">CANTIDAD DE HS. GUARDIA</th>
                                    <th colspan="2">MONTO POR GUARDIA</th>
                                    <th colspan="2">CANTIDAD DE HS. BONO</th>
                                    <th colspan="2">MONTO BONO</th>
                                    <th colspan="2" style="background-color: rgb(78, 233, 168);">TOTAL HS. A LIQUIDAR</th>
                                    <th rowspan="2">TOTAL CALCULADO</th>
                                    <th rowspan="2">TOTAL FACTURADO</th>
                                    <th rowspan="2">DIFERENCIA DE REDONDEO</th>
                                  </tr>
                                  <tr>
                                    <th>APELLIDO Y NOMBRE</th>
                                    <th>CUIL</th>
                                    <th>ESPECIALIDAD</th>
                                    <td>Contribuyente</td>
                                    <td>Factura</td>
                                    <td>Fecha de emisión</td>
                                    <td>L-V</td>
                                    <td>S-D-F</td>
                                    <td>L-V</td>
                                    <td>S-D-F</td>
                                    <td>L-V</td>
                                    <td>S-D-F</td>
                                    <td>L-V</td>
                                    <td>S-D-F</td>
                                    <td>L-V</td>
                                    <td>S-D-F</td>
                                    <td style="background-color: rgb(78, 233, 168);;">L-V</td>
                                    <td style="background-color: rgb(78, 233, 168);;">S-D-F</td>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>1</td>
                                    <td>HUERTAS CLEMENTE</td>
                                    <td>20-45368456-5</td>
                                    <td>GENERALISTA</td>
                                    <td>Responsable Inscripto</td>
                                    <td>B-2-56</td>
                                    <td>4/4/2023</td>
                                    <td>27/7/2023</td>
                                    <td></td>
                                    <td>8</td>
                                    <td></td>
                                    <td>$12.696,98</td>
                                    <td></td>
                                    <td>24</td>
                                    <td></td>
                                    <td>$18.481,80</td>
                                    <td></td>
                                    <td>$31.178,78</td>
                                    <td></td>
                                    <td style="background-color: #eee;">$31.178,78</td>
                                    <td style="background-color: #eee;">$31.178,78</td>
                                    <td style="background-color: #eee;">$0,03</td>
                                  <tr>
                                    <td>2</td>
                                    <td>ARRAYA PEDRO ADEMIR</td>
                                    <td>20-20675037-3</td>
                                    <td>GENERALISTA</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>30/6/2023</td>
                                    <td>2/7/2023</td>
                                    <td>24</td>
                                    <td>24</td>
                                    <td>$38.090,94</td>
                                    <td>$41.900,03</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>$38.090,94</td>
                                    <td>$41.900,03</td>
                                    <td style="background-color: #eee;">$79.990,97</td>
                                    <td style="background-color: #eee;">$79.990,95</td>
                                    <td style="background-color: #eee;">$0,02</td>
                                  </tr>
                                  <tr style="background-color: #61bfd6;">
                                    <td colspan="17" style="font-weight: bold;">TOTAL HOSPITAL PABLO SORIA</td>
                                    <td>69.269,72</td>
                                    <td>$41.900,03</td>
                                    <td>$111.169,75</td>
                                    <td>111.169,7</td>
                                    <td> - </td>
                                  </tr>

                                </tbody>
                                <tfoot>
                                    <tr>
                                      <td>OBSERV.:</td>
                                      <td  *ngIf="observ" colspan="43" class="negrita" style="color: red;"><em>{{observ}}</em></td>
                                      </tr>
                                </tfoot>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
  <div class="col offset-1">
</div>
<div class="col-auto">
  <button mat-fab extended color="basic" [matMenuTriggerFor]="menu2" ml-5>
    <mat-icon>get_app</mat-icon>
    Descargar
  </button>
  <mat-menu #menu2="matMenu">
    <button mat-menu-item>PDF</button>
    <button mat-menu-item>XLS</button>
  </mat-menu>
  <button id="btn-rechazo" class="mostrar" mat-fab extended color="warn" routerLink="/ddjj-contrafactura-tot-rec" matTooltip="Devolver al Hospital">
    <mat-icon>assignment_return</mat-icon>
    RECHAZAR
    </button>    
</div>
<div class="col-1">
</div>
</div>
<div class="row offset-1 mostrar" id="firma">
<div class="col negrita">
<p>CORRESPONDE EL PAGO DE GUARDIAS DEL CARGO EFECTIVAMENTE CUMPLIDAS (PROFESIONALES 24 HS. Y J-2) Y BONO DE GUARDIAS COVID- SEGÚN RESOLUCIÓN  N° 516-S/2023  -  PARA AQUELLOS AGENTES QUE SE EN CUENTREN GOZANDO DE L.A.O., LIC. POR MATERNIDAD; - </p>
<button mat-fab extended class="bg-success text-light" routerLink="/ddjj-contrafactura-tot-ap" matTooltip="Pase al Hospital">
  <mat-icon>assignment_turned_in</mat-icon>
  APROBADO
  </button>
</div>
<div class="col"><img src="assets/img/firma_arias.png" style="width: 400px;"/></div>
</div>