<div mat-dialog-title class="backgroud">
    <h1 class="font">Nuevo Registro</h1>
</div>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Ver</th>
        <th scope="col">Editar</th>
        <th scope="col">Borrar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let servicio of servicios" >
        <td>{{servicio.id}}</td>
        <td>{{servicio.descripcion}}</td>
        <td><button class="btn btn-outline-primary" routerLink="/detalle/{{servicio.id}}">Ver</button></td>
        <td><button class="btn btn-outline-warning" routerLink="/editar/{{servicio.id}}">Editar</button></td>
        <td><button class="btn btn-outline-danger" >Eliminar</button></td>
        <!-- <td><button class="btn btn-outline-danger" (click)="borrarServicio(servicio.id)">Eliminar</button></td> -->
      </tr>
    </tbody>
  </table>
  <button class="btn btn-outline-primary" routerLink="/nuevo">Nuevo</button>
