<app-spinner></app-spinner>
<div class="container">
  <div class="row">
    <div class="col-6 col-md-7 mb-3">
      <div class="titulos">DISTRIBUCIÓN <span class="titulos-second">HORARIA</span></div>
    </div>
    <div class="col-6 col-md-5 d-flex justify-content-end">
      <button mat-fab class="button-primary" matTooltip="Volver atrás" routerLink="/personal">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <button mat-fab matTooltip="Descargar excel" class="button-success" style="margin-left: 5px;">
        <mat-icon>get_app</mat-icon>
      </button>
      <button mat-fab class="button-pase" style="margin-left: 5px;" matTooltip="Ver historial">
        <mat-icon>calendar_month</mat-icon>
      </button>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-1">
      <div class="contenedor-bocadillo">
        <div>{{ nombreMes }}</div>
        <div>{{ anoActual }}</div>
      </div>
    </div>
    <div class="col-md-8 d-flex justify-content-start">
      <div class="contenedor-titulo-bocadillo">
        PROFESIONAL
      </div>
    </div>
    <div class="col-md-3 d-flex justify-content-start">
      <div class="contenedor-subtitulo-bocadillo">
        ACTUAL
      </div>  
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-hover table-bordered table-sm caption-top">
      <thead style="background-color: #bbb9b9;">
        <tr>
          <th colspan="3">DATOS DEL ASISTENCIAL</th>
        </tr>
        <tr>
          <th>Apellido y Nombre:</th>
          <td colspan="2">{{ asistencial?.apellido }}, {{ asistencial?.nombre }}</td>
        </tr>
        <tr>
          <th>CUIL:</th>
          <td colspan="2">{{ asistencial?.cuil }}</td>
        </tr>
        <tr>
          <th>DÍA</th>
          <th>Mañana</th>
          <th>Tarde</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dia of ['domingo', 'lunes', 'martes', 'miércoles', 'jueves', 'viernes', 'sábado']">
          <td>{{ dia | titlecase }}</td>
          <td>{{ horasPorDia[dia].manana || '' }} hs</td>
          <td>{{ horasPorDia[dia].tarde || '' }} hs</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="text-aprobado">El total de horas semanales cargadas para {{ nombreMes }} {{ anoActual }}, coincide con la carga horaria informada (40).</div>

</div>
