<h1 mat-dialog-title>DETALLE
  <h5>HOSPITAL</h5>
</h1>
<mat-dialog-content>
  <table class="table">
      <tbody>
        <tr>
          <th scope="row">Nombre</th>
          <td>{{caps.nombre}}</td>
        </tr>
        <tr>
          <th scope="row">Domicilio</th>
          <td>{{caps.domicilio}}</td>
        </tr>
        <tr>
          <th scope="row">Teléfono</th>
          <td>{{caps.telefono}}</td>
        </tr>
        <tr>
          <th scope="row">Observaciones</th>
          <td>{{caps.observacion}}</td>
        </tr>
        <tr>
          <th scope="row">Region</th>
          <td>{{caps.region.nombre}}</td>
        </tr>
        <tr>
          <th scope="row">Localidad</th>
          <td>{{caps.localidad.nombre}}</td>
        </tr>
        <tr>
  <th scope="row">Sello</th>
  <td>
    <img
                *ngIf="caps.url"
                [src]="imageUrl"
                alt="Imagen del Caps"
                style="max-width: 200px; height: auto; border: 1px solid #ddd; border-radius: 4px; padding: 5px;"
                (load)="onImageLoad($event)"
                (error)="onImageError($event)"
              >
    <span *ngIf="!caps.url" style="color: #666; font-style: italic;">Sin imagen</span>
  </td>
</tr>
      </tbody>
    </table>
  <div mat-dialog-actions class="action mt-4">
      <button mat-raised-button color="primary" type="button" mat-button (click)="cerrar()">Cerrar</button>
  </div>
</mat-dialog-content>