<div class="row tabla-center">
    <div class="row" style="margin-bottom: 15px;">
      <div class="col">
        <button mat-fab extended color="primary" routerLink="/professional-dh-hist/{{person.id}}">
          <mat-icon>arrow_back_ios</mat-icon>
          Volver
        </button>
      </div>
      <div class="col d-flex justify-content-end">

      </div>
  </div>
    <div class="col-sm">
        <table class="table table-sm  table-borderless">
              <thead class="table-light col-center">
                <tr>
                  <th style="background-color: black; color: #fff;">PLANILLA DISTRIBUCION HORARIA PROFESIONALES</th>
              </tr>
                  <tr>
                      <th></th>
                  </tr>
                  <tr>
                      <th>MINISTERIO DE SALUD</th>
                  </tr>
                  <tr>
                      <th>{{person.hospital}}</th>
                  </tr>
                  <tr>
                      <th>REGION: {{person.region}}</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td colspan="16">
                          <table class="table table-hover table-bordered table-sm caption-top">
                              <thead style="background-color: #bbb9b9;">
                                <tr>
                                  <th rowspan="3">DATOS PROFESIONAL</th>
                                  <th colspan="7">DISTRIBUCIÓN HORARIA - PLANILLA</th>
                                  <th rowspan="3">TOTAL HS. SEMANALES</th>
                                </tr>
                                <tr>
                                  <td style="background-color: #eee;">Sa</td>
                                  <td style="background-color: #eee;">Do</td>
                                  <td>Lu</td>
                                  <td>Ma</td>
                                  <td>Mi</td>
                                  <td>Ju</td>
                                  <td>Vi</td>
                                </tr>

                              </thead>
                              <tbody>
                                <tr>
                                  <td rowspan="4">
                                      <tr>
                                        <td>Apellido y nombre: </td>
                                        <td style="font-weight: bold;">{{person.apellido}}, {{person.nombre}}</td>
                                      </tr>
                                      <tr>
                                        <td>CUIL: </td>
                                        <td style="font-weight: bold;">{{person.cuil}}</td>
                                      </tr>
                                      <tr>
                                        <td>Especialidad: </td>
                                        <td style="font-weight: bold;">{{person.especialidad}} </td>
                                      </tr>
                                      <tr>
                                        <td>U.D.O: </td>
                                        <td style="font-weight: bold;">{{person.udo}}</td>

                                      </tr>
                                      <tr>
                                        <td>Situación de revista: </td>
                                        <td style="font-weight: bold;">{{person.sitRevista}}</td>
                                      </tr>
                                      <tr>
                                        <td>Categoria: </td>
                                        <td style="font-weight: bold;">{{person.cat}}</td>
                                      </tr>
                                      <tr>
                                        <td>Carga horaria: </td>
                                        <td style="font-weight: bold;">40 </td>
                                      </tr>
                                      <tr>
                                        <td>Adicional: </td>
                                        <td style="font-weight: bold;">{{person.adicional}}</td>
                                      </tr>
                                  </td>
                                  <td>-</td>
                                  <td>-</td>
                                  <td>-</td>
                                  <td>GC (24 hs.)</td>
                                  <td>GA (16 hs.)</td>
                                  <td>-</td>
                                  <td>-</td>
                                  <td  style="font-weight: bold;">40</td>
                                </tr>
                                <tr>
                                  <td>-</td>
                                  <td>-</td>
                                  <td>-</td>
                                  <td>GC (24 hs.)</td>
                                  <td>GA (16 hs.)</td>
                                  <td>-</td>
                                  <td>-</td>
                                  <td  style="font-weight: bold;">40</td>
                                </tr>
                                <tr>
                                  <td>-</td>
                                  <td>-</td>
                                  <td>-</td>
                                  <td>GC (24 hs.)</td>
                                  <td>GA (16 hs.)</td>
                                  <td>-</td>
                                  <td>-</td>
                                  <td  style="font-weight: bold;">40</td>
                                </tr>
                                <tr>
                                  <td>-</td>
                                  <td>-</td>
                                  <td>-</td>
                                  <td>GC (24 hs.)</td>
                                  <td>GA (16 hs.)</td>
                                  <td>-</td>
                                  <td>-</td>
                                  <td  style="font-weight: bold;">40</td>
                                </tr>
                              </tbody>
                              <tfoot>
                                  <tr>
                                      <td>OBSERV.:</td>
                                  </tr>
                              </tfoot>
                          </table>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>

