<h2 mat-dialog-title>{{data ? 'Modificar' : 'Agregar'}} Ministerio
  <h5 class="requiredField">*Campos Obligatorios</h5>
</h2>

<form [formGroup]="ministerioForm" (ngSubmit)="saveMinisterio()">
  <mat-dialog-content>
    <div class="row" style="margin-top: 20px">
      <div class="col">
        <mat-form-field appearance="fill">
          <mat-label>Nombre</mat-label>
            <input matInput formControlName="nombre">
          <mat-error *ngIf="ministerioForm?.get('nombre')?.invalid && ministerioForm?.get('nombre')?.touched">
            El campo es obligatorio y debe tener solo letras (entre 2 y 50 caracteres).
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field appearance="fill">
          <mat-label>Domicilio</mat-label>
            <input matInput formControlName="domicilio">
          <mat-error *ngIf="ministerioForm?.get('domicilio')?.invalid && ministerioForm?.get('domicilio')?.touched">
            El campo puede contener letras y números (entre 3 y 80 caracteres).
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field appearance="fill">
          <mat-label>Teléfono</mat-label>
          <input matInput formControlName="telefono">
          <mat-error *ngIf="ministerioForm?.get('telefono')?.invalid && ministerioForm?.get('telefono')?.touched">
            El campo debe tener solo números (9 a 15 digitos).
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field appearance="fill">
          <mat-label>Observación</mat-label>
            <input matInput formControlName="observacion">
          <mat-error *ngIf="ministerioForm?.get('observacion')?.invalid && ministerioForm?.get('observacion')?.touched">
            El campo puede contener letras y números (entre 3 y 80 caracteres).
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field appearance="fill">
          <mat-label>Estado</mat-label>
          <mat-select formControlName="estado">
            <mat-option [value]="true">Activo</mat-option>
            <mat-option [value]="false">Inactivo</mat-option>
          </mat-select>
          <mat-error *ngIf="ministerioForm?.get('esPasiva')?.invalid && ministerioForm?.get('esPasiva')?.touched">
            El campo es obligatorio.
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field appearance="fill">
          <mat-label>Localidad</mat-label>
          <mat-select formControlName="localidad" [compareWith]="compareLocalidad">
            <mat-option *ngFor="let localidad of localidades" [value]="localidad" >{{ localidad.nombre }}</mat-option>
          </mat-select>
                    <mat-error *ngIf="ministerioForm?.get('localidad')?.invalid && ministerioForm?.get('localidad')?.touched">
            El campo es obligatorio.
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field appearance="fill">
          <mat-label>Región</mat-label>
          <mat-select formControlName="region" [compareWith]="compareRegion">
            <mat-option *ngFor="let region of regiones" [value]="region" >{{ region.nombre }}</mat-option>
          </mat-select>
                    <mat-error *ngIf="ministerioForm?.get('region')?.invalid && ministerioForm?.get('region')?.touched">
            El campo es obligatorio.
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field appearance="fill">
          <mat-label>Es cabecera</mat-label>
            <input matInput formControlName="idCabecera">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field appearance="fill">
          <mat-label>Porcentaje por zona</mat-label>
            <input matInput formControlName="porcentajePorZona">
        </mat-form-field>
      </div>
    </div>
    <div mat-dialog-actions class="action mt-4">
      <button mat-raised-button color="primary" type="submit" [disabled]="!ministerioForm.valid || !isModified()">
        {{data ? 'Modificar' : 'Agregar'}}
      </button>
      <button mat-raised-button color="secondary" type="button" (click)="cancelar()">
        Cancelar
      </button>
    </div>
  </mat-dialog-content>
</form>