<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill" style="width: 100%;">
    <mat-label>Estado</mat-label>
    <mat-select [(value)]="estado">
      <mat-option value="APROBADO">Aprobado</mat-option>
      <mat-option value="RECHAZADO">Rechazado</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" style="width: 100%;" *ngIf="estado === 'RECHAZADO'">
    <mat-label>Motivo del rechazo</mat-label>
    <textarea matInput [(ngModel)]="motivo"></textarea>
  </mat-form-field>
</div>

<div mat-dialog-actions align="end">
  <button mat-button (click)="dialogRef.close()">Cancelar</button>
  <button mat-button color="primary" [disabled]="estado === 'RECHAZADO' && !motivo.trim()" (click)="confirm()">Aceptar</button>
</div>
