<h1 mat-dialog-title>DETALLE PROFESIONAL:</h1>
<mat-dialog-content>
  <table class="table">
    <tbody>
      <tr class="bg-light">
        <th scope="row">Apellido y nombre</th>
        <td>{{ asistencial.apellido }}, {{ asistencial.nombre }}</td>
      </tr>    
      <tr>
        <th scope="row">CUIL</th>
        <td>{{ asistencial.cuil }}</td>
      </tr>    
      <tr>
        <th scope="row">Vínculo laboral</th>
        <td>{{ legajoActual?.nombreTipoRevista }}</td>
      </tr>    
      <tr>
        <th scope="row">Categoria</th>
        <td>{{ legajoActual?.nombreCategoria }} ({{ legajoActual?.nombreAdicional }})</td>
      </tr>      
      <tr>
      <th scope="row">Novedades</th>
      <td>
        <div *ngFor="let novedad of novedadesActivas">
          {{ novedad.tipoLicencia.nombre }} 
          <span>({{ formatDate(novedad.fechaInicio, novedad.fechaFinal) }})</span>
        </div>
      </td>
      </tr>
    </tbody>
  </table>
  <div mat-dialog-actions class="action mt-4">
    <button mat-raised-button color="primary" type="button" mat-button (click)="cerrar()">Cerrar</button>
  </div>
</mat-dialog-content>