<app-spinner></app-spinner>
<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="titulos">Agregar Legajo no asistencial</div>
    </div>
    <div class="col-6 m mt-3 d-flex justify-content-end">
      <button mat-fab class="button-primary" matTooltip="Volver atrás" (click)="cancel()">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
    </div>
  </div>

  <div class="row">
    <h5 class="['required']Field">*Campos Obligatorios</h5>
  </div>

  <div class="row">
    <mat-dialog-content class="mat-typography">

      <form [formGroup]="legajoForm" (ngSubmit)="createLegajoDtoAndSave()">

        <div class="form-row">
        <mat-form-field appearance="fill" style="margin-top: 20px;">
            <mat-label>Persona</mat-label>
            <input matInput [value]="inputValue" readonly required>
            <mat-icon matSuffix>person</mat-icon>
            <mat-error *ngIf="legajoForm.get('idPersona')?.hasError('required')">
              El campo persona es requerido.
            </mat-error>
          </mat-form-field>
        </div>

        <div class="form-row">
          <mat-form-field appearance="fill" style="margin-top: 20px;">
              <mat-label>Tipo de legajo</mat-label>
              <mat-select formControlName="esAutoridad">
                <mat-option [value]="false">General</mat-option>
                <mat-option [value]="true">Autoridad</mat-option>
              </mat-select>
              <mat-error *ngIf="legajoForm.get('esAutoridad')?.errors?.['required']">El campo es requerido.</mat-error>
          </mat-form-field>
        </div>

        <div class="form-row">
          <mat-form-field appearance="fill" *ngIf="legajoForm.get('esAutoridad')?.value">
              <mat-label>Cargo</mat-label>
              <mat-select formControlName="idCargo" (selectionChange)="onCargoChange()">
                <ng-container *ngFor="let cargo of cargos">
                  <!--siendo 2 el id del cargo del Director Regional-->
                  <mat-option *ngIf="isAdministrativo ? cargo.id !== 2 : true" [value]="cargo.id">
                    {{ cargo.nombre }}
                  </mat-option>
                </ng-container>
              </mat-select>
              <mat-error *ngIf="legajoForm.get('idCargo')?.errors?.['required']">El cargo es requerido.</mat-error>
          </mat-form-field>

            <mat-form-field appearance="fill" *ngIf="showEfectorAutoridad">
              <mat-label>Efector del cargo</mat-label>
              <mat-select formControlName="efectoresAutoridad">
                <mat-option *ngFor="let efector of getEfectoresFiltrados()" [value]="efector.id">{{ efector.nombre }}</mat-option>
              </mat-select>
            </mat-form-field>
        </div>


        <div class="form-row">
            <mat-form-field appearance="fill" *ngIf="showRegion">
              <mat-label>Región</mat-label>
              <mat-select formControlName="idRegion">
                <mat-option *ngFor="let region of regiones" [value]="region.id">{{ region.nombre }}</mat-option>
              </mat-select>
              <mat-error *ngIf="legajoForm.get('idRegion')?.errors?.['required']">La región es requerida.</mat-error>
            </mat-form-field>
        </div>

          <div class="form-row">
            <mat-form-field appearance="fill">
              <mat-label>Fecha Inicio</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="fechaInicio" [max]="maxDate" (dateChange)="onDateChange($event)">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="legajoForm.get('fechaInicio')?.hasError('required')">La fecha es requerida.</mat-error>
              <mat-error *ngIf="legajoForm.get('fechaInicio')?.hasError('futureDate')">La fecha no puede ser posterior a la fecha actual.</mat-error>
            </mat-form-field>
                    
            <mat-form-field appearance="fill">
              <mat-label>Fecha Fin</mat-label>
              <input matInput [matDatepicker]="pickerFinal" formControlName="fechaFinal" [min]="minFechaFinal" placeholder="Fecha Final">
              <mat-datepicker-toggle matSuffix [for]="pickerFinal"></mat-datepicker-toggle>
              <mat-datepicker #pickerFinal></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="form-row">
            <mat-radio-group formControlName="tipoUdo" (change)="onTipoUdoChange($event)" class="radio-group-with-line">
              <mat-radio-button color="primary" [value]="1" style="margin-right: 10px;">Ministerio</mat-radio-button>
              <mat-radio-button [value]="2"style="margin-right: 10px;">Hospital</mat-radio-button>
              <mat-radio-button color="warn" [value]="3">CAPS</mat-radio-button>
              <mat-error *ngIf="legajoForm.get('tipoUdo')?.errors?.['required']">U.D.O. requiere seleccionar: Ministerio, Hospital o Caps.</mat-error>
            </mat-radio-group>
          </div>

          <div class="form-row">
            <mat-form-field appearance="fill">
              <mat-label>U.D.O. (a la que pertenece el cargo)</mat-label>
              <mat-select formControlName="udo">
                <mat-option *ngFor="let udo of udoOptions" [value]="udo">{{ udo.nombre }}</mat-option>
              </mat-select>
              <mat-error *ngIf="legajoForm.get('udo')?.errors?.['required']">La U.D.O. es requerida.</mat-error>
            </mat-form-field>
          </div>

          <div class="form-row">
            <mat-radio-group formControlName="tipoEfector" (change)="onTipoEfectorChange($event)" class="radio-group-with-line">
              <mat-radio-button color="primary" [value]="1" style="margin-right: 10px;">Ministerio</mat-radio-button>
              <mat-radio-button [value]="2" style="margin-right: 10px;">Hospital</mat-radio-button>
              <mat-radio-button color="warn" [value]="3">CAPS</mat-radio-button>
              <mat-error *ngIf="legajoForm.get('tipoEfector')?.errors?.['required']">Efector requiere seleccionar: Ministerio, Hospital o Caps.</mat-error>
            </mat-radio-group>
          </div>

          <div class="form-row">
            <mat-form-field appearance="fill">
              <mat-label>Efector (lugar de trabajo)</mat-label>
              <mat-select formControlName="efectores">
                <mat-option *ngFor="let efector of efectorOptions" [value]="efector.id">{{ efector.nombre }}</mat-option>
              </mat-select>
              <mat-error *ngIf="legajoForm.get('efectores')?.errors?.['required']">El efector es requerido.</mat-error>
            </mat-form-field>
          </div>
    
        <div mat-dialog-actions class="action mt-4">
          <button mat-raised-button color="primary" type="submit" [disabled]="!legajoForm.valid" class="me-2">
            Agregar Legajo
          </button>

          <button mat-raised-button color="secondary" type="button" (click)="cancel()">
            Cancelar
          </button>
        </div>
      </form>
    </mat-dialog-content>
  </div>
</div>