<div class="row">
  <div class="col" type="button" routerLink="/home-page">
    <div class="card-body text-center">
      <img class="img-fluid nav-item" src="/assets/img/profesionales.png" />
      <h6 class="fs-8 fw-bold">HOME</h6>
    </div>
  </div>

  <div class="col" type="button" routerLink="/registro-actividades">
    <div class="card-body text-center">
      <img class="img-fluid nav-item" src="/assets/img/registro-diario.png" />
      <h6 class="fs-8 fw-bold">ACTIVIDADES</h6>
    </div>
  </div>

  <div class="col" type="button" routerLink="/professional-list">
    <div class="card-body text-center">
      <img class="img-fluid nav-item" src="/assets/img/profesionales.png" />
      <h6 class="fs-8 fw-bold">PROFESIONALES</h6>
    </div>
  </div>

  <div class="col" type="button" routerLink="/daily-schedule">
    <div class="card-body text-center">
      <img
        class="img-fluid nav-item"
        src="/assets/img/cronograma.png"
        width="90%"
      />
      <h6 class="fs-8 fw-bold">CRONOGRAMAS</h6>
    </div>
  </div>

  <div class="col" type="button" routerLink="/">
    <div class="card-body text-center">
      <img
        class="img-fluid nav-item"
        src="/assets/img/guardias.png"
        width="90%"
      />
      <h6 class="fs-8 fw-bold">GUARDIAS</h6>
    </div>
  </div>

  <div class="col" type="button" routerLink="/">
    <div class="card-body text-center">
      <img
        class="img-fluid nav-item"
        src="/assets/img/disponibilidad.png"
        width="90%"
      />
      <h6 class="fs-8 fw-bold">DISPONIBILIDAD</h6>
    </div>
  </div>


  <div class="col" type="button" routerLink="/">
    <div class="card-body text-center">
      <img
        class="img-fluid nav-item"
        src="/assets/img/historial.png"
        width="90%"
      />
      <h6 class="fs-8 fw-bold">HISTORIAL</h6>
    </div>
  </div>
</div>
