<div class="row">
  <div class="col" type="button" routerLink="/home-page">
    <div class="card-body text-center">
      <h5 class="fs-8">INICIO</h5>
    </div>
  </div>
  <div class="col" type="button" routerLink="/registro-actividades">
    <div class="card-body text-center">
      <h5 class="fs-8">ACTIVIDADES</h5>
    </div>
  </div>

  <div class="col" type="button" routerLink="/professional-list">
    <div class="card-body text-center">
      <h5 class="fs-8">PROFESIONALES</h5>
    </div>
  </div>

  <div class="col" type="button" routerLink="/">
    <div class="card-body text-center">
      <h5 class="fs-8">CRONOGRAMAS</h5>
    </div>
  </div>

  <div class="col" type="button" routerLink="/guardias-view">
    <div class="card-body text-center">
      <h5 class="fs-8">GUARDIAS</h5>
    </div>
  </div>

  <div class="col" type="button" routerLink="/">
    <div class="card-body text-center">
      <h5 class="fs-8">DISPONIBILIDAD</h5>
    </div>
  </div>


  <div class="col" type="button" routerLink="/">
    <div class="card-body text-center">
      <h5 class="fs-8">HISTORIAL</h5>
    </div>
  </div>
</div>
