<div class="row">
  <div class="col-12">

    <p></p>

    <div class="table">
      <app-professional-table></app-professional-table>
    </div>

    <p></p>

    <div mat-dialog-actions class="action">
      <button mat-raised-button class="btnupdate" color="primary" type="button"
          [mat-dialog-close]="false">Cancelar</button>
  </div>
    <!--
    <div class="offset-10 d-flex justify-content-between">
      <button mat-button (click)="close()" class="btn btn-primaty">Cerrar</button>
    </div>
    -->
  </div>
</div>
