  <div class="row justify-content-center">
      <div class="col-12 text-center">
        <h1>Página no encontrada</h1>
      </div>
    
      <div class="col-12 text-center">
      <img src="assets/img/notFound.png" alt="Pagina no encontrada" />
      </div>

      <div class="col-12 text-center">
      <p>La ruta a la que intentaste acceder no existe.</p>
      </div>
  
      <div class="col-12 text-center">
      <button mat-raised-button color="primary" type="button" mat-button (click)="goBack()">Volver al inicio</button>
      </div>
</div>