.hora-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .hora-details {
    margin-top: 5px;
    font-size: 10px;
    color: #707070;
    line-height: 1;
  }

  
.columna-con-borde {
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
}

.bordeTotal {   border-left: 2px solid #e0e0e0;}
