<h1 mat-dialog-title>DETALLE
  <h5>MINISTERIO</h5>
</h1>
<mat-dialog-content>
  <table class="table">
      <tbody>
        <tr>
          <th scope="row">ID</th>
          <td>{{ministerio.id}}</td>
        </tr>
        <tr>
          <th scope="row">Nombre</th>
          <td>{{ministerio.nombre}}</td>
        </tr>
        <tr>
          <th scope="row">Domicilio</th>
          <td>{{ministerio.domicilio}}</td>
        </tr>
        <tr>
          <th scope="row">Teléfono</th>
          <td>{{ministerio.telefono}}</td>
        </tr>
        <tr>
          <th scope="row">Estado</th>
          <td>{{ministerio.estado ? 'Activo' : 'Inactivo'}}</td>
        </tr>
        <tr>
          <th scope="row">Observaciones</th>
          <td>{{ministerio.observacion}}</td>
        </tr>
        <tr>
          <th scope="row">Region</th>
          <td>{{ministerio.region.nombre}}</td>
        </tr>
        <tr>
          <th scope="row">Localidad</th>
          <td>{{ministerio.localidad.nombre}}</td>
        </tr>
        <tr>
          <th scope="row">Es Cabecera</th>
          <td>{{ministerio.idCabecera}}</td>
        </tr>
        <tr>
          <th scope="row">Autoridad</th>
          <td>{{ministerio.idAutoridad}}</td>
        </tr>
      </tbody>
    </table>
  <div mat-dialog-actions class="action mt-4">
      <button mat-raised-button color="primary" type="button" mat-button (click)="cerrar()">Cerrar</button>
  </div>
</mat-dialog-content>