<div class="mat-card-container">
<mat-card>
  <mat-card-content>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-icon matPrefix color="primary">person</mat-icon>
      <mat-label>Usuario</mat-label>
      <input matInput formControlName="username">
      <mat-error *ngIf="loginForm.controls['username'].hasError('required')">
        El usuario es <strong>requerido</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-icon matPrefix color="primary">lock</mat-icon>
      <mat-label>Contraseña</mat-label>
      <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
      <mat-icon matSuffix color="primary" (click)="hide = !hide">
        {{hide ? 'visibility_off' : 'visibility'}}
      </mat-icon>
      <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
        La contraseña es <strong>requerida</strong>
      </mat-error>
    </mat-form-field>
    <h5><a href="#" (click)="onForgotPassword()">Olvidé mi contraseña</a></h5>
    <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Ingresar</button>
  </form>
</mat-card-content>
</mat-card>
</div>