<div class="text-center" *ngIf="isLogged; else loggedOut">
  <h2>Ya has iniciado sesión</h2>
</div>

<ng-template #loggedOut>

  <div class="fadeIn first">
    <img src="assets/img/logo_sigu.png" id="icon" alt="SIGU" style="width: 190px;"/>
  </div>

  <div id="formContent">
    <h2 class="active"> Ingresar</h2>
    <h2 class="inactive underlineHover">Solicitar usuario</h2>

    <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
      <mat-form-field appearance="fill" class="fadeIn second form-group">
        <mat-icon class="mat-icon-size" matPrefix color="primary">person</mat-icon>
        <mat-label>Nombre de Usuario</mat-label>
        
        <input matInput name="nombreUsuario" id="nombreUsuario" [(ngModel)]="nombreUsuario" required nombreUsuario #usernameInput="ngModel" autofocus>
        <mat-error *ngIf="f.submitted && usernameInput.invalid && usernameInput.errors">El nombre de usuario es <strong>requerido</strong></mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="fadeIn third form-group">
        <mat-icon class="mat-icon-size" matPrefix color="primary">vpn_key</mat-icon>
        <mat-label>Contraseña</mat-label>
        <input matInput type="{{ hide ? 'password' : 'text' }}" name="password" id="password" [(ngModel)]="password" required>
        <mat-icon class="mat-icon-size mat-icon-color" matSuffix (click)="hide = !hide">
          {{hide ? 'visibility_off' : 'visibility'}}
        </mat-icon>
        <mat-error *ngIf="f.submitted && !password">La contraseña es <strong>requerida</strong></mat-error>
      </mat-form-field>
      <input type="submit" class="fadeIn fourth" value="Ingresar" [disabled]="!f.valid">
    </form>

    <div id="formFooter">
      <a class="underlineHover" href="#" (click)="onForgotPassword()">¿Olviaste tu contraseña?</a>
    </div>

  </div>


  <!-- <div class="container d-flex justify-content-center">
      <div class="card">
          <div class="card-header">
              <ul class="nav nav-tabs">
                  <li class="nav-item">
                    <a class="nav-link active" routerLink="/login">Iniciar Sesión</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/registro">Crear Cuenta</a>
                  </li>
                  
                </ul>
          </div>
          <div class="card-body">
              <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
                  <div class="form-group">
                      <label for="nombreUsuario">Nombre de Usuario</label>
                      <input type="text" name="nombreUsuario" id="nombreUsuario" class="form-control"
                      [(ngModel)]="nombreUsuario" required>
                  </div>
                  <div class="form-group">
                      <label for="password">Contraseña</label>
                      <input type="password" name="password" id="password" class="form-control"
                      [(ngModel)]="password" required>
                  </div>
                  <div class="form-group">
                      <button class="btn btn-outline-success btn-block" [disabled]="!f.valid">
                          <i class="fas fa-sign-in-alt"></i> Iniciar Sesión</button>
                  </div>
              </form>
              <div *ngIf="f.submitted && isLoginFail" class="alert alert-danger mt-3">Error en el login: {{errMsj}}</div>            
            </div>
      </div>
  </div> -->
</ng-template>