<app-spinner></app-spinner>
<div class="container">
  <div class="row">
    <div class="col-6 col-md-10">
      <div class="titulos">VALORES DE GUARDIAS <span class="titulos-second">{{ valorGmiFecha }}</span></div>
    </div>
    <div class="col-6 col-md-2 m d-flex justify-content-end">
      <button mat-fab color="primary" (click)="openCreateGMI()" matTooltip="Agregar nuevo GMI">
        <mat-icon>library_add</mat-icon>
      </button>
      <button mat-fab color="accent" (click)="openCreateUTI()" matTooltip="Agregar nuevo Bono Uti">
        <mat-icon>library_add</mat-icon>
      </button>
    </div>
  </div>
  <div class="row">
    <span class="titulos-second">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ valorGmiDoc }} - Contaduría de la provincia</span>
  </div>
  <div class="row mt-3 contenedor-montos">
    <span class="fondo-montos">VALOR GMI CARGO = $ {{ valorGmiCargo | number:'1.2-2' }}</span>
    <span class="titulo-select-tabla">bono uti (+9%)-D = $ {{ valorBonoUti | number:'1.2-2' }}</span>
</div>
  
  <div class="row mt-3">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab label="Servicios críticos + Same">
            <table class="table table-hover table-bordered table-sm caption-top">
                <thead class="thead-gris">
                <tr>
                  <th rowspan="2">Tipo de guardia</th>
                  <th rowspan="2">Concepto</th>
                  <th colspan="2">Monto</th>
                </tr>
                <tr>
                  <th>L-V</th>
                  <th>S-D-F</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                  <td rowspan="3" class="no-hover">CARGO O AGRUPACIÓN DE HS</td>
                  <td>S/DECRETO N° 1178</td>
                  <td>$ {{ valorGmiLV | number:'1.2-2' }}</td>
                  <td>$ {{ valorGmiSDF | number:'1.2-2' }}</td>
                </tr>
                <tr>
                  <td>BONO DECRETO N° 1580 </td>
                  <td>$ {{ valorB1580LV | number:'1.2-2' }}</td>
                  <td>$ {{ valorB1580SDF | number:'1.2-2' }}</td>
                </tr>
                <tr class="negrita">
                  <td>TOTAL</td>
                  <td>$ {{ (valorGmiLV + valorB1580LV) | number:'1.2-2' }}</td>
                  <td>$ {{ (valorGmiSDF + valorB1580SDF) | number:'1.2-2' }}</td>
                </tr>

                <tr style="background-color: #f5f4f4;">
                  <td rowspan="3">EXTRA Y CONTRA FACTURA</td>
                  <td>RESOLUCIÓN N° 2575</td>
                  <td>$ 121.545,41</td>
                  <td>$ 133.699,95</td>
                </tr>
                <tr style="background-color: #f5f4f4;">
                  <td>BONO DECRETO N° 1580 </td>
                  <td>$ 16.801,63</td>
                  <td>$ 18.481,79</td>
                </tr>
                <tr style="background-color: #f5f4f4;" class="negrita">
                  <td>TOTAL</td>
                  <td>$ 138.347,04</td>
                  <td>$ 152.181,75</td>
                </tr>
                </tbody>
              </table>
        </mat-tab>
        <mat-tab label="Tercer Nivel">
          <table class="table table-hover table-bordered table-sm caption-top">
            <thead>
            <tr>
              <th colspan="4">MATERNO INFANTIL, DN. PABLO SORIA, S. ROQUE</th>
            </tr>  
            <tr>
              <th rowspan="2">Tipo de guardia</th>
              <th rowspan="2">Concepto</th>
              <th colspan="2">Monto</th>
            </tr>
            <tr>
              <th>L-V</th>
              <th>S-D-F</th>
            </tr>
            </thead>

            <tbody>
            <tr>
              <td rowspan="3">CARGO O AGRUPACIÓN DE HS</td>
              <td>S/DECRETO N° 1178</td>
              <td>$ 64.035,24</td>
              <td>$ 70.438,77</td>
            </tr>
            <tr>
              <td>BONO GUARDIA COVID DECRETO N°1657</td>
              <td>$ 27.443,68</td>
              <td>$ 30.188,04</td>
            </tr>
            <tr class="negrita">
              <td>TOTAL</td>
              <td>$ 91.478,92</td>
              <td>$ 100.626,81</td>
            </tr>

            <tr style="background-color: #f5f4f4;">
              <td rowspan="2">EXTRA Y CONTRA FACTURA</td>
              <td>RESOLUCIÓN N° 2575</td>
              <td>$ 121.545,41</td>
              <td>$ 133.699,95</td>
            </tr>
            <tr style="background-color: #f5f4f4;" class="negrita">
              <td>TOTAL</td>
              <td>$ 121.545,41</td>
              <td>$ 133.699,95</td>
            </tr>
            </tbody>
          </table>
        </mat-tab>

        <mat-tab label="Segundo Nivel">
          <table class="table table-hover table-bordered table-sm caption-top">
            <thead>
            <tr>
              <th rowspan="3">Tipo de guardia</th>
              <th rowspan="3">Concepto</th>
              <th colspan="2">ORIAS Y PATERSON</th>
              <th colspan="2">URO</th>
            </tr>  
            <tr>
              <th colspan="2">Monto</th>
              <th colspan="2">Monto</th>
            </tr>
            <tr>
              <th>L-V</th>
              <th>S-D-F</th>
              <th>L-V</th>
              <th>S-D-F</th>
            </tr>
            </thead>

            <tbody>
            <tr>
              <td rowspan="3">CARGO O AGRUPACIÓN DE HS</td>
              <td>S/DECRETO N° 1178</td>
              <td>$ 54.887,35</td>
              <td>$ 60.376,09</td>
              <td>$ 102.456,39</td>
              <td>$ 112.702,03</td>
            </tr>
            <tr>
              <td>BONO GUARDIA COVID DECRETO N°1657</td>
              <td>$ 36.591,57</td>
              <td>$ 40.250,72</td>
              <td>$ 62.205,67</td>
              <td>$ 68.426,23</td>
            </tr>
            <tr class="negrita">
              <td>TOTAL</td>
              <td>$ 91.478,92</td>
              <td>$ 100.626,81</td>
              <td>$ 164.662,06</td>
              <td>$ 181.128,26</td>
            </tr>

            <tr style="background-color: #f5f4f4;">
              <td rowspan="2">EXTRA Y CONTRA FACTURA</td>
              <td>RESOLUCIÓN N° 2575</td>
              <td>$ 121.545,41</td>
              <td>$ 133.699,95</td>
              <td>$ 158.009,04</td>
              <td>$ 173.809,94</td>
            </tr>
            <tr style="background-color: #f5f4f4;" class="negrita">
              <td>TOTAL</td>
              <td>$ 121.545,41</td>
              <td>$ 133.699,95</td>
              <td>$ 158.009,04</td>
              <td>$ 173.809,94</td>
            </tr>
            </tbody>
          </table>
        </mat-tab>

        <mat-tab label="Primer Nivel">
          <table class="table table-hover table-bordered table-sm caption-top">
            <thead>
            <tr>
              <th rowspan="3">Tipo de guardia</th>
              <th rowspan="3">Concepto</th>
              <th colspan="2">RESTO PRIMER NIVEL</th>
              <th colspan="2">SUSQUES</th>
              <th colspan="2">ROSARIO, EL AGUILAR, <br/>YUTO, TALAR Y P. SOLA</th>
            </tr>  
            <tr>
              <th colspan="2">Monto</th>
              <th colspan="2">Monto</th>
              <th colspan="2">Monto</th>
            </tr>
            <tr>
              <th>L-V</th>
              <th>S-D-F</th>
              <th>L-V</th>
              <th>S-D-F</th>
              <th>L-V</th>
              <th>S-D-F</th>
            </tr>
            </thead>

            <tbody>
            <tr>
              <td rowspan="3">CARGO O AGRUPACIÓN DE HS</td>
              <td>S/DECRETO N° 1178</td>
              <td>$ 45.739,46</td>
              <td>$ 50.313,41</td>
              <td>$ 128.070,49</td>
              <td>$ 140.877,54</td>
              <td>$ 45.739,46</td>
              <td>$ 50.313,41</td>
            </tr>
            <tr>
              <td>BONO GUARDIA COVID DECRETO N°1657</td>
              <td>$ 45.739,46</td>
              <td>$ 50.313,41</td>
              <td>$ 54.887,35</td>
              <td>$ 60.376,09</td>
              <td>$ 45.739,46</td>
              <td>$ 50.313,41</td>
            </tr>
            <tr class="negrita">
              <td>TOTAL</td>
              <td>$ 91.478,92</td>
              <td>$ 100.626,81</td>
              <td>$ 182.957,84</td>
              <td>$ 201.253,62</td>
              <td>$ 91.478,92</td>
              <td>$ 100.626,81</td>
            </tr>

            <tr style="background-color: #f5f4f4;">
              <td rowspan="2">EXTRA Y CONTRA FACTURA</td>
              <td>RESOLUCIÓN N° 2575</td>
              <td>$ 121.545,41</td>
              <td>$ 133.699,95</td>
              <td>$ 170.163,58</td>
              <td>$ 187.179,94</td>
              <td>$ 145.854,50</td>
              <td>$ 160.439,95</td>
            </tr>
            <tr style="background-color: #f5f4f4;" class="negrita">
              <td>TOTAL</td>
              <td>$ 121.545,41</td>
              <td>$ 133.699,95</td>
              <td>$ 170.163,58</td>
              <td>$ 187.179,94</td>
              <td>$ 145.854,50</td>
              <td>$ 160.439,95</td>
            </tr>
            </tbody>
          </table>
        </mat-tab>
    </mat-tab-group>
  </div>
</div>