<h2 mat-dialog-title>
  {{ esEdicion ? "Modificar" : "Agregar" }} Notificacion
  <h5 class="requiredField">*Campos Obligatorios</h5>
</h2>

<form [formGroup]="form!" (ngSubmit)="saveNotificacion()">
  <mat-dialog-content>
    <div class="row">
      <div class="col">
        <mat-form-field appearance="fill">
          <mat-label>Tipo</mat-label>
          <mat-select formControlName="tipo" required>
            <mat-option value="NOTIFICACION">NOTIFICACION</mat-option>
            <mat-option value="DIGESTO">DIGESTO</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="row" style="margin-top: 20px">
      <div class="col">
        <mat-form-field appearance="fill">
          <mat-label>Ministerio</mat-label>
          <mat-select formControlName="ministerioId"> 
            <mat-option
              *ngFor="let ministerio of ministerios"
              [value]="ministerio.id"
            >
              {{ ministerio.nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="row" style="margin-top: 20px">
      <div class="col">
        <mat-form-field appearance="fill">
          <mat-label>Hospital</mat-label>
          <mat-select formControlName="hospitalId"> 
            <mat-option
              *ngFor="let hospital of hospitales"
              [value]="hospital.id"
            >
              {{ hospital.nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="row" style="margin-top: 20px">
      <div class="col">
        <mat-form-field appearance="fill">
          <mat-label>Categoria</mat-label>
          <input matInput formControlName="categoria" required />
        </mat-form-field>
      </div>
    </div>

    <div class="row" style="margin-top: 20px">
      <div class="col">
        <mat-form-field appearance="fill">
          <mat-label>Fecha Notificacion</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            formControlName="fechaNotificacion"
            required
          />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field appearance="fill">
          <mat-label>Detalle</mat-label>
          <input matInput formControlName="detalle" required />
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label for="archivo">Archivo:</label>
        <input type="file" id="archivo" (change)="onFileSelected($event)" />
        <button
          mat-raised-button
          color="accent"
          type="button"
          (click)="uploadFile()"
          [disabled]="!selectedFile"
        >
          Generar URL de Archivo
        </button>
        <mat-form-field appearance="fill" *ngIf="fileUrl">
          <mat-label>URL del Archivo</mat-label>
          <input matInput [value]="fileUrl" readonly formControlName="url" />
        </mat-form-field>
      </div>
    </div>

    <div mat-dialog-actions class="action mt-4">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="form?.invalid || !esIgual"
      >
        {{ esEdicion ? "Modificar" : "Agregar" }}
      </button>
      <button
        mat-raised-button
        color="secondary"
        type="button"
        (click)="cancelar()"
      >
        Cancelar
      </button>
    </div>
  </mat-dialog-content>
</form>