

.content{
  padding-top: 10px; 
  width: 550px;   
}


.row {
  display: flex;
  gap:10px;
  
  mat-form-field {
      width: 100%;
  }
}


mat-form-field{
  width: 100%;
  margin-right: 12px;
}



.action{
  padding: 0px 25px 20px;
  }

  
  
.btnupdate{
  flex: 1;
}

.backgroud{
  background-color: #243c74;
  color: white;
}

.font{
  font-family: "Ubuntu";
  font-size:170%;
}


.error {
  color:red;
 /*  margin-top: -20px; */
}