<h2 mat-dialog-title>
  AGREGAR PROFESIONAL
  <h5 class="requiredField">*Campos Obligatorios</h5>
</h2>
<form [formGroup]="professionalForm" (ngSubmit)="addEditProfessional()">
  <mat-dialog-content>
    <div class="row">
      <div class="col">
        <mat-form-field appearance="fill">
          <mat-label>Nombre</mat-label>
          <input matInput placeholder="Ingresar Nombre" autocomplete="off" formControlName="nombre" />
        </mat-form-field>
        <div class="error">
          <span *ngIf="
              professionalForm.get('nombre')?.hasError('required') &&
              professionalForm.get('nombre')?.touched
            ">
            <h5>El nombre es un campo requerido</h5>
          </span>
          <span *ngIf="
          professionalForm.get('nombre')?.hasError('pattern') &&
          professionalForm.get('nombre')?.touched
          ">
            <h5>El nombre debe contener solo letras</h5>
          </span>
        </div>
      </div>

      <div class="col">
        <mat-form-field appearance="fill">
          <mat-label>Apellido</mat-label>
          <input matInput placeholder="Ingresar Apellido" autocomplete="off" formControlName="apellido" />
        </mat-form-field>
        <div class="error">
          <span *ngIf="
              professionalForm.get('apellido')?.hasError('required') &&
              professionalForm.get('apellido')?.touched
            ">
            <h5>El apellido es un campo requerido</h5>
          </span>
          <span *ngIf="
          professionalForm.get('apellido')?.hasError('pattern') &&
          professionalForm.get('apellido')?.touched
          ">
            <h5>El apellido debe contener solo letras</h5>
          </span>
        </div>
      </div>
    </div>

    <div class="row" style="margin-top: 20px">
      <div class="col">
        <mat-form-field appearance="fill">
          <mat-label>DNI</mat-label>
          <input matInput placeholder="Ingresar DNI" autocomplete="off" formControlName="dni" />
        </mat-form-field>
        <div class="error">
          <span *ngIf="
              professionalForm.get('dni')?.hasError('required') &&
              professionalForm.get('dni')?.touched
            ">
            <h5>El dni es un campo requerido</h5>
          </span>
          <span *ngIf="
          professionalForm.get('dni')?.hasError('pattern') &&
          professionalForm.get('dni')?.touched
          ">
            <h5>El dni debe contener solo números</h5>
          </span>
        </div>
      </div>
      <div class="col">
        <mat-form-field appearance="fill">
          <mat-label>CUIL</mat-label>
          <input matInput placeholder="Ingresar CUIL" autocomplete="off" formControlName="cuil" />
        </mat-form-field>
        <div class="error">
          <span *ngIf="
              professionalForm.get('cuil')?.hasError('required') &&
              professionalForm.get('cuil')?.touched
            ">
            <h5>El cuil es un campo requerido</h5>
          </span>
          <span *ngIf="
          professionalForm.get('cuil')?.hasError('pattern') &&
          professionalForm.get('cuil')?.touched
          ">
            <h5>El cuil debe contener solo n</h5>
          </span>
        </div>
      </div>
    </div>

    <div class="row" style="margin-top: 20px">
      <div class="col">
        <mat-form-field>
          <mat-label>Profesión</mat-label>
          <mat-select formControlName="profesion">
            <mat-option *ngFor="let option of profesionList" [value]="option.descripcion">
              {{ option.descripcion }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <mat-label>Especialidad</mat-label>
          <mat-select formControlName="especialidad">
            <mat-option *ngFor="let specialty of specialties" [value]="specialty.descripcion">
              {{ specialty.descripcion }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>



    <div class="row">
      <div class="col">
        <mat-form-field appearance="fill">
          <mat-label>MP</mat-label>
          <input matInput placeholder="Matricula Profesional" autocomplete="off" formControlName="matricula" />
        </mat-form-field>
        <div class="error">
          <span *ngIf="
              professionalForm.get('mp')?.hasError('required') &&
              professionalForm.get('mp')?.touched
            ">
            <h5>El dni es un campo requerido</h5>
          </span>
          <span *ngIf="
          professionalForm.get('mp')?.hasError('pattern') &&
          professionalForm.get('mp')?.touched
          ">
            <h5>La mtricula debe contener solo números</h5>
          </span>
        </div>
      </div>
      <div class="col">
        <mat-form-field appearance="fill">
          <mat-label>CARGO</mat-label>
          <mat-select formControlName="cargo">
            <mat-option *ngFor="let option of cargos" [value]="option.descripcion">
              {{ option.descripcion }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="row"  >
      <div class="col">
        <mat-form-field>
          <mat-label>Sit. Revista</mat-label>
          <mat-select formControlName="sitRevista" [(ngModel)]="selectedRevista">
            <mat-option *ngFor="let option of sitRevista" [value]="option.descripcion">
              {{ option.descripcion }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col">
        <mat-form-field>
          <mat-label>Carga Horaria</mat-label>
          <mat-select formControlName="cargaHoraria"  [(ngModel)]="selectedCargaHoraria">
            <mat-option *ngFor="let option of cargaHorariaList" [value]="option.descripcion">
              {{ option.descripcion }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="error">
          <span *ngIf="
              professionalForm.get('cargaHoraria')?.hasError('required') &&
              professionalForm.get('cargaHoraria')?.touched
            ">
            <h5>El carga horaria es un campo requerido</h5>
          </span>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col">
        <mat-form-field>
          <mat-label>Adicional</mat-label>
          <mat-select formControlName="adicional" [disabled]="selectedCargaHoraria !=='40 horas'"
            [disabled]="selectedRevista == 'independiente'" [required]="selectedCargaHoraria == '40 horas'"
            [required]="selectedRevista !== 'independiente'">
            <mat-option *ngFor="let option of adicionales" [value]="option.descripcion">
              {{ option.descripcion }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <mat-label>Categoria</mat-label>
          <mat-select formControlName="categoria" [disabled]="selectedRevista == 'independiente'"
            [required]="selectedRevista !== 'independiente'">
            <mat-option *ngFor="let option of categorias" [value]="option.descripcion">
              {{ option.descripcion }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="error">
          <span *ngIf="
          professionalForm.get('categoria')?.hasError('required') &&
          professionalForm.get('categoria')?.touched
        ">
            <h5>El categoria es un campo requerido</h5>
          </span>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col">
        <mat-form-field>
          <mat-label>Tipo de Guardia</mat-label>
          <mat-select formControlName="tipoGuardia">
            <mat-option *ngFor="let option of guardias" [value]="option.descripcion">
              {{ option.descripcion }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <mat-form-field>
          <mat-label>U.d.O.</mat-label>
          <mat-select formControlName="udo" [required]="selectedRevista !== 'independiente'">
            <mat-option *ngFor="let option of options" [value]="option.descripcion"
              [disabled]="selectedRevista == 'independiente'">
              {{ option.descripcion }} ({{option.region}})
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="error">
          <span *ngIf="
              professionalForm.get('udo')?.hasError('required') &&
              professionalForm.get('udo')?.touched
            ">
            <h5>El U.d.O. es un campo requerido</h5>
          </span>
        </div>
      </div>
    </div>

    <div class="row" style="margin-top: 20px">
      <mat-form-field>
        <mat-label>Hospital donde presta servicio</mat-label>
        <mat-select formControlName="hospital">
          <mat-option *ngFor="let option of options" [value]="option.descripcion">
            {{ option.descripcion }} ({{option.region}})
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="error">
        <span *ngIf="
            professionalForm.get('hospital')?.hasError('required') &&
            professionalForm.get('hospital')?.touched
          ">
          <h5>El hospital es un campo requerido</h5>
        </span>
      </div>
    </div>

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button type="button" class="btnCancel" mat-button (click)="cancel()">Cancelar</button>
    <button class="btnAdd" [disabled]="!isFormDirty() || professionalForm.invalid" type="submit" mat-button
      cdkFocusInitial>
      Agregar
    </button>
  </mat-dialog-actions>
</form>
