<h2 mat-dialog-title>Agregar Profesional</h2>
<mat-dialog-content>
  <div class="row">
    <div class="col">
      <mat-form-field appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Ingresar Nombre" autocomplete="off" />
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field appearance="fill">
        <mat-label>Apellido</mat-label>
        <input matInput placeholder="Ingresar Apellido" autocomplete="off" />
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <mat-form-field appearance="fill">
        <mat-label>DNI</mat-label>
        <input matInput placeholder="Ingresar DNI" autocomplete="off" />
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field appearance="fill">
        <mat-label>CUIL</mat-label>
        <input matInput placeholder="Ingresar CUIL" autocomplete="off" />
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <mat-form-field>
        <mat-label>Profesion</mat-label>
        <mat-select [(value)]="profesionSelected">
          <mat-option value="Medico">Medico</mat-option>
          <mat-option value="Bioquimico">Bioquimico</mat-option>
          <mat-option value="Odontologo">Odontologo</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field>
        <mat-label>Especialidad</mat-label>
        <mat-select [(ngModel)]="specialtySelected" name="specialty">
          <mat-option
            *ngFor="let specialty of specialties"
            [value]="specialty.value"
          >
            {{ specialty.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <mat-form-field>
        <mat-label>Sit. Revista</mat-label>
        <mat-select [(value)]="profesionSelected">
          <mat-option value="interino">INTERINO</mat-option>
          <mat-option value="planta">PLANTA PERMANENTE</mat-option>
          <mat-option value="contratado">CONTRATADO</mat-option>
          <mat-option value="afectado">AFECTADO</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-4">
      <mat-form-field>
        <mat-label>Categoria</mat-label>
        <mat-select [(value)]="profesionSelected">
          <mat-option value="a">A</mat-option>
          <mat-option value="b">B</mat-option>
          <mat-option value="c">C</mat-option>
          <mat-option value="d">D</mat-option>
          <mat-option value="e">E</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-4">
      <mat-form-field>
        <mat-label>Adicional</mat-label>
        <mat-select [(value)]="profesionSelected">
          <mat-option value="j1">J-1</mat-option>
          <mat-option value="j2">J-2</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <mat-form-field>
        <mat-label>U.d.O.</mat-label>
        <mat-select [(ngModel)]="selectedHospital" name="service">
          <mat-option
            *ngFor="let option of options"
            [value]="option.descripcion"
          >
            {{ option.descripcion }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <mat-form-field>
      <mat-label>Hospital</mat-label>
      <mat-select [(ngModel)]="selectedHospital" name="service">
        <mat-option *ngFor="let option of options" [value]="option.descripcion">
          {{ option.complejidad }} - {{ option.descripcion }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="row">
    <div class="col">
      <mat-form-field>
        <mat-label>Servicio</mat-label>
        <mat-select [(ngModel)]="serviceSelected" name="service">
          <mat-option *ngFor="let service of services" [value]="service.value">
            {{ service.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field appearance="fill">
        <mat-label>Carga Horaria</mat-label>
        <input
          matInput
          placeholder="Ingresar carga Horaria"
          autocomplete="off"
        />
      </mat-form-field>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">Cancelar</button>
  <button mat-button cdkFocusInitial>Agregar</button>
</mat-dialog-actions>
