<div class="container">
    <div class="row mb-5">
      <div class="col">
        <div class="titulos">GESTION DE PERSONAL</div>
      </div>
    </div>

    <div class="container">
      <div class="row mb-4 ">
        <div class="col-lg">
          <div class="btnMenu card border-0 align-items-center" type="button" routerLink="/registro-actividades">
            <div class="icon1_btnMenu">
              <div class="card-body text-center">
                <h2 class="fs-4 fw-bold"><span>Personal</span></h2>
              </div>
              </div>
          </div>
        </div>
        <div class="col-lg">
          <div class="btnMenu card border-0 align-items-center" type="button" routerLink="/professional-list">
            <div class="icon2_btnMenu">
              <div class="card-body text-center">
                <h2 class="fs-4 fw-bold"><span>Agregar legajo</span></h2>
              </div>
              </div>
          </div>
        </div>
        <div class="col-lg">
          <div class="btnMenu card border-0 align-items-center" type="button" routerLink="/cronograma">
            <div class="icon3_btnMenu">
              <div class="card-body text-center">
                <h2 class="fs-4 fw-bold"><span>Distribución horaria</span></h2>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg">
          <div class="btnMenu card border-0 align-items-center" type="button" routerLink="/cronograma">
            <div class="icon4_btnMenu">
              <div class="card-body text-center">
                <h2 class="fs-4 fw-bold"><span>Tipo de guardia</span></h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center mt-4 mb-4">
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title class="panel-title">
            Opciones generales
          </mat-panel-title>
          <mat-panel-description>
            Configuraciones varias
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>btnMenues</p>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title class="panel-title">
            Datos territorio
          </mat-panel-title>
          <mat-panel-description>
            Pais, Provincia, Departamento, Localidad. 
          </mat-panel-description>
        </mat-expansion-panel-header>
            <div class="example-button-row">
                <button mat-raised-button color="primary" routerLink="/pais">Pais</button>
                <button mat-raised-button color="accent" routerLink="/provincia">Provincia</button>
                <button mat-raised-button color="warn" routerLink="/departamento">Departamento</button>
                <button mat-raised-button routerLink="/localidad">Localidad</button>
            </div>
      </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title class="panel-title">
            Datos Establecimientos
          </mat-panel-title>
          <mat-panel-description>
            Ministerio, Hospitales, Caps, Regiones. 
          </mat-panel-description>
        </mat-expansion-panel-header>
          <div class="example-button-row">
              <button mat-raised-button color="primary" routerLink="/ministerio">Ministerios</button>
              <button mat-raised-button color="accent" routerLink="/hospital">Hospitales</button>
              <button mat-raised-button color="warn" routerLink="/caps">Caps</button>
              <button mat-raised-button routerLink="/region">Regiones</button>
          </div>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title class="panel-title">
            Datos Usuarios
          </mat-panel-title>
          <mat-panel-description>
            Personas, Usuarios, Autoridades, Legajo, Revista.
          </mat-panel-description>
        </mat-expansion-panel-header>
          <div class="example-button-row">
              <button mat-raised-button color="primary" routerLink="/person">Personas</button>
              <button mat-raised-button color="accent" routerLink="/provincia">Usuarios</button>
              <button mat-raised-button color="warn" routerLink="/provincia">Autoridades</button>
              <button mat-raised-button routerLink="/legajo">Legajo</button>
              <button mat-raised-button routerLink="/revista">Revista</button>
          </div>
      </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title class="panel-title">
            Datos Profesionales
          </mat-panel-title>
          <mat-panel-description>
            Profesionales, Profesión, Especialidad.
          </mat-panel-description>
        </mat-expansion-panel-header>
          <div class="example-button-row">
              <button mat-raised-button color="primary" routerLink="/pais">Profesionales</button>
              <button mat-raised-button color="accent" routerLink="/profesion">Profesión</button>
              <button mat-raised-button color="warn" routerLink="/especialidad">Especialidad</button>
          </div>
      </mat-expansion-panel>

      <mat-expansion-panel (opened)="panelOpenState = true"
      (closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title class="panel-title">
Datos Calendario
</mat-panel-title>
<mat-panel-description>
Feriados.
</mat-panel-description>
</mat-expansion-panel-header>
<div class="example-button-row">
<button mat-raised-button color="primary" routerLink="/feriado">Feriados</button>
</div>
</mat-expansion-panel>


    </mat-accordion>
    </div>

