<h2 mat-dialog-title>MODIFICAR DEPARTAMENTO
    <h5 class="requiredField">*Campos Obligatorios</h5>
  </h2>
  <form (ngSubmit)="onUpdate()" novalidate #f="ngForm" *ngIf="departamento">
    <mat-dialog-content>
      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>Código postal</mat-label>
            <input matInput placeholder="Ingresar código postal del País" autocomplete="off" id="codigoPostal" name="codigoPostal" [(ngModel)]="departamento.codigoPostal" required/>
          </mat-form-field>
        </div>
      </div>

      <div class="row" style="margin-top: 20px">
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>Nombre del Departamento</mat-label>
            <input matInput placeholder="Ingresar Nombre del departamento" autocomplete="off" id="nombre" name="nombre" [(ngModel)]="departamento.nombre" required/>
          </mat-form-field>
        </div>
      </div>

      <div class="row" style="margin-top: 20px">
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>Nombre de la Provincia</mat-label>
            <mat-select id="idProvincia" name="idProvincia" [(ngModel)]="departamento.provincia.id" required>
              <mat-option *ngFor="let provincia of provincias" [value]="provincia.id">
                {{ provincia.nombre }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </mat-dialog-content>
    <div mat-dialog-actions class="action mt-4">
      <button mat-raised-button class="btnCancel" type="button" mat-button (click)="cancel()">Cancelar
      </button>
      <button mat-raised-button color="primary" [disabled]="!f.valid || !f.dirty">Modificar</button>
    </div>
  </form>

