<div class="d-flex justify-content-center fs-1 mb-5 title">Distribución horaria del Profesional</div>
<div class="container">
  <div class="row">
    <div class="col-2">
      <div class="container-boton" routerLink="#">
        <img src="assets/img/btn-submenu-guardias/1ddjj-extra.png" alt="DDJJ" class="image">
        <div class="overlay">
          <div class="text">EXTRAS</div>
        </div>
      </div>
      <div class="container-boton" routerLink="#">
        <img src="assets/img/btn-submenu-guardias/2ddjj-ca.png" alt="DDJJ" class="image">
        <div class="overlay">
          <div class="text">CARGO Y AGRUPACION</div>
        </div>
      </div>
      <div class="container-boton" routerLink="#">
        <img src="assets/img/btn-submenu-guardias/3ddjj-cf.png" alt="DDJJ" class="image">
        <div class="overlay">
          <div class="text">CONTRA FACTURA</div>
        </div>
      </div> 
  </div>
    <div class="col-10">
    <div class="input-group">
      <div class="input-group-text justify-content-center detail">
        <label for="" class="detail">Apellido</label>
      </div>
      <input class="form-control readonly-input" type="text" [(ngModel)]="person.apellido" readonly>
    </div>

    <div class="input-group">
      <div class="input-group-text justify-content-center detail">
        <label for="" class="detail">Nombre</label>
      </div>
      <input class="form-control readonly-input" type="text" [(ngModel)]="person.nombre" readonly>
    </div>

    <div class="input-group">
      <div class="input-group-text justify-content-center detail">
        <label for="" class="detail">DNI</label>
      </div>
      <input class="form-control readonly-input" type="text" [(ngModel)]="person.dni" readonly>
    </div>

    <div class="input-group">
      <div class="input-group-text justify-content-center detail">
        <label for="" class="detail">CUIL</label>
      </div>
      <input class="form-control readonly-input" type="text" [(ngModel)]="person.cuil" readonly>
    </div>

    <div class="input-group">
      <div class="input-group-text justify-content-center detail">
        <label for="" class="detail">Profesión</label>
      </div>
      <input class="form-control readonly-input" type="text" [(ngModel)]="person.profesion" readonly>
    </div>

    <div class="input-group">
      <div class="input-group-text justify-content-center detail">
        <label for="" class="detail">Especialidad</label>
      </div>
      <input class="form-control readonly-input" type="text" [(ngModel)]="person.especialidad" readonly>
    </div>

    <div class="input-group">
      <div class="input-group-text justify-content-center detail">
        <label for="" class="detail">Sit. Revista</label>
      </div>
      <input class="form-control readonly-input" type="text" [(ngModel)]="person.sitRevista" readonly>
    </div>  </div>
 </div>
</div>

<div class="row">
  <div class="col-sm">
      <table class="table table-sm  table-borderless">
            <thead>
                <tr>
                    <th colspan="7">Julio 2023</th>
                </tr>
                <tr>
                    <th colspan="7" style="text-align: left;">MINISTERIO DE SALUD</th>
                </tr>
                <tr>
                    <th colspan="7" style="text-align: left;">"DN. PABLO SORIA"</th>
                </tr>
                <tr>
                    <th colspan="7" style="text-align: left;">REGION: CENTRO</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="16">
                        <table class="table table-hover table-bordered table-sm caption-top">
                            <thead class="table-light">
                              <tr>
                                <th rowspan="3">DATOS PROFESIONAL</th>
                                <th colspan="14">DISTRIBUCIÓN HORARIA - JULIO 2023</th>
                                <th rowspan="3">TOTAL HS. SEMANALES</th>
                              </tr>
                              <tr>
                                <td colspan="2" style="background-color: #eee;">Sa</td>
                                <td colspan="2" style="background-color: #eee;">Do</td>
                                <td colspan="2">Lu</td>
                                <td colspan="2">Ma</td>
                                <td colspan="2">Mi</td>
                                <td colspan="2">Ju</td>
                                <td colspan="2">Vi</td>
                              </tr>
                              <tr>
                                <td style="background-color: #eee;">M</td>
                                <td style="background-color: #eee;">T</td>
                                <td style="background-color: #eee;">M</td>
                                <td style="background-color: #eee;">T</td>
                                <td>M</td>
                                <td>T</td>
                                <td>M</td>
                                <td>T</td>
                                <td>M</td>
                                <td>T</td>
                                <td>M</td>
                                <td>T</td>
                                <td>M</td>
                                <td>T</td>
                              </tr>
                                                </thead>
                            <tbody>
                              <tr>
                                <td>
                                  <tr>HUERTAS CLEMENTE</tr>
                                  <tr>CUIL</tr>
                                  <tr>Especialidad</tr>
                                  <tr>UDO</tr>
                                  <tr>Situación de revista</tr>
                                </td>
                                <td>4</td>
                                <td>8</td>
                                <td>4</td>
                                <td>8</td>
                                <td>4</td>
                                <td>8</td>
                                <td>7</td>
                                <td>7</td>
                                <td>4</td>
                                <td>8</td>
                                <td>4</td>
                                <td>8</td>
                                <td>4</td>
                                <td>8</td>
                                <td>40</td>
                              </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td>OBSERV.:</td>
                                </tr>
                            </tfoot>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
