
<div class="row">
  <label for="dtpDate">Fecha </label>
  <div class="col-6">
    <app-calendar [isReadOnly]="false" style="margin-right: 10px"></app-calendar>
  </div>
  <div class="col-6">
    <label for="hospital">Efector </label>
    <select name="service" class="form-control">
      <option *ngFor="let option of options" [value]="option.descripcion">{{option.complejidad}} - {{ option.descripcion
        }}</option>
    </select>
  </div>
</div>

<!-- SCHEDULE CARDS-->
<div class="row">
  <div class="col" style="margin: 5px;">
    <app-schedule-card></app-schedule-card>
  </div>
  <div class="col" style="margin: 5px;">
    <app-schedule-card></app-schedule-card>
  </div>
  <div class="col" style="margin: 5px;">
    <app-schedule-card></app-schedule-card>
  </div>
  <div class="col" style="margin: 5px;">
    <app-schedule-card></app-schedule-card>
  </div>
</div>
<div class="row">
  <div class="col" style="margin: 5px;">
    <app-schedule-card></app-schedule-card>
  </div>
  <div class="col" style="margin: 5px;">
    <app-schedule-card></app-schedule-card>
  </div>
  <div class="col" style="margin: 5px;">
    <app-schedule-card></app-schedule-card>
  </div>
  <div class="col" style="margin: 5px;">
    <app-schedule-card></app-schedule-card>
  </div>
</div>
