<div class="row">
  <div class="col-1">
  <mat-label>Fecha</mat-label>
</div>
  <div class="col-4">
    <mat-form-field class="example-full-width">
      <input matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matIconSuffix [for]="picker">
        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

  </div>
  <div class="col-4 offset-2">
    <mat-select placeholder="Seleccione un Hospital"
    [(ngModel)]="selectedHospital"
      name="service"
      class="form-control"
      (selectionChange)="updateHospital()"
    >
      <mat-option *ngFor="let option of options" [value]="option.descripcion">
        {{ option.complejidad }} - {{ option.descripcion }}
      </mat-option>
    </mat-select>
  </div>
</div>

<div class="row row-cols-4">
  <div
    class="col"
    *ngFor="
      let professionalGroup of professionalGroups.slice(
        0,
        professionalGroups.length - (professionalGroups.length % 4 || 4)
      )
    "
  >
    <app-schedule-card
      [service]="professionalGroup.service"
    ></app-schedule-card>
    <div *ngFor="let professional of professionalGroup.professionals">
      <h5 [ngClass]="professional.type">
        {{ professional.apellido }}, {{ professional.nombre }} ({{
          professional.hs
        }})
      </h5>
    </div>
  </div>
</div>

<div class="row container" *ngIf="professionalGroups.length % 4">
  <div
    class="col"
    *ngFor="
      let professionalGroup of professionalGroups.slice(
        professionalGroups.length - (professionalGroups.length % 4)
      )
    "
  >
    <app-schedule-card
      [service]="professionalGroup.service"
    ></app-schedule-card>
    <div *ngFor="let professional of professionalGroup.professionals">
      <h5 [ngClass]="professional.type">
        {{ professional.apellido }}, {{ professional.nombre
        }}{{ professional.hs ? " (" + professional.hs + ")" : "" }}
      </h5>
    </div>
  </div>
</div>
