/* You can add global styles to this file, and also import other style files */

@charset "utf-8";
@font-face {
    font-family: Ubuntu;
    src: url('src/assets/font/Ubuntu-Regular.ttf');
}
html, body { height: 100%; }
body { margin: 0; font-family: "Ubuntu", sans-serif; }

.title{
    --bs-text-opacity: 1;
    color: rgba(var(--bs-secondary-rgb),var(--bs-text-opacity))!important;
    margin-top: 15px;
}

.titulos {
    font-weight: bold;
    color: #37BBED;
    font-size: 2em;
    padding: 20px 20px 0 1.4%;
}

/* --botones-- */

.container-boton {
    position: relative;
    width: 100%;
    float: left;
    margin: 0 0 10% 0;
    cursor: pointer;
}

.image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 15px 15px;
    border: #f8f4f4 solid 6px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #37BBED;
    border-radius: 15px 15px;
}

.container-boton:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 100%;
    font-family: "Ubuntu";
    font-weight: 900;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: normal;
}

@media (max-width:600px) {
    .text {
        font-size: 70%;
    }
}

/* --referencias-- */
.center-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
  }

.ref {
    font-weight: bold;
    float: left;
    margin: 10px 30px 10px 3px;
  }

  .ref-circulo {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    float: left;
    margin: 10px 0 10px 0;
  }