<app-spinner></app-spinner>
<div class="container">
  <div class="row">
  <div class="col-7">
    <div class="titulos">.:: Ministerio</div>
  </div>
  <div class="col-1 align-items-right">
    <button mat-fab color="primary" (click)="openFormChanges()" matTooltip="Agregar Ministerio">
      <mat-icon>library_add</mat-icon>
    </button>
  </div>
  <div class="col-4">
    <mat-form-field>
      <mat-label>Filtro</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Buscar por palabra clave" #input>
    </mat-form-field>
  </div>
</div>

<div class="row">
<table mat-table [dataSource]="dataSource" matSort #empTbSort="matSort" class="mat-elevation-z6"> 
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header  class="negrita"> Id </th> 
    <td mat-cell *matCellDef="let ministerio"> {{ministerio.id}} </td>
  </ng-container>

  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="negrita"> Nombre </th> 
    <td mat-cell *matCellDef="let ministerio"> {{ministerio.nombre}} </td>
  </ng-container>

  <ng-container matColumnDef="domicilio">
    <th mat-header-cell *matHeaderCellDef mat-sort-header  class="negrita"> Domicilio </th> 
    <td mat-cell *matCellDef="let ministerio"> {{ministerio.domicilio}} </td>
  </ng-container>

  <ng-container matColumnDef="telefono">
    <th mat-header-cell *matHeaderCellDef mat-sort-header  class="negrita"> Teléfono </th> 
    <td mat-cell *matCellDef="let ministerio"> {{ministerio.telefono}} </td>
  </ng-container>

  <ng-container matColumnDef="estado">
    <th mat-header-cell *matHeaderCellDef mat-sort-header  class="negrita"> Estado </th> 
    <td mat-cell *matCellDef="let especialidad"> {{especialidad.estado ? 'Activo' : 'Inactivo'}} </td>
  </ng-container>

  <ng-container matColumnDef="localidad" *ngIf="localidadVisible">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="negrita"> Localidad </th> 
    <td mat-cell *matCellDef="let ministerio"> {{ministerio.localidad?.nombre}} </td>
  </ng-container>

  <ng-container matColumnDef="region" *ngIf="regionVisible">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="negrita"> Region </th> 
    <td mat-cell *matCellDef="let ministerio"> {{ministerio.region?.nombre}} </td>
  </ng-container>

  <ng-container matColumnDef="idCabecera" *ngIf="idCabeceraVisible">
    <th mat-header-cell *matHeaderCellDef mat-sort-header  class="negrita"> Cabecera </th> 
    <td mat-cell *matCellDef="let ministerio"> {{ministerio.idCabecera}} </td>
  </ng-container>


  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef  class="negrita"> Acciones </th>
    <td mat-cell *matCellDef="let ministerio" class="cell-actions">
      <button mat-icon-button matTooltip="Ver {{ministerio.nombre}}" (click)="openDetail(ministerio)">
        <mat-icon class="btnDetail" style="transform: rotate(90deg)">zoom_in</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Editar {{ministerio.nombre}}" (click)="openFormChanges(ministerio)">
        <mat-icon class="btnEdit">edit</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Eliminar {{ministerio.nombre}}" (click)="deleteMinisterio(ministerio)">
        <mat-icon class="btnRemove">delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<p></p>
<p><mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <button mat-icon-button color="primary" aria-label="Agregar columnas" matTooltip="Agregar columnas">
          <mat-icon>menu</mat-icon>
        </button>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ul><li>
      <input type="checkbox" [(ngModel)]="regionVisible" (change)="actualizarColumnasVisibles()"> Region
    </li>
    <li>
      <input type="checkbox" [(ngModel)]="localidadVisible" (change)="actualizarColumnasVisibles()"> Localidad
    </li>
    <li>
      <input type="checkbox" [(ngModel)]="idCabeceraVisible" (change)="actualizarColumnasVisibles()"> Cabecera
    </li>
  </ul>
  </mat-expansion-panel>
</mat-accordion>
</p>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
</div>
</div>