<app-spinner></app-spinner>
<div class="container">
  <div class="row">
    <div class="col-6 col-md-7">
      <div class="titulos">DDJJ <span class="titulos-second">CARGO Y AGRUPACIÓN</span></div>
    </div>
    <div class="col-6 col-md-1 m d-flex justify-content-end">
      <button mat-fab color="primary" matTooltip="Volver atrás" routerLink="/guardias-view">
        <mat-icon>keyboard_arrow_left</mat-icon></button>
    </div>
    <div class="col-12 col-md-4 mt-3 mt-md-0">
      <mat-form-field>
        <mat-label>Filtro</mat-label>
        <input matInput placeholder="Buscar por nombre, apellido o cuil" #input>
        <button mat-icon-button matSuffix>
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-1">
      <div class="contenedor-bocadillo">
        <div>{{ getMonthName(selectedMonth) }}</div>
        <div>{{ selectedYear }}</div>
      </div>
    </div>
    <div class="col-11 d-flex justify-content-start">
      <div class="contenedor-titulo-bocadillo">
        MINISTERIO DE SALUD | DN. PABLO SORIA
      </div>
      <div class="contenedor-subtitulo-bocadillo">
        GUARDIAS ACTIVAS
      </div>  
    </div>
    <!--<table class="table table-sm  table-borderless">
      <thead class="col-center thead-celeste">
        <tr>
          <th class="titulo-tabla">DECLARACION JURADA GUARDIAS ACTIVAS DEL CARGO Y AGRUPACION</th>
        </tr>
        <tr>
          <th>{{ getMonthName(selectedMonth) }} {{ selectedYear }}</th>
        </tr>
        <tr>
          <th>MINISTERIO DE SALUD | DN. PABLO SORIA</th>
        </tr>
        <tr>
          <th>REGION: CENTRO</th>
        </tr>
      </thead>
    </table>-->
  </div>

  <div class="row">
    <div class="col-md-6 d-flex justify-content-start">
      <div class="contenedor-titulo-select-tabla">
        <span class="titulo-select-tabla">Fecha:</span>
        <select class="select-tabla" [(ngModel)]="selectedMonth" (change)="updateDateAndLoadData()">
          <option *ngFor="let month of months" [value]="month.value">{{ month.name }}</option>
        </select>
        <select class="select-tabla" [(ngModel)]="selectedYear" (change)="updateDateAndLoadData()">
          <option *ngFor="let year of years" [value]="year">{{ year }}</option>
        </select>
        <!--<button mat-mini-fab color="primary" matTooltip="Actualizar" (click)="updateDateAndLoadData()"><mat-icon>refresh</mat-icon></button>-->
      </div>
    </div>
  
    <div class="col-md-6 d-flex justify-content-md-end justify-content-sm-start mt-sm-5 mt-md-0">
      <div class="contenedor-titulo-select-tabla">
        <span class="titulo-select-tabla">Servicio:</span>
        <select class="select-tabla" [(ngModel)]="selectedServicio" (change)="updateTableDataSource()">
          <option *ngFor="let servicio of servicios" [value]="servicio.id">{{ servicio.descripcion }}</option>
        </select>
      </div>
    </div>  
  </div>

  <div class="row">
    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" matSort #empTbSort="matSort" class="mat-elevation-z6">

        <ng-container matColumnDef="apellido" sticky>
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="negrita"> Apellido </th>
          <td mat-cell *matCellDef="let registro">{{registro.asistencial.apellido}}
          </td>
        </ng-container>

        <ng-container matColumnDef="nombre" sticky>
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="negrita"> Nombre </th>
          <td mat-cell *matCellDef="let registro">{{registro.asistencial.nombre}}
          </td>
        </ng-container>

        <ng-container matColumnDef="acciones" sticky>
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let registro" class="cell-actions">
            <button mat-icon-button matTooltip="Ver detalle" (click)="openDetail(registro.asistencial)">
              <mat-icon color="primary">zoom_in</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="totalHoras">
          <th mat-header-cell *matHeaderCellDef class="negrita" style="background-color: #d1d0d0;">Total mes</th>
          <td mat-cell *matCellDef="let registro" class="linea-vertical-tabla negrita" style="background-color: #d1d0d0;">
            {{ calculateTotalHoursForRow(registro.registroActividad, selectedMonth, selectedYear) }} hs
          </td>
        </ng-container>

        <ng-container *ngFor="let fechaColumna of displayedColumns.slice(4)" [matColumnDef]="fechaColumna">
          <th mat-header-cell *matHeaderCellDef class="negrita">
            {{ getFechaFromColumnId(fechaColumna) | date: 'EEE dd' }}
          </th>
          <td mat-cell *matCellDef="let registro" class="linea-vertical-tabla negrita" 
          [ngClass]="{
            'holiday': isHoliday(getFechaFromColumnId(fechaColumna)).isHoliday,
            'weekend': isWeekend(getFechaFromColumnId(fechaColumna))
            }"
          [matTooltip]="isHoliday(getFechaFromColumnId(fechaColumna)).motivo">
            <span 
            [style.color]="calculateHoursColor(registro.registroActividad, getFechaFromColumnId(fechaColumna))"
            [innerHTML]="calculateHoursForDate(registro.registroActividad, getFechaFromColumnId(fechaColumna))">
            </span>
          </td>
        </ng-container>
                
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <div class="row mt-3">
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
    </div>
  </div>