<app-spinner></app-spinner>
<div class="container">
  <div class="row">
    <div class="col-6 col-md-7">
      <div class="titulos">DDJJ <span class="titulos-second">CARGO Y AGRUPACIÓN</span></div>
    </div>
    <div class="col-6 col-md-1 m d-flex justify-content-end">
      <button mat-fab extended color="primary" routerLink="/guardias-view">
        <mat-icon>arrow_back_ios</mat-icon>
        Volver
      </button>
    </div>
    <div class="col-12 col-md-4 mt-3 mt-md-0">
      <mat-form-field>
        <mat-label>Filtro</mat-label>
        <input matInput placeholder="Buscar por nombre, apellido o cuil" 
          #input>
        <button mat-icon-button matSuffix>
          <mat-icon>search</mat-icon>
        <!-- <input matInput placeholder="Buscar por nombre, apellido o cuil" (keydown.enter)="applyFilter(input.value)"
          #input>
        <button mat-icon-button matSuffix (click)="applyFilter(input.value)">
          <mat-icon>search</mat-icon> -->
        </button>
      </mat-form-field>
    </div>
  </div>
  <table class="table table-sm  table-borderless">
    <thead class="col-center thead-celeste">
      <tr>
        <th class="titulo-tabla">DECLARACION JURADA GUARDIAS ACTIVAS DEL CARGO Y AGRUPACION</th>
      </tr>
      <tr>
        <th>Mayo 2024</th>
      </tr>
      <tr>
        <th>MINISTERIO DE SALUD</th>
      </tr>
      <tr>
        <th>"DN. PABLO SORIA"</th>
      </tr>
      <tr>
        <th>REGION: CENTRO</th>
      </tr>
    </thead>
  </table>
  <div class="table-responsive">
    <table mat-table [dataSource]="dataSource" matSort #empTbSort="matSort" class="mat-elevation-z6">

      <ng-container matColumnDef="asistencial">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="negrita"> Apellido y Nombre </th>
        <td mat-cell *matCellDef="let registro"> {{registro.asistencial.apellido}}, {{registro.asistencial.nombre}} </td>
      </ng-container>
      
      <ng-container matColumnDef="cuil">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="negrita"> CUIL </th>
        <td mat-cell *matCellDef="let registro"> {{registro.asistencial.cuil}} </td>
      </ng-container>


      <ng-container matColumnDef="vinculo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="negrita"> Vínculo laboral </th>
        <td mat-cell *matCellDef="let registroMensual"> {{getTipoRevistaActual(registroMensual.asistencial)}} </td>
      </ng-container>

      <ng-container matColumnDef="categoria">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="negrita"> Categoria </th>
        <td mat-cell *matCellDef="let registroMensual"> {{getCategoriaYAdicionalActual(registroMensual.asistencial)}}</td>
      </ng-container>

      <ng-container matColumnDef="servicio">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="negrita"> Servicio </th>
        <td mat-cell *matCellDef="let registroMensual"> {{registroMensual.servicio.descripcion}} </td>
      </ng-container>

      <ng-container matColumnDef="NovedadPersonal">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="negrita"> Novedades </th>
        <td mat-cell *matCellDef="let registroMensual">{{getNovedadActualDescripcion(registroMensual.asistencial)}}</td>
      </ng-container>

      <ng-container matColumnDef="fechaIngreso">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="negrita"> Fecha Ingreso</th>
        <td mat-cell *matCellDef="let registroMensual"> {{registroMensual.fechaIngreso}}
          {{registroMensual.horaIngreso}} </td>
      </ng-container>

      <ng-container matColumnDef="fechaEgreso">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="negrita"> Fecha Egreso </th>
        <td mat-cell *matCellDef="let registroMensual"> {{registroMensual.fechaEgreso}}
          {{registroMensual.horaEgreso}} </td>
      </ng-container>

      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let registro">
          <button mat-icon-button matTooltip="Ver guardias activas" (click)="abrirCalendarioDialog(registro)">
            <mat-icon color="primary">date_range</mat-icon>
          </button>
        </td>
      </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <div class="row mt-3">
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
  </div>
</div>




<!-- <div class="tabla-center">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col">
        </div>
    </div>
    <div class="row">
      <div class="titulos"> DDJJ <span class="titulos-second">CARGO Y AGRUPACIÓN</span>
    </div>
    <div class="row mt-3">
      <div class="col-sm scroll">
          <table class="table table-sm  table-borderless">
                <thead class="col-center thead-celeste">
                    <tr>
                        <th class="titulo-tabla">DECLARACION JURADA GUARDIAS ACTIVAS DEL CARGO Y AGRUPACION</th>
                    </tr>
                    <tr>
                        <th>Julio 2023</th>
                    </tr>
                    <tr>
                        <th>MINISTERIO DE SALUD</th>
                    </tr>
                    <tr>
                        <th>"DN. PABLO SORIA"</th>
                    </tr>
                    <tr>
                        <th>REGION: CENTRO</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="16">
                            <table class="table table-hover table-bordered table-sm caption-top">
                                <thead class="thead-gris">
                                  <tr>
                                    <th rowspan="3">N° ORDEN</th>
                                    <th rowspan="3">SERVICIO</th>
                                    <th rowspan="3">APELLIDO Y NOMBRE</th>
                                    <th rowspan="3">CUIL</th>
                                    <th rowspan="3">VINCULO LABORAL</th>
                                    <th rowspan="3">CATEGORIA</th>
                                    <th rowspan="3">NOVEDADES</th>
                                    <th colspan="31">GUARDIAS ACTIVAS</th>
                                  </tr>
                                  <tr>
                                    <td style="background-color: #9e9ea1;">Sa</td>
                                    <td style="background-color: #9e9ea1;">Do</td>
                                    <td>Lu</td>
                                    <td>Ma</td>
                                    <td>Mi</td>
                                    <td>Ju</td>
                                    <td>Vi</td>
                                    <td style="background-color: #9e9ea1;">Sa</td>
                                    <td style="background-color: #9e9ea1;">Do</td>
                                    <td>Lu</td>
                                    <td>Ma</td>
                                    <td>Mi</td>
                                    <td>Ju</td>
                                    <td>Vi</td>
                                    <td style="background-color: #9e9ea1;">Sa</td>
                                    <td style="background-color: #9e9ea1;">Do</td>
                                    <td>Lu</td>
                                    <td>Ma</td>
                                    <td>Mi</td>
                                    <td>Ju</td>
                                    <td>Vi</td>
                                    <td style="background-color: #9e9ea1;">Sa</td>
                                    <td style="background-color: #9e9ea1;">Do</td>
                                    <td>Lu</td>
                                    <td>Ma</td>
                                    <td>Mi</td>
                                    <td>Ju</td>
                                    <td>Vi</td>
                                    <td style="background-color: #9e9ea1;">Sa</td>
                                    <td style="background-color: #9e9ea1;">Do</td>
                                    <td>Lu</td>
                                  </tr>
                                  <tr>
                                    <td style="background-color: #9e9ea1;">1</td>
                                    <td style="background-color: #9e9ea1;">2</td>
                                    <td>3</td>
                                    <td>4</td>
                                    <td>5</td>
                                    <td>6</td>
                                    <td>7</td>
                                    <td style="background-color: #9e9ea1;">8</td>
                                    <td style="background-color: #9e9ea1;">9</td>
                                    <td>10</td>
                                    <td>11</td>
                                    <td>12</td>
                                    <td>13</td>
                                    <td>14</td>
                                    <td style="background-color: #9e9ea1;">15</td>
                                    <td style="background-color: #9e9ea1;">16</td>
                                    <td>17</td>
                                    <td>18</td>
                                    <td>19</td>
                                    <td>20</td>
                                    <td>21</td>
                                    <td style="background-color: #9e9ea1;">22</td>
                                    <td style="background-color: #9e9ea1;">23</td>
                                    <td>24</td>
                                    <td>25</td>
                                    <td>26</td>
                                    <td>27</td>
                                    <td>28</td>
                                    <td style="background-color: #9e9ea1;">29</td>
                                    <td style="background-color: #9e9ea1;">30</td>
                                    <td>31</td>
                                  </tr>
                                                    </thead>
                                <tbody>
                                  <tr>
                                    <td>1</td>
                                    <td>Ginecología</td>
                                    <td>MAIRE, MATIAS FRANCISCO</td>
                                    <td>20-33482655-5</td>
                                    <td>Afectado</td>
                                    <td>A(J-2)</td>
                                    <td style="background-color: aqua;">COMPENSATORIO</td>
                                    <td style="background-color: #9e9ea1;"></td>
                                    <td style="background-color: #9e9ea1;">24</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td style="background-color: #9e9ea1;"></td>
                                    <td style="background-color: #9e9ea1;">24</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td style="background-color: #9e9ea1;"></td>
                                    <td style="background-color: #9e9ea1;">24</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td style="background-color: #9e9ea1;"></td>
                                    <td style="background-color: aqua;"></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td style="background-color: #9e9ea1;"></td>
                                    <td style="background-color: #9e9ea1;">24</td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <td>2</td>
                                    <td>Terapia</td>
                                    <td>DIAZ, CLAUDIA SILVINA </td>
                                    <td>27-25064550-9</td>
                                    <td>Planta Permanente</td>
                                    <td>A(J-2)</td>
                                    <td>-</td>
                                    <td style="background-color: #9e9ea1;"></td>
                                    <td style="background-color: #9e9ea1;"></td>
                                    <td></td>
                                    <td></td>
                                    <td>24</td>
                                    <td></td>
                                    <td></td>
                                    <td style="background-color: #9e9ea1;"></td>
                                    <td style="background-color: #9e9ea1;"></td>
                                    <td></td>
                                    <td></td>
                                    <td>24</td>
                                    <td></td>
                                    <td></td>
                                    <td style="background-color: #9e9ea1;"></td>
                                    <td style="background-color: #9e9ea1;"></td>
                                    <td></td>
                                    <td></td>
                                    <td>24</td>
                                    <td></td>
                                    <td></td>
                                    <td style="background-color: #9e9ea1;"></td>
                                    <td style="background-color: #9e9ea1;"></td>
                                    <td></td>
                                    <td></td>
                                    <td>24</td>
                                    <td></td>
                                    <td></td>
                                    <td style="background-color: #9e9ea1;"></td>
                                    <td style="background-color: #9e9ea1;"></td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <td>3</td>
                                    <td>Cirugía</td>
                                    <td>JORGE, PABLO ESTEBAN</td>
                                    <td>20-26793954-4</td>
                                    <td>Planta Permanente</td>
                                    <td>A(J-2)</td>
                                    <td style="background-color: #e9d949;">ART. 57°</td>
                                    <td style="background-color: #9e9ea1;"></td>
                                    <td style="background-color: #9e9ea1;"></td>
                                    <td>24</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td style="background-color: #9e9ea1;"></td>
                                    <td style="background-color: #9e9ea1;"></td>
                                    <td style="background-color: #e9d949;">24</td>
                                    <td style="background-color: #e9d949;"></td>
                                    <td style="background-color: #e9d949;"></td>
                                    <td style="background-color: #e9d949;"></td>
                                    <td style="background-color: #e9d949;"></td>
                                    <td style="background-color: #e9d949;"></td>
                                    <td style="background-color: #e9d949;"></td>
                                    <td style="background-color: #e9d949;">24</td>
                                    <td style="background-color: #e9d949;"></td>
                                    <td style="background-color: #e9d949;"></td>
                                    <td style="background-color: #e9d949;"></td>
                                    <td style="background-color: #e9d949;"></td>
                                    <td style="background-color: #e9d949;"></td>
                                    <td style="background-color: #e9d949;"></td>
                                    <td>24</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td style="background-color: #9e9ea1;"></td>
                                    <td style="background-color: #9e9ea1;"></td>
                                    <td>24</td>
                                  </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td>OBSERV.:</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
  <div class="col offset-1">
    <span class="ref-circulo circulo--finde-tabla"></span>&nbsp;<span class="ref ref-calendar-dia--finde-tabla">Fin de semana</span>
    <span class="ref-circulo circulo--feriado"></span>&nbsp;<span class="ref ref-calendar-dia--feriado">Asueto/Feriado</span>
  </div>
  <div class="col-auto">
    <button mat-fab extended color="basic" [matMenuTriggerFor]="menu2" ml-5>
    <mat-icon>get_app</mat-icon>
    Descargar
    </button>
    <mat-menu #menu2="matMenu">
    <button mat-menu-item>PDF</button>
    <button mat-menu-item>XLS</button>
    </mat-menu>
    <button mat-fab extended color="warn" routerLink="/ddjj-cargoyagrup-tot">
    <mat-icon>assignment_turned_in</mat-icon>
    Pase a DPH
    </button>
  </div>
  <div class="col-1">
  </div>
</div>

</div>-->