<div class="container">
    <section class="pt-4">
        <div class="container px-lg-5">
            <!-- Page Features-->
            <div class="row gx-lg-5">
                <div class="col-lg-6 col-xxl-4 mb-5" type="button" routerLink="/registro-diario">
                    <div class="card bg-light border-0 h-100">
                        <img class="img-fluid" src="/assets/img/registro-diario.png" alt="MDB Logo" loading="lazy"/>
                        <div class="card-body text-center p-4 p-lg-10 pt-0 pt-lg-0">
                            <div class=" text-white rounded-3 mb-4 mt-n4">                                
                            </div>
                            <h2 class="fs-4 fw-bold">REGISTRO DE ACTIVIDADES</h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-4 mb-5" type="button">
                    <div class="card bg-light border-0 h-100">
                        <img src="/assets/img/profesionales.png"
                                    alt="MDB Logo" loading="lazy" />
                        <div class="card-body text-center p-4 p-lg-10 pt-0 pt-lg-0">
                            <div class="feature bg-gradient text-white rounded-3 mb-4 mt-n4">
                            </div>
                            <br/>
                            <h2 class="fs-4 fw-bold">PROFESIONALES</h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-4 mb-5" type="button" routerLink="/daily-schedule">
                    <div class="card bg-light border-0 h-100">
                        <img src="/assets/img/cronograma.png" 
                                    alt="MDB Logo" loading="lazy" />
                        <div class="card-body text-center p-4 p-lg-10 pt-0 pt-lg-0">
                            <div class="feature bg-gradient text-white rounded-3 mb-4 mt-n4">  
                            </div>
                            <br/>
                            <h2 class="fs-4 fw-bold">CRONOGRAMAS</h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-4 mb-5" type="button">
                    <div class="card bg-light border-0 h-100">
                        <img src="/assets/img/guardias.png" alt="MDB Logo" loading="lazy" />
                        <div class="card-body text-center p-4 p-lg-10 pt-0 pt-lg-0">
                            <div class="feature bg-gradient text-white rounded-3 mb-4 mt-n4">  
                            </div>
                            <h2 class="fs-4 fw-bold">GUARDIAS</h2>                       
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-4 mb-5" type="button">
                    <div class="card bg-light border-0 h-100">
                        <img src="/assets/img/disponibilidad.png" alt="MDB Logo" loading="lazy" />
                        <div class="card-body text-center p-4 p-lg-10 pt-0 pt-lg-0">
                            <div class="feature bg-gradient text-white rounded-3 mb-4 mt-n4">
                            </div>
                            <h2 class="fs-4 fw-bold">DISPONIBILIDAD</h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-4 mb-5" type="button">
                    <div class="card bg-light border-0 h-100">
                        <img src="/assets/img/historial.png" alt="MDB Logo" loading="lazy" />            
                        <div class="card-body text-center p-4 p-lg-10 pt-0 pt-lg-0">
                            <div class="feature bg-gradient text-white rounded-3 mb-4 mt-n4">
                            </div>
                            <h2 class="fs-4 fw-bold">HISTORIAL</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>