<h2 mat-dialog-title>{{data ? 'Modificar' : 'Agregar'}} Legajo
    <h5 class="['required']Field">*Campos Obligatorios</h5>
  </h2>
  <mat-dialog-content class="mat-typography">
    <form [formGroup]="legajoForm" (ngSubmit)="saveLegajo()">

      <mat-form-field appearance="fill">
        <mat-label>Actual</mat-label>
        <mat-select formControlName="actual">
          <mat-option [value]="true">Si</mat-option>
          <mat-option [value]="false">No</mat-option>
        </mat-select>
        <mat-error *ngIf="legajoForm.get('actual')?.errors?.['required']">El campo es requerido.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Fecha Inicio</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="fechaInicio">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="legajoForm.get('fechaInicio')?.errors?.['required']">La fecha es requerida.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Fecha Fin</mat-label>
        <input matInput [matDatepicker]="picker2" formControlName="fechaFinal">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
        <mat-error *ngIf="legajoForm.get('fechaFinal')?.errors?.['required']">La fecha es requerida.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Legal</mat-label>
        <mat-select formControlName="legal">
          <mat-option [value]="true">Si</mat-option>
          <mat-option [value]="false">No</mat-option>
        </mat-select>
        <mat-error *ngIf="legajoForm.get('legal')?.errors?.['required']">El campo es requerido.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Matrícula Nacional</mat-label>
        <input matInput formControlName="matriculaNacional">
        <mat-error *ngIf="legajoForm.get('matriculaNacional')?.errors?.['required']">El n° de matrícula es requerido.</mat-error>
        <mat-error *ngIf="legajoForm.get('matriculaNacional')?.errors?.['pattern']">El n° de matrícula puede tener letras y números (entre 5 y 20 caracteres).</mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Matrícula Provincial</mat-label>
        <input matInput formControlName="matriculaProvincial">
        <mat-error *ngIf="legajoForm.get('matriculaProvincial')?.errors?.['required']">El n° de matrícula es requerido.</mat-error>
        <mat-error *ngIf="legajoForm.get('matriculaProvincial')?.errors?.['pattern']">El n° de matrícula puede tener letras y números (entre 5 y 20 caracteres).</mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Profesion</mat-label>
        <mat-select formControlName="profesion" [compareWith]="compareProfesion">
          <mat-option *ngFor="let profesion of profesiones" [value]="profesion" >{{ profesion.nombre }}</mat-option>
        </mat-select>
        <mat-error *ngIf="legajoForm.get('profesion')?.errors?.['required']">La profesión es requerida.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>U.D.O.</mat-label>
        <mat-select formControlName="udo" [compareWith]="compareEfector">
          <mat-option *ngFor="let udo of efectores" [value]="udo" >{{ udo.nombre }}</mat-option>
        </mat-select>
        <mat-error *ngIf="legajoForm.get('udo')?.errors?.['required']">La U.D.O. es requerida.</mat-error>
      </mat-form-field>

      
  
      <div mat-dialog-actions class="action mt-4">
        <button mat-raised-button color="primary" type="submit" [disabled]="!legajoForm.valid || !isModified()">
          {{data ? 'Modificar' : 'Agregar'}}
        </button>
        <button mat-raised-button color="secondary" type="button" (click)="cancel()">
          Cancelar
        </button>
      </div>
    </form>
  </mat-dialog-content>