.custom-header {
    display: flex;
    align-items: center;
    background-color: #37BBED;
    border-bottom: 1px solid #3ccbff;
  }
  
  .book-marker {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3ccbff;
    border-radius: 5px 0;
    margin-right: 18px; /* Espacio entre el marcador y el texto */
    position: relative;
    padding: 10px; /* Ajusta según el tamaño del contenido */
  }
  
  .book-marker::after {
    content: "";
    position: absolute;
    right: -20px; /* Ajusta según el tamaño de la punta */
    top: 80%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-bottom: 0 solid transparent;
    border-left: 25px solid #3ccbff; /* Color del fondo del marcador */
  }
  
  .marker-number {
    color: white;
    font-weight: bold;
    font-size: 17px; /* Ajusta el tamaño del número según sea necesario */
    text-align: center;
    line-height: 40px; /* Ajusta según el tamaño del contenido */
  }
  
  .mat-expansion-panel-header {
    padding: 0;
  }
  