<app-spinner></app-spinner>
<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="titulos">Modificar Legajo</div>
    </div>
    <div class="col-6 m mt-3 d-flex justify-content-end">
      <button mat-fab class="button-primary" matTooltip="Volver atrás" routerLink="/personal-legajo">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
    </div>
  </div>

  <div class="row">
    <h5 class="['required']Field">*Campos Obligatorios</h5>
  </div>

  <div class="row">
    <mat-dialog-content class="mat-typography">

      <form [formGroup]="legajoForm" (ngSubmit)="updateLegajo()">

        <mat-accordion class="example-headers-align">
          <!-- Panel 1 -->
          <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle id="panel1">
            <mat-expansion-panel-header class="custom-header">
              <mat-panel-title>
                <div class="book-marker">
                  <span class="marker-number">1</span>
                </div>
                <span class="negrita">Datos personal</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
        
            <mat-form-field appearance="fill" style="margin-top: 20px;">
              <mat-label>Persona</mat-label>
              <mat-select formControlName="persona" [compareWith]="compareFn">
                <mat-option *ngFor="let persona of personas" [value]="persona">{{ persona.nombre }}</mat-option>
              </mat-select>
              <mat-error *ngIf="legajoForm.get('persona')?.errors?.['required']">La persona es requerida.</mat-error>
            </mat-form-field>
        
            <mat-form-field appearance="fill">
              <mat-label>Profesión</mat-label>
              <mat-select formControlName="profesion" [compareWith]="compareFn">
                <mat-option *ngFor="let profesion of profesiones" [value]="profesion">{{ profesion.nombre }}</mat-option>
              </mat-select>
              <mat-error *ngIf="legajoForm.get('profesion')?.errors?.['required']">La profesión es requerida.</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Especialidades</mat-label>
              <mat-select formControlName="especialidades" multiple>
                <mat-option *ngFor="let especialidad of especialidades" [value]="especialidad.id">{{ especialidad.nombre
                  }}</mat-option>
              </mat-select>
            </mat-form-field>
        
            <mat-form-field appearance="fill">
              <mat-label>Cargo</mat-label>
              <mat-select formControlName="cargo" [compareWith]="compareFn">
                <mat-option *ngFor="let cargo of cargos" [value]="cargo">{{ cargo.nombre }}</mat-option>
              </mat-select>
              <mat-error *ngIf="legajoForm.get('cargo')?.errors?.['required']">El cargo es requerido.</mat-error>
            </mat-form-field>    

            <mat-form-field appearance="fill">
              <mat-label>Matrícula Nacional</mat-label>
              <input matInput formControlName="matriculaNacional">
              <mat-error *ngIf="legajoForm.get('matriculaNacional')?.errors?.['pattern']">El n° de matrícula puede tener letras
                y números (entre 5 y 20 caracteres).</mat-error>
            </mat-form-field>
        
            <mat-form-field appearance="fill">
              <mat-label>Matrícula Provincial</mat-label>
              <input matInput formControlName="matriculaProvincial">
              <mat-error *ngIf="legajoForm.get('matriculaProvincial')?.errors?.['pattern']">El n° de matrícula puede tener
                letras y números (entre 5 y 20 caracteres).</mat-error>
            </mat-form-field>
            
            <mat-action-row>
              <button mat-button color="primary" type="button" (click)="nextStep()">Siguiente</button>
            </mat-action-row>
          </mat-expansion-panel>
        
          <!-- Panel 2 -->
          <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle id="panel2">
            <mat-expansion-panel-header class="custom-header">
              <mat-panel-title>
                <div class="book-marker">
                  <span class="marker-number">2</span>
                </div>
                <span class="negrita">Situación de revista</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
        
            <mat-form-field appearance="fill" style="margin-top: 20px;">
              <mat-label>Agrupación</mat-label>
              <mat-select formControlName="agrupacion">
                <mat-option *ngFor="let agrup of agrupaciones" [value]="agrup.value">{{ agrup.viewValue }}</mat-option>
              </mat-select>
              <mat-error *ngIf="legajoForm.get('agrupacion')?.errors?.['required']">La agrupación es requerida.</mat-error>
            </mat-form-field>
      
            <mat-form-field appearance="fill">
              <mat-label>Categoría</mat-label>
              <mat-select formControlName="categoria" [compareWith]="compareFn2">
                <mat-option *ngFor="let categoria of categorias" [value]="categoria.id">{{ categoria.nombre }}</mat-option>
              </mat-select>
              <mat-error *ngIf="legajoForm.get('categoria')?.errors?.['required']">La categoría es requerida.</mat-error>
            </mat-form-field>
      
            <mat-form-field appearance="fill">
              <mat-label>Adicional</mat-label>
              <mat-select formControlName="adicional" [compareWith]="compareFn2">
                <mat-option *ngFor="let adicional of adicionales" [value]="adicional.id">{{ adicional.nombre }}</mat-option>
              </mat-select>
              <mat-error *ngIf="legajoForm.get('adicional')?.errors?.['required']">Adicional es requerido.</mat-error>
            </mat-form-field>
      
            <mat-form-field appearance="fill">
              <mat-label>Carga Horaria</mat-label>
              <mat-select formControlName="cargaHoraria" [compareWith]="compareFn2">
                <mat-option *ngFor="let cargaHoraria of cargasHorarias" [value]="cargaHoraria.id">{{ cargaHoraria.cantidad
                  }}</mat-option>
              </mat-select>
              <mat-error *ngIf="legajoForm.get('cargaHoraria')?.errors?.['required']">La carga horaria es
                requerida.</mat-error>
            </mat-form-field>
      
            <mat-form-field appearance="fill">
              <mat-label>Tipo de revista</mat-label>
              <mat-select formControlName="tipoRevista" [compareWith]="compareFn2">
                <mat-option *ngFor="let tipoRevista of tiposRevistas" [value]="tipoRevista.id">{{ tipoRevista.nombre
                  }}</mat-option>
              </mat-select>
              <mat-error *ngIf="legajoForm.get('tipoRevista')?.errors?.['required']">El tipo de revista es
                requerido.</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>U.D.O. (a la que pertenece el cargo)</mat-label>
              <mat-select formControlName="udo" [compareWith]="compareFn">
                <mat-option *ngFor="let udo of efectores" [value]="udo">{{ udo.nombre }}</mat-option>
              </mat-select>
              <mat-error *ngIf="legajoForm.get('udo')?.errors?.['required']">La U.D.O. es requerida.</mat-error>
            </mat-form-field>
          
            <mat-action-row>
              <button mat-button color="warn" type="button" (click)="prevStep()">Anterior</button>
              <button mat-button color="primary" type="button" (click)="nextStep()">Siguiente</button>
            </mat-action-row>
          </mat-expansion-panel>
        
          <!-- Panel 3 -->
          <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle id="panel3">
            <mat-expansion-panel-header class="custom-header">
              <mat-panel-title>
                <div class="book-marker">
                  <span class="marker-number">3</span>
                </div>
                <span class="negrita">Datos del legajo</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
        
            <mat-form-field appearance="fill" style="margin-top: 20px;">
              <mat-label>Actual</mat-label>
              <mat-select formControlName="actual">
                <mat-option [value]="true">Si</mat-option>
                <mat-option [value]="false">No</mat-option>
              </mat-select>
              <mat-error *ngIf="legajoForm.get('actual')?.errors?.['required']">El campo es requerido.</mat-error>
            </mat-form-field>
        
            <mat-form-field appearance="fill">
              <mat-label>Legal</mat-label>
              <mat-select formControlName="legal">
                <mat-option [value]="true">Si</mat-option>
                <mat-option [value]="false">No</mat-option>
              </mat-select>
              <mat-error *ngIf="legajoForm.get('legal')?.errors?.['required']">El campo es requerido.</mat-error>
            </mat-form-field>
        
            <mat-form-field appearance="fill">
              <mat-label>Fecha Inicio</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="fechaInicio">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="legajoForm.get('fechaInicio')?.errors?.['required']">La fecha es requerida.</mat-error>
            </mat-form-field>
        
            <mat-form-field appearance="fill">
              <mat-label>Fecha Fin</mat-label>
              <input matInput [matDatepicker]="picker2" formControlName="fechaFinal">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
              <!-- <mat-error *ngIf="legajoForm.get('fechaFinal')?.errors?.['required']">La fecha es requerida.</mat-error> -->
            </mat-form-field>
            
            <mat-action-row>
              <button mat-button color="warn" type="button" (click)="prevStep()">Anterior</button>
              <button mat-raised-button color="primary" type="submit" [disabled]="!legajoForm.valid || !isModified()">
                Modificar Legajo
              </button>
            </mat-action-row>
          </mat-expansion-panel>
        </mat-accordion>
      
        <div mat-dialog-actions class="action mt-4">
          <button mat-raised-button color="secondary" type="button" (click)="cancel()">
            Cancelar
          </button>
        </div>
      </form>
    </mat-dialog-content>
  </div>
</div>