<h2 mat-dialog-title>{{esEdicion ? 'Modificar' : 'Agregar'}} Revista
  <h5 class="requiredField">*Campos Obligatorios</h5>
</h2>

<form [formGroup]="revistaForm!" (ngSubmit)="saveRevista()">
  <mat-dialog-content>
    <div class="row" style="margin-top: 20px">
      <div class="col">
        <mat-form-field appearance="fill">
          <mat-label>Agrupación</mat-label>
          <mat-select formControlName="agrupacion">
            <mat-option *ngFor="let agrupacion of agrupaciones" [value]="agrupacion.name">
              {{ agrupacion.displayName }} <!-- Muestra el displayName -->
            </mat-option>
          </mat-select>
          <mat-error *ngIf="revistaForm?.get('agrupacion')?.invalid && revistaForm?.get('agrupacion')?.touched">
            El campo es obligatorio.
          </mat-error>
        </mat-form-field>
      </div>
    </div>
      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>Categoria</mat-label>
            <mat-select formControlName="categoria" [compareWith]="compareCategoria">
              <mat-option *ngFor="let categoria of categorias" [value]="categoria">
                {{ categoria.nombre }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="revistaForm?.get('categoria')?.invalid && revistaForm?.get('categoria')?.touched">
              El campo es obligatorio.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div *ngIf="
  !(revistaForm?.get('categoria')?.value?.id === categoria24HS?.id || 
    revistaForm?.get('cargaHoraria')?.value?.id === cargaHoraria24?.id || 
    revistaForm?.get('cargaHoraria')?.value?.id === cargaHoraria30?.id)">
  
  <div class="row">
    <mat-form-field>
      <mat-label>Adicional</mat-label>
      <mat-select formControlName="adicional" [compareWith]="compareAdicional">
        <mat-option *ngFor="let adicional of adicionales" [value]="adicional">
          {{ adicional.nombre }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="revistaForm.get('adicional')?.hasError('required')">Este campo es obligatorio.</mat-error>
    </mat-form-field>
  </div>
</div>

      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>Carga horaria</mat-label>
            <mat-select formControlName="cargaHoraria" [compareWith]="compareCargaHoraria">
              <mat-option *ngFor="let cargaHoraria of cargaHoraria" [value]="cargaHoraria">
                {{ cargaHoraria.cantidad }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="revistaForm?.get('cargaHoraria')?.invalid && revistaForm?.get('cargaHoraria')?.touched">
              El campo es obligatorio.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>Tipo Revista</mat-label>
            <mat-select formControlName="tipoRevista" [compareWith]="compareTipoRevista">
              <mat-option *ngFor="let tipoRevista of tipoRevista" [value]="tipoRevista">
                {{ tipoRevista.nombre }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="revistaForm?.get('tipoRevista')?.invalid && revistaForm?.get('tipoRevista')?.touched">
              El campo es obligatorio.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div mat-dialog-actions class="action mt-4">
        <button mat-raised-button color="primary" type="submit" [disabled]="!revistaForm.valid">
          {{esEdicion ? 'Modificar' : 'Agregar'}}
        </button>
        <button mat-raised-button color="secondary" type="button" (click)="cancelar()">
          Cancelar
        </button>
      </div>
    </mat-dialog-content>
  </form>