.table {
    width: 100%;
  }
  
  .boton {
    padding: 20px 20px 0 0;
    display: block;
  }
  
  .mat-mdc-form-field {
    width: 100%;
    margin-right: 10px;
  }
  
  .mat-mdc-table tr.mat-mdc-row:hover {
    background-color: #eee;
  }
  
  .btnEdit, .btnRemove, .btnDetail, .btnDh {
    cursor: pointer;
    margin: 10px;
  }
  
  .btnEdit{
  color: green;
  margin-left: 0px;
  }
  
  .btnRemove{
  color:#9b0a0a;
  }