<h2 mat-dialog-title>Editar Factura</h2>
<mat-dialog-content [formGroup]="facturaForm">
  <mat-form-field appearance="fill">
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="nombreTitular">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Apellido</mat-label>
    <input matInput formControlName="apellidoTitular">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>DNI</mat-label>
    <input matInput type="number" formControlName="dniTitular">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>CUIL</mat-label>
    <input matInput formControlName="cuilTitular">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Tipo</mat-label>
    <mat-select formControlName="tipo">
      <mat-option value="A">A</mat-option>
      <mat-option value="B">B</mat-option>
      <mat-option value="C">C</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Condición fiscal</mat-label>
    <mat-select formControlName="contribuyente">
      <mat-option value="RESPONSABLE_INSCRIPTO">RESPONSABLE INSCRIPTO</mat-option>
      <mat-option value="MONOTRIBUTISTA">MONOTRIBUTISTA</mat-option>
      <mat-option value="CONSUMIDOR_FINAL">CONSUMIDOR FINAL</mat-option>
      <mat-option value="EXENTO">EXENTO</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Punto de Venta</mat-label>
    <input matInput type="number" formControlName="puntoVenta">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Número de Factura</mat-label>
    <input matInput type="number" formControlName="numeroFactura">
  </mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Fecha Emisión</mat-label>
  <input matInput [matDatepicker]="picker" formControlName="fechaEmision">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<mat-form-field appearance="fill">
    <mat-label>Monto</mat-label>
    <input matInput type="number" formControlName="monto">
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-flat-button color="primary" (click)="onSave()">Guardar</button>
  <button mat-flat-button color="warn" (click)="onCancel()">Cancelar</button>
</mat-dialog-actions>
