<h1 mat-dialog-title>DETALLE
    <h5>HOSPITAL</h5>
  </h1>
  <mat-dialog-content>
    <table class="table">
        <tbody>
          <tr>
            <th scope="row">Nombre</th>
            <td>{{hospital.nombre}}</td>
          </tr>
          <tr>
            <th scope="row">Domicilio</th>
            <td>{{hospital.domicilio}}</td>
          </tr>
          <tr>
            <th scope="row">Teléfono</th>
            <td>{{hospital.telefono}}</td>
          </tr>
          <tr>
            <th scope="row">Observaciones</th>
            <td>{{hospital.observacion}}</td>
          </tr>
          <tr>
            <th scope="row">Region</th>
            <td>{{hospital.region.nombre}}</td>
          </tr>
          <tr>
            <th scope="row">Localidad</th>
            <td>{{hospital.localidad.nombre}}</td>
          </tr>
          <tr>
            <th scope="row">Es Cabecera</th>
            <td>{{hospital.esCabecera ? 'Si' : 'No'}}</td>
          </tr>
          <tr>
            <th scope="row">Sello</th>
            <td>
              <img 
                *ngIf="hospital.url" 
                [src]="imageUrl" 
                alt="Imagen del Hospital" 
                style="max-width: 200px; height: auto; border: 1px solid #ddd; border-radius: 4px; padding: 5px;"
                (load)="onImageLoad($event)"
                (error)="onImageError($event)"
              >
              <span *ngIf="!hospital.url" style="color: #666; font-style: italic;">Sin imagen</span>
            </td>
          </tr>
          <tr>
            <th scope="row">Servicios</th>
            <td>
              <ng-container *ngIf="$any(hospital).servicios?.length; else sinServicios">
                <ul style="margin: 0; padding-left: 18px;">
                  <li *ngFor="let s of $any(hospital).servicios">
                    {{ s?.descripcion || s?.nombre || ('ID ' + s?.id) }}
                  </li>
                </ul>
              </ng-container>
              <ng-template #sinServicios>
                <span style="color: #666; font-style: italic;">Sin servicios</span>
              </ng-template>
            </td>
          </tr>
        </tbody>
      </table>
    <div mat-dialog-actions class="action mt-4">
        <button mat-raised-button color="primary" type="button" mat-button (click)="cerrar()">Cerrar</button>
    </div>
  </mat-dialog-content>


