<h2 mat-dialog-title>{{id !=-1 ? 'MODIFICAR' : 'AGREGAR'}} PROFESION
    <h5 class="requiredField">*Campos Obligatorios</h5>
  </h2>
  <form [formGroup]="formVal" (ngSubmit)="id != -1 ? onUpdate() : onCreate()" novalidate #f="ngForm"  >
    <mat-dialog-content>

      <div class="row" style="margin-top: 20px">
        <div class="col">
            <mat-label>Categoría</mat-label>
            <mat-radio-group matInput *ngIf="id != -1" formControlName="asistencial" [(ngModel)]="profesion.asistencial" name="asistencial" id="asistencial">
              <mat-radio-button [value]="true" color="primary">Si</mat-radio-button>
              <mat-radio-button [value]="false" color="primary">No</mat-radio-button>
            </mat-radio-group>
            <mat-radio-group matInput *ngIf="id == -1" formControlName="asistencial" [(ngModel)]="asistencial" name="asistencial" id="asistencial">
              <mat-radio-button [value]="true" color="primary">Si</mat-radio-button>
              <mat-radio-button [value]="false" color="primary">No</mat-radio-button>
            </mat-radio-group>
            <mat-error *ngIf="getAsistencial.hasError('required')">
              La categoría es obligatoria
            </mat-error>
        </div>
      </div>
  
      <div class="row" style="margin-top: 20px">
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="Ingresar nombre de la Profesión" *ngIf="id != -1" formControlName="nombre" autocomplete="off" id="nombre" name="nombre" [(ngModel)]="profesion.nombre"/>
            <input matInput placeholder="Ingresar nombre de la Profesión" *ngIf="id == -1" formControlName="nombre" autocomplete="off" id="nombre" name="nombre" [(ngModel)]="nombre"/>
            <mat-error *ngIf="getNombre.hasError('required')">
              El nombre es obligatorio
            </mat-error>
            <mat-error *ngIf="getNombre.hasError('pattern')">
              El nombre debe tener solo letras y entre 2 y 50 caracteres
            </mat-error>

          </mat-form-field>
        </div>
      </div>
    </mat-dialog-content>
    <div mat-dialog-actions class="action mt-4">
      <button mat-raised-button class="btnCancel" type="button" mat-button (click)="cancel()">Cancelar
      </button>
      <button mat-raised-button color="primary" [disabled]="formVal.invalid || compararValores()">{{id === -1 ? 'Guardar' : 'Modificar'}}</button>
    </div>
  </form>