<h2 mat-dialog-title>{{id === -1 ? 'AGREGAR' : 'MODIFICAR'}} PROFESION
    <h5 class="requiredField">*Campos Obligatorios</h5>
  </h2>
  <form (ngSubmit)="id === -1 ? onCreate() : onUpdate()" novalidate #f="ngForm" *ngIf="profesion">
    <mat-dialog-content>

      <div class="row" style="margin-top: 20px">
        <div class="col">
          <mat-label>Categoría: </mat-label>
          <mat-radio-group matInput id="asistencial" name="asistencial" [(ngModel)]="profesion.asistencial" required>
            <mat-radio-button [value]="true" color="primary">Asistencial</mat-radio-button>
            <mat-radio-button [value]="false" color="primary">No asistencial</mat-radio-button>
          </mat-radio-group>        </div>
      </div>
  
      <div class="row" style="margin-top: 20px">
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="Ingresar nombre de la Profesión" autocomplete="off" id="nombre" name="nombre" [(ngModel)]="profesion.nombre" required/>
          </mat-form-field>
        </div>
      </div>
    </mat-dialog-content>
    <div mat-dialog-actions class="action mt-4">
      <button mat-raised-button class="btnCancel" type="button" mat-button (click)="cancel()">Cancelar
      </button>
      <button mat-raised-button color="primary" [disabled]="!f.valid">{{id === -1 ? 'Guardar' : 'Modificar'}}</button>
    </div>
  </form>