<h1 mat-dialog-title>Adicional:</h1>
<mat-dialog-content>
    <table mat-table [dataSource]="dataSource" matSort #empTbSort="matSort" class="mat-elevation-z6">
        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="negrita">
                Nombre
                <button mat-icon-button matTooltip="Agregar nuevo" (click)="openCreate()">
                    <mat-icon>playlist_add</mat-icon>
                </button>
            </th>
            <td mat-cell *matCellDef="let adicional"> {{adicional.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef class="negrita"></th>
            <td mat-cell *matCellDef="let adicional" class="cell-actions">
                <button mat-icon-button matTooltip="Editar {{adicional.nombre}}" (click)="openEdit(adicional)">
                    <mat-icon class="btnEdit">edit</mat-icon>
                </button>
                <button mat-icon-button matTooltip="Eliminar {{adicional.nombre}}" (click)="delete(adicional)">
                    <mat-icon class="btnRemove">delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div mat-dialog-actions class="action mt-4">
        <button mat-raised-button color="primary" type="button" mat-button (click)="cerrar()">Cerrar</button>
    </div>
</mat-dialog-content>
