<div class="container">
    <div class="row">
      <div class="col">
        <div class="titulos">.:: CONFIGURACIONES</div>
      </div>
    </div>
    <div class="row justify-content-center mt-4 mb-4">
        <div class="col">
            <mat-divider></mat-divider>
            <section>
            <div class="example-label">Datos territorio</div>
            <div class="example-button-row">
                <button mat-raised-button color="primary" routerLink="/pais">Pais</button>
                <button mat-raised-button color="accent">Provincia</button>
                <button mat-raised-button color="warn">Departamento</button>
                <button mat-raised-button>Localidad</button>
            </div>
            </section>
            <mat-divider></mat-divider>
        </div>
    </div>
    </div>
