<h2 mat-dialog-title>{{esEdicion ? 'Modificar' : 'Agregar'}} Servicio
  <h5 class="requiredField">*Campos Obligatorios</h5>
</h2>


<form [formGroup]="servicioForm" (ngSubmit)="saveServicio()">
  <mat-dialog-content>
    <div class="row" style="margin-top: 20px">
      <div class="col">
        <mat-form-field appearance="fill">
          <mat-label>Descripción</mat-label>
          <input matInput formControlName="descripcion" cdkFocusInitial (input)="OnDescripcionInput($event)">
          <mat-error *ngIf="servicioForm?.get('descripcion')?.invalid && servicioForm?.get('descripcion')?.touched">
            El campo es obligatorio y debe tener solo letras (entre 2 y 50 caracteres).
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row" style="margin-top: 20px">
      <div class="col">
        <mat-form-field appearance="fill">
          <mat-label>Nivel</mat-label>
            <mat-select formControlName="nivel">
            
              <mat-option *ngFor="let n of [1,2,3,4]" [value]="n">Nivel {{n}}</mat-option>
            </mat-select>
          <mat-error *ngIf="servicioForm?.get('nivel')?.invalid && servicioForm?.get('nivel')?.touched">
            El campo es obligatorio.
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row" style="margin-top: 20px">
      <div class="col">
        <mat-form-field appearance="fill">
          <mat-label>Crítico</mat-label>
            <mat-select formControlName="critico">
          
              <mat-option [value]="true">Sí</mat-option>
              <mat-option [value]="false">No</mat-option>
            </mat-select>
          <mat-error *ngIf="servicioForm?.get('critico')?.invalid && servicioForm?.get('critico')?.touched">
            Indicar si el servicio es critico o no.
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row" style="margin-top: 20px">
      <div class="col">
        <mat-form-field appearance="fill">
          <mat-label>Ministerios</mat-label>
          <mat-select formControlName="idMinisterios" multiple (selectionChange)="onMinisteriosSelectionChange($event.value)">
            <mat-option class="select-all-option" [value]="selectAllValue" disableRipple>
              <span class="text-primary font-medium">
                {{ allMinisteriosSelected ? 'Deseleccionar todos' : 'Seleccionar todos' }}
              </span>
            </mat-option>
            <mat-divider></mat-divider>

            <mat-option *ngFor="let m of ministerios" [value]="m.id">
              {{ m.nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="row" style="margin-top: 20px">
      <div class="col">
        <mat-form-field appearance="fill">
          <mat-label>Hospitales</mat-label>
          <mat-select formControlName="idHospitales" multiple (selectionChange)="onHospitalesSelectionChange($event.value)">
            <mat-option class="select-all-option" [value]="selectAllValue" disableRipple>
              <span class="text-primary font-medium">
                {{ allHospitalesSelected ? 'Deseleccionar todos' : 'Seleccionar todos' }}
              </span>
            </mat-option>
            <mat-divider></mat-divider>

            <mat-option *ngFor="let h of hospitales" [value]="h.id">
              {{ h.nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="row" style="margin-top: 20px">
      <div class="col">
        <mat-form-field appearance="fill">
          <mat-label>Hospital para listar CAPS</mat-label>
          <mat-select
            formControlName="hospitalParaCaps"
            multiple
            (selectionChange)="onHospitalParaCapsSelectionChange($event.value)"
          >
            <mat-option class="select-all-option" [value]="selectAllValue" disableRipple>
              <span class="text-primary font-medium">
                {{ allHospitalParaCapsSelected ? 'Deseleccionar todos' : 'Seleccionar todos' }}
              </span>
            </mat-option>
            <mat-divider></mat-divider>

            <mat-option *ngFor="let h of hospitales" [value]="h.id">
              {{ h.nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="row" style="margin-top: 20px">
      <div class="col">
        <mat-form-field appearance="fill">
          <mat-label>CAPS</mat-label>
          <mat-select
            formControlName="idCaps"
            multiple
            (selectionChange)="onCapsSelectionChange($event.value)"
          >
            <mat-option class="select-all-option" [value]="selectAllValue" disableRipple>
              <span class="text-primary font-medium">
                {{ allCapsSelected ? 'Deseleccionar todos' : 'Seleccionar todos' }}
              </span>
            </mat-option>
            <mat-divider></mat-divider>

            <mat-option *ngFor="let c of caps" [value]="c.id">
              {{ c.nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div mat-dialog-actions class="action mt-4">
      <button mat-raised-button color="primary" type="submit" [disabled]="!isModified() || servicioForm.invalid">
        {{esEdicion ? 'Modificar' : 'Agregar'}}
      </button>
      <button mat-raised-button color="secondary" type="button" (click)="cancelar()">
        Cancelar
      </button>
    </div>
  </mat-dialog-content>