<h2 mat-dialog-title>{{id == -1 ? 'AGREGAR' : 'MODIFICAR'}} PROVINCIA
  <h5 class="requiredField">*Campos Obligatorios</h5>
</h2>
<form [formGroup]="MyForm" (ngSubmit)="id == -1 ? onCreate() : onUpdate()" novalidate #f="ngForm" *ngIf="provincia">
  <mat-dialog-content>
    <div class="row">
      <div class="col">
        <mat-form-field appearance="fill">
          <mat-label>Gentilicio</mat-label>
          <input matInput placeholder="Ingresar gentilicio" autocomplete="off" formControlName="gentilicio" id="gentilicio" name="gentilicio" [(ngModel)]="id == -1 ? gentilicio : provincia.gentilicio"/>
        </mat-form-field>
        <div class="error">
          <span *ngIf="
              MyForm.get('gentilicio')?.hasError('required') &&
              MyForm.get('gentilicio')?.touched
            ">
            <h5>El nombre es un campo requerido</h5>
          </span>
          <span *ngIf="
          MyForm.get('gentilicio')?.hasError('pattern') &&
          MyForm.get('gentilicio')?.touched
          ">
            <h5>El nombre solo debe contener letras</h5>
          </span>
        </div>
      </div>
    </div>

    <div class="row" style="margin-top: 20px">
      <div class="col">
        <mat-form-field appearance="fill">
          <mat-label>Nombre</mat-label>
          <input matInput placeholder="Ingresar nombre de la provincia" autocomplete="off" formControlName="nombre" id="nombre" name="nombre" [(ngModel)]="id == -1 ? nombre: provincia.nombre"/>
        </mat-form-field>
        <div class="error">
          <span *ngIf="
              MyForm.get('nombre')?.hasError('required') &&
              MyForm.get('nombre')?.touched
            ">
            <h5>El nombre es un campo requerido</h5>
          </span>
          <span *ngIf="
          MyForm.get('nombre')?.hasError('pattern') &&
          MyForm.get('nombre')?.touched
          ">
            <h5>El nombre solo debe contener letras</h5>
          </span>
        </div>
      </div>
    </div>

    <div class="row" style="margin-top: 20px">
      <div class="col">
        <mat-form-field appearance="fill">
          <mat-label>País</mat-label>
          <mat-select formControlName="idPais" id="idPais" name="idPais" [(ngModel)]="id == -1 ? idPais : provincia.pais.id" (selectionChange)="paisChange()">
            <mat-option *ngFor="let pais of paises" [value]="pais.id">
              {{ pais.nombre }}
            </mat-option>
          </mat-select>          
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>
  <div mat-dialog-actions class="action mt-4">
    <button mat-raised-button class="btnCancel" type="button" mat-button (click)="cancel()">Cancelar
    </button>
    <button mat-raised-button color="primary" [disabled]="MyForm.invalid || !formChanged">{{id == -1 ? 'Guardar' : 'Modificar'}}</button>
  </div>
</form>
