<h2 mat-dialog-title>MODIFICAR PROVINCIA
    <h5 class="requiredField">*Campos Obligatorios</h5>
  </h2>
  <form (ngSubmit)="onUpdate()" novalidate #f="ngForm" *ngIf="provincia">
    <mat-dialog-content>
      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>Gentilicio</mat-label>
            <input matInput placeholder="Ingresar gentilicio del País" autocomplete="off" id="gentilicio" name="gentilicio" [(ngModel)]="provincia.gentilicio" required/>
          </mat-form-field>
        </div>
      </div>

      <div class="row" style="margin-top: 20px">
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>Nombre de la provincia</mat-label>
            <input matInput placeholder="Ingresar Nombre de la Provincia" autocomplete="off" id="nombre" name="nombre" [(ngModel)]="provincia.nombre" required/>
          </mat-form-field>
        </div>
      </div>

      <div class="row" style="margin-top: 20px">
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>Nombre de la provincia</mat-label>
            <input matInput placeholder="Ingresar Nombre de la Provincia" autocomplete="off" id="id_pais" name="id_pais" [(ngModel)]="provincia.pais.id" required/>
          </mat-form-field>
        </div>
      </div>


      <div class="row" style="margin-top: 20px">
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>Nombre del País</mat-label>
            <mat-select id="id_pais" name="id_pais" [(ngModel)]="provincia.pais.nombre" required>
              <mat-option *ngFor="let pais of paises" [value]="pais.nombre">
                {{ pais.nombre }}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div>
      </div>
    </mat-dialog-content>
    <div mat-dialog-actions class="action mt-4">
      <button mat-raised-button class="btnCancel" type="button" mat-button (click)="cancel()">Cancelar
      </button>
      <button mat-raised-button color="primary" [disabled]="!f.valid">Modificar</button>
    </div>
  </form>
