<h1 mat-dialog-title>DETALLE
    <h5>País</h5>
</h1>
<mat-dialog-content>
    <table class="table" *ngIf="pais">
        <tbody>
          <tr>
            <th scope="row">ID</th>
            <td>{{pais.id}}</td>
          </tr>
          <tr>
            <th scope="row">Código</th>
            <td>{{pais.codigo}}</td>
          </tr>
          <tr>
            <th scope="row">Nacionalidad</th>
            <td>{{pais.nacionalidad}}</td>
          </tr>
          <tr>
            <th scope="row">Nombre País</th>
            <td>{{pais.nombre}}</td>
          </tr>
        </tbody>
      </table>

    <div mat-dialog-actions class="action mt-4">
        <button mat-raised-button class="btnCancel" type="button" mat-button (click)="cancel()">Cerrar</button>
    </div>
  </mat-dialog-content>