mat-accordion .mat-expansion-panel {
    box-shadow: none;
    border: none; 
  }
  
  mat-expansion-panel-header {
    border: none; 
  }

  ul {
    list-style-type: none;
    margin-top: 4px;
  }

  .mat-expansion-panel-header:hover {
    background-color: transparent !important; 
  }

  mat-table {
    table-layout: fixed; /* Esto hará que la tabla tenga un diseño fijo */
  }
  
  .mat-cell, .mat-header-cell {
    overflow: hidden; /* Esconde el desbordamiento */
    text-overflow: ellipsis; /* Muestra puntos suspensivos si el texto es demasiado largo */
  }